{% load i18n %}
{% if inside_basecontent %} 
    <li><a href="{{ basecontent.get_admin_absolute_url }}">{{ basecontent_opts.verbose_name|capfirst }} {{ basecontent }}</a></li>
    <li><a href="{{ basecontent.get_admin_absolute_url }}admin/section/document/">{% trans "Documents" %}</a></li>
    <li{% ifequal selected "main_menu" %} class="selected"{% endifequal %}>
      <a href="{{ basecontent.get_admin_absolute_url }}admin/section/menu/">{% trans "Main menu" %}</a>
    </li>
    <li{% ifequal selected "secondary_menu" %} class="selected"{% endifequal %}>
      <a href="{{ basecontent.get_admin_absolute_url }}admin/section/menu/secondary/">{% trans "Secondary menu" %}</a>
    </li>
    <li{% ifequal selected "interest_menu" %} class="selected"{% endifequal %}>
      <a href="{{ basecontent.get_admin_absolute_url }}admin/section/menu/interest/">{% trans "Interest menu" %}</a>
    </li>
    {% if not basecontent.appsection %}<li><a href="{{ basecontent.get_admin_absolute_url }}admin/section/customstyle/">{% trans "Custom style" %}</a></li>{% endif %}
{% endif %}
