.document-section-actions {
    display: none;
}

.document-section-actions-menu {
    width: 24px; 
    height: 24px;
    float: left;
    margin: 0px 0.5em 0px 0px;
    position: relative;
    overflow: hidden;
}

.document-section-actions-icons span,
.document-section-actions-icons a {
    display: block;
    text-align: center;
    width: 24px; 
    height: 24px;
    overflow: hidden;
}

.document-section-active .document-section-actions-menu {
    overflow: visible;
}

.document-section-active .document-section-actions-icons span,
.document-section-active .document-section-actions-icons a {
    background: white;
    border: 1px solid black;
    border-right-color: white;
    z-index: 30;
    position: relative;
}

.document-section-active .document-section-actions-icons .document-section-move-trigger {
    border-right-color: black;
    cursor: pointer;
}

.document-section-active .document-section-actions-icons .document-section-move-trigger img {
    margin-top: 4px;
}

.document-section {
    clear: left;
}

.document-section .mceEditor  {
    clear: both;
}

.document-section-actions {
    position: absolute;
    left: 25px;
    top: 0px;
    width: 300px;
    border: 1px solid black;
    background-color: white;
    padding: 1em;
    z-index: 10;
}

.document-section-actions ul li,
.document-section-actions ul {
    list-style-type: none;
    padding: 0px !important;
    margin: 0px !important;
}

.document-section-actions ul li {
    height: 25px;
    line-height: 25px;
}

.document-section-actions ul li a {
    padding-left: 25px;
    text-decoration: none !important;
}

.document-section-active {
    border: 1px solid #ffaa55;
    background-color: #ffeeaa;
}

.document-section-dragging .document-section-actions {
    display: none !important;
}

.document-section-dragging .document-section-actions-icons a {
    border-right-color: black;
}
    
.document-section-dragging .document-section-actions-icons .document-section-move-trigger img {
    position: absolute;
    bottom: 0px;
    left: 5px;
}

.document-section-place-holder {
    background-color: #ffeecc;
    border: 1px dashed #eeddbb;
}

.document-section-edit {
    background: url(../../img/section/section_edit.png) no-repeat center left;
}

.document-section-delete {
    background: url(../../img/section/section_delete.png) no-repeat center left;
}

.document-section-insert {
    background: url(../../img/section/section_insert.png) no-repeat center left;
}

.document-section-comments-wrap1 {
    float: left;
    background: url(../../img/section/section_comment2.gif) no-repeat top right;
    margin-right: 1em;
}

.document-section-comments-wrap2 {
    float: left;
    height: 24px;
    background: url(../../img/section/section_comment1.gif) no-repeat top left;
    text-align: center;
    padding: 0px 8px;
    font-size: 12px;
    line-height: 18px;
}

.collab-comment-trigger {
}

.collab-translation-trigger a {
    background: url(../../img/section/section_translate.png) no-repeat center left;
}

.document-section-body-editable-over {
    background-color: #ccf4ff;
    cursor: pointer;
}
