.object-tools {
    margin-bottom:0.5em;
    margin-top:0em;
}

.object-tools li {
    margin-bottom: 0.5em;
}

.object-tools li.selected {
   background:transparent url(../img/admin/tool-left_over.gif) no-repeat scroll 0 0 !important;
}

.object-tools li.selected a {
   background: #5B80B2 url(../img/admin/tool-right_over.gif) no-repeat scroll top right !important;
}

.object-subtools {
   clear: both;
   margin-top: 7px;
   margin-bottom: 1em;
   float: right;
   width: 100%;
}

.object-subtools ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   float: right;
   background-color: #999999;
}

.object-subtools ul li {
   float: left;
   list-style-type: none;
   display: block;
   padding: 2px 5px;
   border-left: 1px solid white;
}

.object-subtools-bigger ul li a {
   padding: 0px 60px;
}

.object-subtools ul li a {
   color: white;
}

.object-tools li.selected span {
    float: left;
}

.object-tools li.selected span.selected-with-subtools {
    padding-bottom: 9px;
    background: white url(/media/img/subtools-arrow-down.gif) no-repeat bottom center;
}

.object-subtools ul li.selected {
   background-color: #5b80b2;
}

div.mini-googlemap {
   height: 150px;
   width: 200px;
}

.gmnoprint span {
   visibility: hidden;
}

.calendarbox .calendarnav-next-month,
.calendarbox .calendarnav-previous-month {
   position: absolute;
   top: 0px;
   font-weight: bold;
   font-size: 12px;
   padding-top: 1px;
   padding-bottom: 2px;
}

.calendarbox .calendarnav-previous-month {
   left: 17px;
}

.calendarbox .calendarnav-next-month {
   right: 17px;
}

.calendarbox .calendarnav-next-month,
.calendarbox .calendarnav-previous-month,
.calendarbox .calendarnav-previous,
.calendarbox .calendarnav-next {
   background: #c9dbed url(/admin_media/img/admin/default-bg.gif) repeat-x left bottom;
   color: white;
   padding-left: 0px;
   padding-right: 0px;
   text-align: center;
   height: 15px;
   width: 16px;
}

.calendarbox .calendarnav-next-month:hover,
.calendarbox .calendarnav-previous-month:hover,
.calendarbox .calendarnav-previous:hover,
.calendarbox .calendarnav-next:hover {
   background: none;
   background-color: #003366;
}

.module {
    clear:both;
}

.object-subtools {
    padding-top:0;
}

a.fadeingooglemap {
    color: #5b80b2;
}

a.fadeingooglemap:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hide {
    display: none;
}

#img_ajax_loader{
    height:16px;
}

a.ajax_geolocation{
    color:white;
    text-decoration: underline;

}

#id_input_ajax{
    font-size:9px;
    height:1.2em;
    width:40em;
}

.view_on_map {
    margin-left: 1em;
}

#global-languageselector{
    display: inline;
    padding-left: 0px;
}

#global-languageselector li a {
   background: url(/media/img/separador_drcha.gif) no-repeat center right;
   padding: 10px 15px;
}

ul#global-languageselector li.currentLangItem {
   border: 2px solid #FFA500;
   top: 1px;
   padding: 0px 0px 0px 2px;
}

#global-languageselector li form,
#global-languageselector li form input,
#global-languageselector li {
   display: inline;
   padding: 0px;
   margin: 0px;
   background: none;
}

#global-languageselector li {
   position: relative;
   padding-left: 1px;
}

form.languageform {
   display: inline;
}

form.languageform input {
   border: none;
}

span.span15 {
   padding-left: 15px;
}

span.span50 {
   padding-left: 50px;
}

img.plusMenu:hover,
img.minusMenu:hover {
   cursor: pointer;
}

tr.selected-row {
    background: #ffff99;
}

ul.insertOptions {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.insertOptions li {
    margin: 0px;
    padding: 0px;
    display: inline;
    margin-right: 2em;
}

.aligned label {
    width: auto;
}

div.search_form_filter_options_container {
   margin-left: 10em;
}

div.search_form_filter_container {
   margin-right: 1em;
   margin-bottom: 1em;
   float: left;
}

div.search_form_filter_container select {
   height: 200px;
}

div.search_form_filter_container label {
   float: none;
   display: block;
   margin-bottom: 0.5em;
   width: auto;
}

form .aligned p.errornote{
    margin-left: 0em;
}

input.withInternalLinkUrl {
    float: left;
}

a.internalLinkUrl {
    display: block;
    float: left;
    margin: 0px 1em;
    background: url(../js/tiny_mce_internal_links/images/internal_link.gif) no-repeat top left;
    width: 20px;
    height: 20px;
}

div.config_params_debug_container,
div.config_params_container {
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}

div.config_params_debug_container {
    border-left: 1px solid gray;
    padding-left: 2em;
}

div.config_params_debug_container label,
div.config_params_container label {
    display: block;
    float: none;
    margin-bottom: 0.5em;
    width: auto;
}