{% extends "tinyimages/base.html" %}
{% load i18n %}

{% block content %}
  <div class="image-form">
    <form method="post" action="" enctype="multipart/form-data">
      <table>
        {{ form }}
      </table>
      <input type="submit" value="{% trans "Send" %}" />
    </form>
  </div>

  {% block searcher %}
  <div class="image-searcher">
    <form action="" method="GET"><input type="text" name="query" /><input type="submit" name="searcher" value="{% trans "Search" %}" /></form>
  </div>
  {% endblock %}

  {% if message %}
  <div class="message-div">
    {{ message }}
  </div>
  {% endif %}


  <div class="image-list">
    {% if query %}{% trans "Showing files that contains" %}: {{ query }}. <a href="?">{% trans "Show all" %}</a>{%endif %}
    {% block message %}
    {% endblock %}
    {% for object in object_list %}
      <div class="tiny{% block object_type %}image{% endblock %}">
        <div class="{% cycle "itemodd" "itemeven" %}">
        {% block content_object %}
        {% endblock %}
        </div>
      </div>
    {% endfor %}
    <div style="clear: both">&nbsp;</div>
  </div>
  {% if is_paginated %}
    <div class="paginator">
      {% include "tinyimages/paginator.html" %}
    </div>
  {% endif %}
{% endblock %}
