{% load i18n %}
{% if noncontained %}
  {{ blocks|safe }}
{% else %}
<div class="blockContainer {{ block_type }}s {{ nondraggable }}">
  <span class="blockContainerPlace">{{ place_title }}</span>
  {{ blocks|safe }}
  <input type="hidden" class="blockPlace" value="{{ place }}">
  <input type="hidden" class="contentid" value="{{ content.id }}">
  <input type="hidden" class="sectionid" value="{{ section.id }}">
  <a style="display: none;" href="{% url add_block %}" class="add-block-in-container" title="{% trans "Add new block" %}">&nbsp;</a>
</div>
{% endif %}
