<div class="{{ block.placed_at }}Block block" id="{{ block.name }}">
<div class="blockInner">
 {% block blocktitle %}
   <h1>{{ block_title }}</h1>
 {% endblock %}
 <span class="blockHiddenTitle">{{ block_title }}</span>
 <div class="blockBody">
 {% block blockbody %}
   {# to override #}
 {% endblock %}
 </div>
 {% if block_content_relation %}
   <input type="hidden" value="{{ block_content_relation.id }}" id="{{ block.name }}ContentRelated" class="blockContentRelated" />
 {% else %}
   <input type="hidden" value="{{ block.id }}" id="{{ block.name }}Order" class="blockOrder" />
 {% endif %}
</div>
</div>
