{% load i18n %}
<div id="config-block">
  <form id="config-block-form" method="POST" action="{% url generate_blocks_configuration reg_block.id %}">
    {{ form }}
    <input type="hidden" name="blockid" value="{{ reg_block.id }}" />
    <input type="hidden" name="blockname"
           value="{{ block.name }}{% if is_related_block %}-related{% endif %}" />
    <div class="submit">
      <input type="submit" value="{% trans "Save configuration" %}" />
    </div>
  </form>
  <p><a href="{% url admin:block_registeredblock_change reg_block.id %}">{% trans "Go to admin" %}</a>
</div>
