<div {% block blockid %}id="{{ block_name }}{% if block_content_relation %}-related{% endif %}"{% endblock %}
     {% block blockclass %}class="{{ placed_at }}Block block {% if not block_content_relation %}blockGlobal{% else %}blockRelated{% endif %} {% if not has_config %}noconfig{% endif %} {% if fixed_place %}fixed{% endif %} {{ css_class }}"{% endblock %}>
 {% block blocktitle %}
   <h1>{{ block_title }}</h1>
 {% endblock %}
 <span class="blockHiddenTitle">{{ block_title }}</span>
 <div class="blockBody">
 {% block blockbody %}
   {# to override #}
 {% endblock %}
 </div>
 {% if not block_content_relation %}
   <input type="hidden" value="{{ block.id }}" class="blockId" />
 {% else %}
   <input type="hidden" value="{{ block_content_relation.id }}" class="blockId" />
 {% endif %}
</div>
