{% extends "batchadmin/change_list.html" %}
{% load adminmedia admin_list i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="/admin">{% trans "Home" %}</a> &rsaquo;
    <a href="/admin/{{ base_user_opts.app_label }}/">{% trans base_user_opts.app_label.title %}</a> &rsaquo;
    <a href="/admin/{{ base_user_opts.app_label }}/{{ base_user_opts.module_name }}/"> {{ base_user_opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    <a href="/admin/{{ base_user_opts.app_label }}/{{ base_user_opts.module_name }}/{{ base_user.id}}"> {{ base_user.username }}</a> &rsaquo;
    <a href=".">{% trans "Owned contents" %}</a>
</div>
{% endblock %}

{% block object-tools %}
  <ul class="object-tools">
    {% include "admin/auth/user/object_tools.html" %}
  </ul>
{% endblock %}
