{% extends "admin/index.html" %} 
{% load i18n %} 

{% if not is_popup %}

{% block breadcrumbs %}
<div class="breadcrumbs">
{% if inplugin %}
<a href="../../">{% trans "Home" %}</a> &rsaquo; 
<a href="../">{{ plugin_name|title }} {% trans "plugin administration" %}</a>
{% else %}
<a href="../">{% trans "Home" %}</a>
{% endif %}
&rsaquo;
{% for app in app_list %}
{% trans app.name %}
{% endfor %}</div>{% endblock %}

{% endif %} 
{% block content %}{% include "admin/inc.content_index.html" %}
{% endblock %}
{% block sidebar %}{% endblock %}
