<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<![if gte IE 6]><!-- Block all styles from IE5 and lower -->
<link rel="shortcut icon" href="{{ THEME_MEDIA_URL }}img/favicon.ico" type="image/gif" />
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}merengue/css/admin.css" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
<![endif]>
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";</script>

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery-ui-1.8.min.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery.smart_relations_object_tool.js"></script>
<script type="text/javascript">
  (function($) {
    $(document).ready(function () {
        // Google Maps unload
        if (typeof google != "undefined" && typeof google.maps != "undefined") {
            $(window).unload(function () {
                google.maps.Unload();
            });
        }
    });
  })(jQuery);
</script>

{% if request.testing %}
<script type="text/javascript">
    if (typeof TinyMCE_Engine != 'undefined') {
        TinyMCE_Engine.prototype.init=function(settings) { this.settings=settings; return;};
    }
</script>
{% endif %}

{% block extrahead %}{% endblock %}
</head>
{% load i18n admin_tags %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}merengueadmin{% endblock %} {% block extrabodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        {% block headerlogo %}
        <a href="/"><img id="merengue_logo" src="{{ MEDIA_URL }}merengue/img/admin/admin_logo.jpg" alt="{% trans "Merengue logo" %}" title="{% trans "Merengue logo" %}" /></a>
        {% endblock %}
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% if user.is_authenticated and user.is_staff %}
        <div id="user-tools">
            {% block userwelcome %}
                {% trans 'Welcome,' %} <strong>{% firstof user.first_name user.username %}</strong>. 
            {% endblock %}
            <ul id="global-languageselector">
                {% for lang in LANGUAGES %}
                    <li {% ifequal lang.0 LANGUAGE_CODE %}class="currentLangItem"{% endifequal %}>
                    <form id="languages-{{ lang.0 }}" class="languageform" action="{% url merengue.portal.views.set_language %}" method="post">
                        <input type="hidden" value="{{ lang.0 }}" name="language"/>
                        <input type="image" height="11" width="14" src="{{ MEDIA_URL }}merengue/img/flag-{{ lang.0 }}.gif" alt="{% trans 'Change language' %}"/>
                    </form>
                    </li>
                {% endfor %}
            </ul>
        {% block userlinks %}
          {% url django-admindocs-docroot as docsroot %}
          {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
          {% endif %}
          {% url admin:password_change as password_change_url %}
          {% if password_change_url %}
            <a href="{{ password_change_url }}">
          {% else %}
            <a href="{{ root_path }}password_change/">
          {% endif %}
          {% trans 'Change password' %}</a> /
          {% url admin:logout as logout_url %}
          {% if logout_url %}
            <a href="{{ logout_url }}">
          {% else %}
            <a href="{{ root_path }}logout/">
          {% endif %}
            {% trans 'Log out' %}</a>
        {% endblock %}
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block maintabs %}{% main_admin_tabs %}{% endblock %}
    {% block breadcrumbs %}<div class="breadcrumbs"><a href="/">{% trans 'Home' %}</a>{% if title %} &rsaquo; {{ title }}{% endif %}</div>{% endblock %}
    {% endif %}

    {% if messages %}
      <ul class="messagelist">{% for message in messages %}<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>{% endfor %}</ul>
    {% endif %}

    <!-- Content -->
    {% block contentwrapper %}
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    {% endblock %}
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
