{% load i18n %}

<div id="content-main" class="module-merengue">

<div id="content">
{% if app_list %}
    {% for app in app_list %}
        <h2>{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}</h2>
        <dl>
        {% for model in app.models %}
            <dt>
            {% if model.perms.change %}
              <a href="{{ relative_path }}{{ model.admin_url }}">{{ model.name }}</a>
            {% else %}
              {{ model.name }}
            {% endif %}
            </dt>
            <dd></dd>
        {% endfor %}
        </dl>
    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>
</div>
