{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumbs"><a href="../">
{% if inplugin %}
{% trans "Home" %}</a> &rsaquo; {{ plugin_name|title }} {% trans "plugin" %}
{% else %}
{% trans "Home" %}</a> &rsaquo; {% trans "Django admin" %}
{% endif %}
</div>
{% endblock %}

{% block content %}
{% if inplugin %}
{% with "" as relative_path %}
{% include "admin/inc.content_index.html" %}
{% endwith %}
{% else %}
{% with "../" as relative_path %}
{% include "admin/inc.content_index.html" %}
{% endwith %}
{% endif %}
{% endblock %}

