{% extends "admin/base_site.html" %}
{% load i18n permissions_tags transhette_tags %}

<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}merengue/css/merengueadmin.css" />
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery.admin-tabs-index.js"></script>
{% endblock %}

{% block coltype %}colMS colMSMerengueIndex{% endblock %}


{% block breadcrumbs %}{% endblock %}
{% block content_title %}{% endblock %}

{% block content %}
<div id="content-main">
<div id="content-merengue">
    <div class="module-merengue" id="contentmanagement">
      <dl>
        <dt>{% trans "Contents" %}</dt>
        <dd>
          <dl>
            <dt><a href="section/basesection/" title="{% trans "Browse by hierarchy" %}">{% trans "Browse by hierarchy" %}</a></dt>
            <dd>{% trans "Browse the site's contents by hierarchy." %}</dd>
            <dt><a href="{% url admin:models_index %}" title="{% trans "Browse by type" %}">{% trans "Browse by type" %}</a></dt>
            <dd>{% trans "Browse the site's contents by content type." %}</dd>
            <dt><a href="base/basecontent/" title="{% trans "Search" %}">{% trans "Search catalog" %}</a></dt>
            <dd>{% trans "Search the site's contents." %}</dd>
            <dt><a href="collection/" title="{% trans "Collections" %}">{% trans "Collections" %}</a></dt>
            <dd>{% trans "View, edit and delete the site's collections." %}</dd>
          </dl>
        </dd>
        <dt>{% trans "Navigation" %}</dt>
        <dd>
          <dl>
          {% ifhasperm 'manage_menu' %}
            <dt><a href="section/menu/" title="{% trans "Portal Menu" %}">{% trans "Portal Menu" %}</a></dt>
            <dd>{% trans "View, edit and delete the site's menus." %}</dd>
          {% endifhasperm %}
          {% ifhasperm 'manage_link' %}
            <dt><a href="portal/portallink/" title="{% trans "Portal links" %}">{% trans "Portal links" %}</a></dt>
            <dd>{% trans "View, edit and delete the site's primary and secondary links." %}</dd>
          {% endifhasperm %}
          </dl>
        </dd>
        {% if_can_access_transhette %}
          <dt><a href="{% url transhette-home %}" title="{% trans "Translate portal" %}">{% trans "Translate site" %}</a></dt>
          <dd>{% trans "Translate the site messages." %}</dd>
        {% endif_can_access_transhette %}
      </dl>
    </div>
    {% ifhasperm 'manage_site' %}
    <div class="module-merengue" id="sitebuilding">
      <dl>
        <dt><a href="block/registeredblock/?content__isnull=true" title="{% trans "Blocks" %}">{% trans "Blocks" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's blocks." %}</dd>
        <dt><a href="pluggable/registeredplugin/" title="{% trans "Plugins" %}">{% trans "Plugins" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's plugins." %}</dd>
        <dt><a href="theming/theme/" title="{% trans "Themes" %}">{% trans "Themes" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's themes." %}</dd>
        <dt><a href="workflow/workflow/" title="{% trans "Workflow" %}">{% trans "Workflow" %}</a></dt>
        <dd>{% trans "Manage the possible site's workflows." %}</dd>
        <dt><a href="action/registeredaction/" title="{% trans "Actions" %}">{% trans "Actions" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's actions." %}</dd>
        <dt><a href="registry/registereditem" title="{% trans "Registry" %}">{% trans "Registry" %}</a></dt>
        <dd>{% trans "Merengue registry" %}</dd>
        <dt><a href="sites/site/" title="{% trans "Sites" %}">{% trans "Sites" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's domains." %}</dd>
        <dt><a href="siteconfig/" title="{% trans "Save/restore configuration" %}">{% trans "Save/restore configuration" %}</a></dt>
        <dd>{% trans "Save/restore the site configuration (block, plugins, active theme, etc.)" %}</dd>
      </dl>
    </div>
    {% endifhasperm %}
    {% ifhasperm 'manage_user' %}
    <div class="module-merengue" id="usermanagement">
      <dl>
        <dt><a href="auth/group" title="{% trans "Groups" %}">{% trans "Groups" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's groups." %}</dd>
        <dt><a href="auth/user/" title="{% trans "Users" %}">{% trans "Users" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's users." %}</dd>
        <dt><a href="perms/role/" title="{% trans "Roles" %}">{% trans "Roles" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's roles." %}</dd>
        <dt><a href="perms/objectpermission/" title="{% trans "Permissions" %}">{% trans "Permissions" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's role permissions." %}</dd>
      </dl>
    </div>
    {% endifhasperm %}

{% ifhasperm 'manage_plugin_content' %}
    <div class="module-merengue" id="plugins">
     <dl>
      <dt><a href="pluggable/registeredplugin/" title="{% trans "Plugins" %}">{% trans "Plugins" %}</a></dt>
      <dd>{% trans "View, edit and delete the site's plugins." %}</dd>
  {% if plugins %}
      <dt>{% trans "Plugin custom administration interfaces" %}</dt>
      <dd>{% trans "Enabled plugins can define its own administration interfaces. These are the custom admins in your installed plugins:" %}
        <dl>
        {% for plug in plugins.values %}
          <dt><a href="{{ plug.app_url }}" title="{{ plug.name }}">{{ plug.name }}</a></dt>
          <dd>{{ plug.description }} ({{ plug.version }})</dd>
        {% endfor %}
        </dl>
      </dd>
     </dl>
    </div>
  {% endif %}
{% endifhasperm %}

</div> <!--- end content-merengue -->
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
  <div class="module" id="administrator-menu">
    <h2>{{ user.username }}</h2>
    <ul class="level1">
      <li><a href="review/reviewtask/">{% trans 'Review list' %}</a></li>
      <li><a href="perms/accessrequest/">{% trans 'Access request' %}</a></li>
      <li><a href="announcements/announcement/">{% trans 'Announcements' %}</a></li>
      <li><a href="{% url admin:django_admin %}">{% trans "Django admin" %}</a></li>
    </ul>
  </div>

  {% include "admin/inc.recentactions.html" %}
</div>

{% endblock %}
