{% extends "admin/base_site.html" %}
{% load i18n permissions_tags transhette_tags %}

<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}merengue/css/merengueadmin.css" />
{% endblock %}

{% block coltype %}colMS colMSMerengueIndex{% endblock %}


{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
<div id="content-merengue">
    <div class="module-merengue" id="contentmanagement">
      <h1>{% trans "Content management" %}</h1>
      <p>{% trans "Manage the site's content" %}</p>
      <dl>
        {% ifhasperm 'manage_section' %}
          <dt><a href="section/section/" title="{% trans "Section" %}">{% trans "Content tree" %}</a></dt>
          <dd>{% trans "View, edit and delete the site's contents." %}</dd>
        {% endifhasperm %}
        {% ifhasperm 'manage_menu' %}
          <dt><a href="section/menu/" title="{% trans "Portal Menu" %}">{% trans "Portal Menu" %}</a></dt>
          <dd>{% trans "View, edit and delete the site's menus." %}</dd>
        {% endifhasperm %}
        {% ifhasperm 'manage_link' %}
          <dt><a href="portal/portallink/" title="{% trans "Portal links" %}">{% trans "Portal links" %}</a></dt>
          <dd>{% trans "View, edit and delete the site's primary and secondary links." %}</dd>
        {% endifhasperm %}
        <dt><a href="collection/collection/" title="{% trans "Collections" %}">{% trans "Collections" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's collections." %}</dd>
        <dt><a href="base/basecontent/" title="{% trans "Content" %}">{% trans "Browse content" %}</a></dt>
        <dd>{% trans "Browse the site's contents." %}</dd>
        {% if_can_access_transhette %}
          <dt><a href="{% url transhette-home %}" title="{% trans "Translate portal" %}">{% trans "Translate site" %}</a></dt>
          <dd>{% trans "Translate the site messages." %}</dd>
        {% endif_can_access_transhette %}
      </dl>
    </div>
    {% ifhasperm 'manage_site' %}
    <div class="module-merengue" id="sitebuilding">
      <h1>{% trans "Site configuration" %}</h1>
      <p>{% trans "Control how the site looks and feels." %}</p>
      <dl>
        <dt><a href="block/registeredblock/" title="{% trans "Blocks" %}">{% trans "Blocks" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's blocks." %}</dd>
        <dt><a href="pluggable/registeredplugin/" title="{% trans "Plugins" %}">{% trans "Plugins" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's plugin." %}</dd>
        <dt><a href="theming/theme/" title="{% trans "Themes" %}">{% trans "Themes" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's themes." %}</dd>
        <dt><a href="action/registeredaction/" title="{% trans "Actions" %}">{% trans "Actions" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's actions." %}</dd>
        <dt><a href="registry/registereditem" title="{% trans "Registry" %}">{% trans "Registry" %}</a></dt>
        <dd>{% trans "Merengue registry" %}</dd>
        <dt><a href="siteconfig/" title="{% trans "Save/restore configuration" %}">{% trans "Save/restore configuration" %}</a></dt>
        <dd>{% trans "Save/restore the site configuration (block, plugins, active theme, etc.)" %}</dd>
      </dl>
    </div>
    {% endifhasperm %}
    {% ifhasperm 'manage_multimedia' %}
    <div class="module-merengue" id="multimedia">
      <h1>{% trans "Multimedia" %}</h1>
      <p>{% trans "Manage the site's multimedia content" %}</p>
      <dl>
        <dt><a href="multimedia/photo/" title="{% trans "Photos" %}">{% trans "Photos" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's photos." %}</dd>
        <dt><a href="multimedia/video/" title="{% trans "Video" %}">{% trans "Video" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's videos." %}</dd>
        <dt><a href="multimedia/audio/" title="{% trans "Audio" %}">{% trans "Audio" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's audios." %}</dd>
        <dt><a href="multimedia/panoramicview/" title="{% trans "Panoramic views" %}">{% trans "Panoramic views" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's panoramic views." %}</dd>
        <dt><a href="multimedia/image3d/" title="{% trans "Images 3D" %}">{% trans "Images 3D" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's Images 3D." %}</dd>
      </dl>
    </div>
    {% endifhasperm %}
    {% ifhasperm 'manage_user' %}
    <div class="module-merengue" id="usermanagement">
      <h1>{% trans "User management" %}</h1>
      <p>{% trans "Manage the site's users, groups and access to site features." %}</p>
      <dl>
        <dt><a href="auth/group" title="{% trans "Groups" %}">{% trans "Groups" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's groups." %}</dd>
        <dt><a href="auth/user/" title="{% trans "Users" %}">{% trans "Users" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's users." %}</dd>
        <dt><a href="perms/role/" title="{% trans "Roles" %}">{% trans "Roles" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's roles." %}</dd>
        <dt><a href="perms/objectpermission/" title="{% trans "Permissions" %}">{% trans "Permissions" %}</a></dt>
        <dd>{% trans "View, edit and delete the site's role permissions." %}</dd>
      </dl>
    </div>
    {% endifhasperm %}
{% if plugins %}
    {% ifhasperm 'manage_plugin_content' %}
    <div class="module-merengue" id="plugins">
      <h1>{% trans "Plugins administration" %}</h1>
      <p>{% trans "Manage your installed plugins." %}</p>
      <dl>
      {% for plug in plugins.values %}
        <dt><a href="{{ plug.app_url }}" title="{{ plug.name }}">{{ plug.name }}</a></dt>
      {% endfor %}
      </dl>
    </div>
    {% endifhasperm %}
{% endif %}
</div>
{% endblock %}
</div> <!--- end content-merengue -->
{% block sidebar %}
<div id="content-related">
  <div class="module" id="administrator-menu">
    <h2>{{ user.username }}</h2>
    <ul class="level1">
      <li>{% trans 'Review list' %}</li>
      <li><a href="{% url admin:django_admin %}">{% trans "Django admin" %}</a></li>
    </ul>
  </div>

  {% include "admin/inc.recentactions.html" %}
</div>

{% endblock %}
