{% load i18n content_tags media_tags %}

<script type="text/javascript" charset="utf-8">
    (function($) {
      $(document).ready(function () {
          // top level object tools
          var report_link_elements = $('div#content > ul.object-tools').find('a.reportlink');
          if (report_link_elements.length){
              var object_tools = $('ul.object-tools');
              var quick_report = report_link_elements.slice(0,1).parent().detach();
              var report_links = $('<ul id="report-links" class="object-tools mode-list"></ul>');

              var link_items = report_link_elements.parent().detach();
              var more_report_links = $('<ul></ul>');
              more_report_links.append(link_items);

              report_links.append(quick_report);
              quick_report.click(function(){
                  report_links.toggleClass("open");
                  report_links.find('ul').toggle();
              });

              report_links.append(more_report_links);
              report_links.insertBefore(object_tools);
          }

          // related content object tools
          var tools_wrapper = $('div#content-main > div.object-tools-wrapper > ul.object-tools').not('.expandable');
          report_link_elements = tools_wrapper.find('a.reportlink');
          if (report_link_elements.length){
              object_tools = $('ul.object-tools');
              quick_report = report_link_elements.slice(0,1).parent();
              more_report_links = report_link_elements.slice(1).parent();
              more_report_links.addClass('expandable');
              more_report_links.hide();
              
              var expand_button = $('<li id="expand-report-options"><a href="#">(+)</a></li>');
              expand_button.click(function(){
                  $('ul.object-tools.expandable li.expandable').toggle();
                  if ($('ul.object-tools.expandable li.expandable:visible').length)
                      $(this).find('a').text('(–)');
                  else
                      $(this).find('a').text('(+)');
              });

              expand_button.insertAfter(quick_report);
              tools_wrapper.addClass('expandable');
          }
      });
    })(jQuery);
</script>

{# next line is only for debugging purposes #}
<span style="display:none">{{ model_admin }}</span>

<ul class="object-tools mode-{{ mode }}">
{% if object %}
  {% if object.get_absolute_url %}
    <li><a href="{% url merengue.base.views.public_link opts.app_label opts.module_name object.id %}" class="viewsitelink">
    {% with opts.verbose_name as model_name %}
     {% blocktrans %}View {{ model_name }} on site{% endblocktrans %}</a></li>
    {% endwith %}
  {% endif%}
{% endif %}
{% for tool in object_tools %}
  <li>
    <a href="{{ tool.url }}" title="{{ tool.label }}" {% if tool.class %}class="{{ tool.class }}"{% endif %}>{{ tool.label }}</a>
  </li>
{% endfor %}
</ul>
