{% extends "admin/change_form.html" %}

{% load admin_tags %}

{% block object-tools %}
   {% object_tools parent_model_admin "change" "../../" parent_object %}
{% endblock %}

{% block extrabodyclass %}related{% endblock %}

{% block extra-context %}
  {% if parent_object %}<span id="parent_object">{{ parent_object.id }}</span>{% endif %}
{% endblock %}

{% block content-main-inner %}

  {% block related-object-tools %}
   <div class="object-tools-wrapper">
    {% if change %}
      {% object_tools model_admin "change" %}
    {% else %}
      {% object_tools model_admin "add" %}
    {% endif %}
    <div class="object-tools-bottom"></div>
   </div>
  {% endblock %}

  {{ block.super }}
{% endblock %}
