{% load i18n %}
{% if obj_tools %}
<div class="change-tabs">
{% for obj_tool in obj_tools %}
        <ul id="change-tabs-ul" class="smart_relations_object_tool{% if obj_tool.base_object_opts %} smart-relations-model-{{ obj_tool.base_object_opts.app_label }}-{{ obj_tool.base_object_opts.module_name }}{% endif %}">
            <li class="edit-link"><a href="{{ obj_tool.base_url }}">{% trans "Edit" %}</a></li>
            <li class="content-link" style="display: none;"><a class="trigger" href="#">{% trans "Contents" %}</a><ul class="contents_parent"></ul></li>
            {% for tools_admin_site in obj_tool.tools %}
                <li class="object_tool_item{% if tools_admin_site.selected %} selected{% endif %}{% if tools_admin_site.manage_contents %} content_manager{% endif %} {{ tools_admin_site.tool_url|slice:":-1" }}Tool"><a href="{{ obj_tool.base_url }}{{ tools_admin_site.tool_url }}">{{ tools_admin_site.tool_label }}</a></li>
            {% endfor %}
            <li class="extra-link" style="display: none;"><a class="trigger" href="#">{% trans "More" %}</a><ul class="extra_options"></ul></li>
        </ul>
{% endfor %}
</div>
{% endif %}
