{% load i18n media_tags %}

{% if multimedia_list %}

{% addmedia "css" %}
  <link href="{{ MEDIA_URL }}merengue/css/shadowbox.css" rel="stylesheet" type="text/css" />
  <link href="{{ MEDIA_URL }}merengue/css/slideshow.css" rel="stylesheet" type="text/css" media="screen, print" />
{% endaddmedia %}

{% addmedia "js" %}
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/shadowbox/shadowbox-mootools.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/shadowbox/shadowbox.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/shadowbox/shadowbox-{{ LANGUAGE_CODE }}.js"></script>
{% endaddmedia %}

<div class="MultimediaSlide">
<div id="slideshow">
  <div class="screenShotTable">
    <div class="simpleImgGallery2">
      <div class="imageController">
        {% block media_slide_previous %}
            <img  class="icon prevImg" alt="Previous" src="{{ MEDIA_URL }}merengue/img/multimedia/slide_previous.gif"/>
        {% endblock %}
         <span class="imagesNumber">
             <span class="imgNow">1</span>
             <span>/</span>
             <span class="imgMax">1</span>
         </span>
         {% block media_slide_next %}
             <img class="icon nextImg" alt="Next" src="{{ MEDIA_URL }}merengue/img/multimedia/slide_next.gif"/>
         {% endblock %}
      </div>
      <div class="MultimediaSlideActionLinks">
        <span class="galleryButton toStreet" style="display: none;">
          <a class="street_view_shadowlink" rel="shadowbox;height=380;width=500;type=iframe" href="."  title="{% trans "Street view" %}" target="_blank"><img src="{{ MEDIA_URL }}merengue/img/multimedia/mediacontents/photography_icon_streetview.png"/></a>
        {% comment %}<a class="street_view_shadowlink" rel="shadowbox;height=380;width=500;type=iframe" href="{% url street_view basecontent_id=content.id %}"  title="{% trans "Street view" %}" target="_blank">
          <img src="{{ MEDIA_URL }}img/photography_icon_streetview.png"/>
        </a>{% endcomment %}
        </span>
      </div>
    </div> 
    <div class="MultimediaSlideVisualZone">
{% for multimedia in multimedia_list %}
  <div class="MultimediaItem hide">
    <span class="MultimediaItemClass hide">{{ multimedia.class_name }}</span>
    <div class="MultimediaItemThumbnail">
      {% multimedia_slide_link multimedia content %}
    </div>
  </div>
{% endfor %}
    </div>
  </div>
</div>

<div class="MultimediaSlideConfiguration hide">
  <span class="MultimediaConfigurationMediaURL">{{ MEDIA_URL }}</span>
  <span class="MultimediaConfigurationActionLinksOrder">photo video panoramicview image3d audio</span>
</div>
</div>
{% endif %}
