{% load i18n stringfilters %}
{% if content_files %}
<div class="contentFiles {% block contentFilesExtraClass %}{% endblock %}">
{% block contentfilestitle %}
  <h2>{% trans "Attached files" %}</h2>
{% endblock %}
{% block contentfilesbody %}
  <ul>
  {% for multimedia in content_files %}
    {% with multimedia.file as file %}
    {% block contentfileitem %}
      <li id="content-file-{{ file.id }}">
        <a href="{{ file.file.url }}" title="{{ file }}">{{ file|truncatechars:"25" }}</a>
      </li>
    {% endblock %}
    {% endwith %}
  {% endfor %}
  </ul>
{% endblock %}
</div>
{% endif %}