/*
	most of the css that makes it look good is in the jquery.autocomplete.css that comes with the autocomplete plugin.
	that formats the dropdown of search results.

	one class is used on the html interface itself and that's the X that allows you to remove an item.
	here is the styling I use.  add this to your main css file and season to taste.
*/
.iconic {
	background: #fff;
	color: #000;
	border: 1px solid #ddd;
	padding: 2px 4px;
	font-weight: bold;
	font-family: Courier;
	text-decoration: none;
}
.iconic:hover {
	text-decoration: none;
	color: #fff;
	background: #000;
	cursor: pointer;
}

input.ac_loading {
	background: #FFF url('../../img/ajax_select/loading-indicator.gif') no-repeat;
	background-position: right;
}


/* change the X to an image */
.results_on_deck .iconic, .results_on_deck .iconic:hover {
    background: url(../../img/ajax_select/cancel.png) no-repeat;
    color: transparent;
    border: 0;
}

/* IE7 hack */
.results_on_deck .iconic,
.results_on_deck .iconic:hover {
    *font-size: 1px!important;
    *color: white!important;
    *font-family: arial;
    *display: inline-block;
    *width: 14px;
    *height: 14px;
 }

/* IE8 hack */
.results_on_deck .iconic,
.results_on_deck .iconic:hover {
    font-size/*\**/: 1px\9;
    color/*\**/: white\9;
    font-family/*\**/: arial\9;
    display/*\**/: inline-block\9;
    width/*\**/: 14px\9;
    height/*\**/: 14px\9;
 }


/* specific to a site I worked on. the formatted results were tables.  I sized them and floated them left, next to the icon */
.results_on_deck div table {
    float: left;
    width: 300px;
    border: 0;
}
/* and each div in the result clears to start a new row */
.results_on_deck > div {
    clear: both;
}

.results_on_deck,
.results_on_deck div {
    display: inline;
}