{% load i18n %}{% if is_staff %}
<script language="javascript">
    var inlinetrans_messages =
    {
       givetranslationfor: '{% trans "Give a new translation for " %} "{0}" {% trans "to" %} {{ language }}',
       emptytranslation: "{% trans "You're sending an empty translation ¿Are you sure? " %}",
       reloading: "{% trans "Reloading" %}",
       apply_changes: "{% trans "Apply changes" %}",
       applying_changes: "{% trans "Applying changes" %}",
       error_cant_send: "{% trans "Can't send translation" %}",
       error_cant_restart: "{% trans "Can't restart server" %}"

    };
    var inlinetrans_set_new_translation_url = "{% url inlinetrans.views.set_new_translation %}";
    var do_restart_url = "{% url inlinetrans.views.do_restart %}";

    var inlinetrans_actions_html = '\
        <div class="inlinetransContainer">\
            <img id="changes-loading" src="{{ MEDIA_URL }}img/ajax-loader-transparent.gif"/>\
            <span class="showInlinetransBar">||</span>\
            <span class="inlinetransActions">\
                <span class="inlinetransAction hightlightTrans">{% trans "See translatable items" %}</span>\
                <span class="inlinetransAction hightlightNotrans">{% trans "See non translated items" %}</span>\
                <span class="inlinetransAction restartServer">{% trans "Apply changes" %}</span>\
            </span>\
        </div>';
</script>
<script language="javascript" src="{{ MEDIA_URL }}js/jquery.inlinetrans.js"></script>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/inlinetrans.css"/>
{% endif %}
