{% extends "multimedia/slide/basemultimedia_slide_link.html" %}
{% load thumbnail media_tags %}
{% block thumbnail %}
   {% if multimedia.audioguide.preview %}
     {% thumbnail multimedia.audioguide.preview size %}
   {% else %}
     {{ MEDIA_URL }}merengue/img/multimedia/previews/audioguide_preview.jpg
   {% endif %}
{% endblock %}
{% block fullview %}{% url multimedia.views.audioguide_xml multimedia.id %}{% endblock %}
{% block extraoptions %}type=external{% endblock %}
{% block caption %}
{% with multimedia.audioguide as obj %}
{% downloadlink obj as dlink %}
  {{ dlink|safe }}
{% endwith %}
{% endblock %}
