{% load thumbnail first_of_with_as_tags %}
{% first_of_with_as multimedia.name multimedia.original_filename content.name as multimedia_name %}

   {% thumbnail default size as th %}
   {% thumbnail default "640x480" as bigth %}
   <a 
      href="{% block fullview %}{{ bigth.url }}{% endblock %}"
      title="{{ multimedia_name }}"
      destino="{{ multimedia.get_absoulte_url }}"
      rel="{% if multimedia.gallery %}{{ multimedia.gallery }}{% else %}shadowbox{% endif %}[{{ multimedia.class_name }}];{% block extraoptions %}{% endblock %}"
      {% block extraattrs %}{% endblock %}>

     <img src="{% block thumbnail %}{{ th.url }}{% endblock %}" alt="{{ multimedia_name }}" title="{{ multimedia_name }}" />
   </a>
   {% endthumbnail %}
   {% endthumbnail %}
   <div class="hidden-caption" style="display:none">{% block caption %}{% endblock %}</div>
   {% block inline-content %}{% endblock %}
