{% extends "error_base.html" %}

{% load i18n %}

{% block pagetitle %}{% trans "Permission denied" %}{% endblock %}

{% block content_title %}<h1>{% trans "Permission denied" %}</h1> {% endblock %}

{% block httperrortitle %}
    {% trans "403 Error - Forbidden. Sorry but it seems that you are not allowed." %}
{% endblock %}

{% block httperrorclass %}httperror-403{% endblock %}

{% block httperrordescription %}
        <p>{% trans "You tried to access a document for which you don't have privileges." %}</p>
        <p>{% trans 'We recommend you to return to <a href="/">home</a>' %}</p>
{% endblock %}