{% extends "error_base.html" %}

{% load i18n inlinetrans %}

{% block pagetitle %}{% trans "Page not found" %}{% endblock %}

{% block content_title %}<h1>{% trans "Page not found" %}</h1>{% endblock %}

{% block httperrortitle %}
    {% trans "404 Error - Sorry we can not find the page you are looking for." %}
{% endblock %}

{% block httperrorclass %}httperror-404{% endblock %}

{% block httperrordescription %}
    <p>{% trans "You may have mistyped the URL or the page may have been removed from our system." %}</p>
    <p>{% trans 'We recommend you to return to the <a href="/">home</a>' %}</p>
{% endblock %}