<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load i18n %}

<html><title>Merengue powered site</title>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/media/themes/merengue/img/favicon.ico" type="image/gif" />

    <link href="/media/merengue/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="/media/merengue/css/iefixes.css" />
    <![endif]-->

    <link href="/media/themes/merengue/css/layout.css" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="/media/themes/merengue/css/iefixes.css" />
    <![endif]-->

    <link href="/media/merengue/css/httperror.css" rel="stylesheet" type="text/css" />
    <title>{% trans "Server Error" %}</title>

</head>
<!--[if lt IE 7 ]>
<body dir="ltr" class="ie ie6"><![endif]--> <!--[if IE 7 ]>
<body dir="ltr" class="ie ie7"><![endif]--> <!--[if IE 8 ]>
 <body dir="ltr" class="ie ie8"><![endif]--> <!--[if !IE]>
--> <body dir="ltr" ><!--<![endif]-->

    <div id="page-wrapper">
        <div id="container" class="theme-merengue ">
            <div id="header">
                <div id="headerlogo">
                    <h1><a href="/"><img src="/media/themes/merengue/img/merengue_logo.jpg" alt="Merengue" /></a></h1>
                </div>
            </div>
            <div id="contentwrapper">
                <div id="language-tools">
                    <ul id="language-selector">
                        <li >
                            <a id="es" class="languageform" alt="Change language Español" href="?set_language=es"></a>
                        </li>
                        <li class="currentLangItem">
                            <a id="en" class="languageform" alt="Change language English" href="?set_language=en"></a>
                        </li>
                        <li >
                            <a id="fr" class="languageform" alt="Change language Français" href="?set_language=fr"></a>
                        </li>
                    </ul>
                </div>
                <div class="visualClear"></div>
                <div class="borderLeft">
                    <div class="borderRight">
                        <div class="content-500" id="content">
                            <h1>Server Error</h1> 
                            <div class="httperror httperror-500">
                                <div class="httperror-header">
                                    <div id="ups">Ups!</div>
                                    <div class="httperror-title"> 
                                        500 Error -  Internal Server Error. We are sorry about that.
                                    </div>
                                </div>
                                <div class="httperror-description">
                                We recommend you to
                                return to <a href="/">home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="visualClear"></div>
                <div id="footer">
                    <div id="inner-footer">
                        <div id="footer-left" class="borderLeft">&nbsp;
                    </div>
                    <div id="footer-middle">
                    </div>
                    <div id="footer-right" class="borderRight">&nbsp;
                    </div>
                    <div style="clear: both; height: 1px;">&nbsp;</div>
                    </div>
                    <div id="outer-footer">
                        <ul>
                            <li id="powered-by">Merengue powered</li>
                            <li id="copyright">Copyright © Yaco 2009</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

