{% load i18n media_tags compress %}

{% compress js %}
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/mootools.v1.11.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/shadowbox/shadowbox-mootools.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/shadowbox/shadowbox.js"></script>
{% endcompress %}

<script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript">
 jQuery.noConflict();
</script>
<script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery-ui-1.8.min.js"></script>

{% addmedia "css" %}
  <link href="{{ MEDIA_URL }}merengue/css/shadowbox.css" rel="stylesheet" type="text/css" />
{% endaddmedia %}

{% addmedia "js" %}
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery-notify/src/jquery.notify.min.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/multimedia/jquery.slideshow.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery.form.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/css_browser_selector.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery.merengue-notifications.js"></script>
{% endaddmedia %}

{% compress js %}
<script type="text/javascript">
    (function($) {
    $(document).ready(function () {
        // Menu selector
        var selected_menu = "{% block menuselected %}{{ selected_menu }}{% endblock %}";
        if (selected_menu != null && selected_menu != "") {
            selected_menu = selected_menu.split(" ");
            if (selected_menu.length >= 1) {
                var menu = selected_menu[0];
                $("#sidebar ul.menu li[id=" + menu + "]").addClass("selectedMenu");
                $("#sidebar ul.menu li[id=" + menu + "] > a").addClass("selected");
            }
            if (selected_menu.length >= 2) {
                var submenu = selected_menu[1];
                // strange way to select this menu because a jquery bug
                $("#sidebar ul.submenu li[id=" + submenu + "]").addClass("selectedSubmenu");
                $("#sidebar ul.submenu li[id=" + submenu + "] > a").addClass("selected");
            }
        }

        // Google Maps unload
        if (typeof google != "undefined" && typeof google.maps != "undefined") {
            $(window).unload(function () {
                google.maps.Unload();
            });
        }
        var print = $("#action-print a");
        if(print.length > 0) {
            print.attr("onClick", "javascript:print();return false;");
            print.attr("href", "");	
        }

        var mediaurl = '{{ MEDIA_URL }}';
        Shadowbox.init({
            assetUrl: mediaurl,
            loadingImage: mediaurl + 'merengue/img/multimedia/loading.gif',
            displayNav: true,
            skipSetup: true,
            displayClose: true,
            continuous: true,
            enableKeys: false
        });

        {% if content %}
        $("#action-hotlink").click(function(){
            $.ajax({
                url: "{% url hotlink content.id %}",
                context: document.body,
                success: function(data){
                    Shadowbox.open({
                        content:    data,
                        type:       "html",
                        title:      "{% trans "Export" %} {{ content }}",
                        height:     600,
                        width:      500
                    });
                }
            });
            return false;
        });
        {% endif %}
    });
})(jQuery);
</script>
{% endcompress %}
