body {
    background: white !important;
    background-image: none !important;
    padding: 1em 2em;
}

a { color: #336699 !important; }
a:hover { color: #666666 !important; }

#djDebug { display: none; }

.searchResults {
    clear: both;
}

div#content {
	float: none;
    margin-top: 1em;
}

#content ul.operators {
    list-style-type: none;
	margin-bottom: 1em;
}

div#content ul#search-sections {
    border-top: 1px solid black;
    clear: left;
	margin-top: 0;
    width: 121px;
}

ul#search-sections li {
    border: 1px solid black;
    padding: 5px 10px;
    margin: 0px;
    border-top-width: 0px;
    width: 114px;
	background-color: #f2f2f2;
	list-style: none;
}

ul#search-sections li.selected {
    border-right-color: #fff;
    z-index: 90;
	background-color: white;
}

.searchlet {
    padding: 0px 2em 2em;
    z-index: 1;
    border: 1px solid black;
    width: 350px;
    margin-left: 121px; 
    float: none;
}

#content {
    float: none;
    width: 100%;
    padding: 0px;
}

.searchResultsItem {
    border-top: 1px dashed black;
    padding-bottom: 2em;
}

.searchResultsItem h3 {
    font-size: 1.5em;
    line-height: 1.55em;
    margin-bottom: 0.5em;
}

#search_form {
    position: relative;
    padding-bottom: 6.5em;
	width: 600px;
}

#search_form h4.title {
    position: absolute;
    bottom: 0;
	font-size: 1em;
	margin: 0 0 0 1.5em;
}

#search_form input.search-action {
    background: #f2f2f2;
    border: 1px solid black;
    text-indent: 0px;
    padding: 0px;
}

.pagination {
    border: 3px double black;
    border-left-width: 0px;
    border-right-width: 0px;
    margin-bottom: 1em;
}

input.radio {
    float: left;
}
