/* ----- global styles ----- */


body {
    font-size: 12pt;
    font-family: arial;
    background: #f4f0e5;
}

a {
    color:#CEA670;
    text-decoration:none;
}

a:hover{
    color:#997b53;
    text-decoration:none;
}

h1 {
    font-size: 1.8em;
    color:#cda873;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ----- Useful class ----- */
.visualClear {
    display: block;
    clear: both;
}

#container {
    margin: 0 auto 0 auto;
    width: 983px;
}

#contentwrapper {
    background: white url(/media/themes/merengue/img/content_top.jpg) no-repeat left top;
}

.borderLeft {
    background: transparent url(/media/themes/merengue/img/border_left.jpg) repeat-y left top;
    margin-left: -1px;
}

.borderRight {
    padding: 0 5px;
    background: transparent url(/media/themes/merengue/img/border_right.jpg) repeat-y right top;
}

#headerlogo {
    height: 36px;
    margin-left: 25px;
}

#language-tools {
    float: right;
    text-align: right;
    width: 100px;
    margin-top: 15px;
    margin-right: 10px;
}
#language-tools  ul li a {
    display: block;
    width: 30px;
    height: 24px;
    float: left;
}

#language-tools  ul li a#es {
    background: transparent url(/media/themes/merengue/img/flag-es.gif) no-repeat left top;
}

#language-tools  ul li a#en {
    background: transparent url(/media/themes/merengue/img/flag-en.gif) no-repeat left top;
}

#language-tools  ul li a:hover, 
#language-tools  ul li.currentLangItem a  {
    background-position: left bottom !important;
}

#header-blocks {
    padding-top: 28px;
    padding-left: 10px;
    padding-bottom: 13px;
}

#header-blocks ul {
    margin-bottom: 0.8em;
    display: inline;
}

#header-blocks li {
    background: transparent url(/media/themes/merengue/img/left_menu_button.jpg) no-repeat left top;
    padding: 5px 0 5px 11px;
}

.ie #header-blocks li {
    padding: 0px 0 0 11px;
}

#header-blocks li a {
    padding: 7px 12px 7px 5px;
    font-size: 10pt;
    background: transparent url(/media/themes/merengue/img/right_menu_button.jpg) no-repeat right top;
}

#header-blocks li a:hover {
    text-decoration: none;
}

#header-blocks li.active {
    background: transparent url(/media/themes/merengue/img/left_actived_menu_button.jpg) no-repeat left 2px;
}

.ie #header-blocks li.active {
    background-position: left 1px;
}

#header-blocks li.active a {
    padding: 0 0 9px 0;
    color: #cfa86f;
    background: transparent url(/media/themes/merengue/img/selected_menu.jpg) no-repeat center bottom;
}

#header-blocks li.active span.selectedImage {
    padding: 4px 12px 6px 5px;
    background: transparent url(/media/themes/merengue/img/right_actived_menu_button.jpg) no-repeat right top;
}

#header-blocks ul li,
#language-tools  ul li {
    display: inline;
}


/* left-sidebar */
#left-sidebar {
    float: left;
    width: 244px;
}

/* right-sidebar */
#right-sidebar {
    float:right;
    display: block;
    width: 240px;
}

#right-sidebar div {
    margin: 0.4em;
}


/* site actions */
#site-actions ul li {
    display: inline;
}


/* breadcrumbs */
#breadcrumbs {
    font-size: 10pt;
}

.breadcrumbSeparator {
    background: transparent url(/media/themes/merengue/img/bread_arrow.jpg) no-repeat left center;
    font-size: 0;
    padding:8px 6px 0 4px;
} 
/* Content */
#content {
    float: left;
    width: 470px;
    padding: 0 10px;
}

body div#content-zone {
    width: auto;
}

/* portal links */
#portal-primary-links {
    display: inline;
}

#portal-secondary-links a {
    padding-left: 10px;
}

/* footer */
#footer {
    background: white url(/media/themes/merengue/img/content_bottom.jpg) no-repeat left bottom;
    display: block;
    width: 100%;
    height: 25px;
    font-size: 9pt;
    padding-top: 10px;
}

#footer-left {
    float: left;
    display: block;
    width: 245px;
}

#footer-middle {
    float: left;
    display: block;
    border-top: 1px solid #f2e3b8;
    width: 480px;
}

#footer-middle a {
    float: left;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
}

a#general-conditions {
    text-align: center
}

a#powered-by {
    background: transparent url(/media/themes/merengue/img/merengue_icon.jpg) no-repeat right center;
    padding-right: 20px;
    text-align: right;
}

#footer-right {
    float: left;
    display: block;
    width: 241px;
}