/* ----- global styles ----- */


body {
    font-size: 12pt;
    font-family: arial;
    background: #f4edda;
}

a {
    text-decoration: none;
}

a:hover {
    color: #339911;
    text-decoration: underline;
}

h1 {
    font-size: 1.8em;
    color:#cda873;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ----- Useful class ----- */
.visualClear {
    display: block;
    clear: both;
}

#container {
    margin: 0 auto 0 auto;
    width: 986px;
}

#contentwrapper {
    background: white;
}

#language-tools {
    float: right;
    text-align: right;
    width: 100px;
    margin-top: 5px;
    margin-right: 10px;
}

#language-tools  ul li a img {
    filter: alpha(opacity=50);
    opacity:.5;
}

#language-tools  ul li a:hover img, 
#language-tools  ul li.currentLangItem a img {
    filter: alpha(opacity=100);
    opacity: 1;
    text-decoration: none;
}

#header-links {
    background: white url(/media/themes/merengue/img/content_top.jpg) no-repeat left top;
    padding-top: 10px;
    padding-left: 10px;
}

#header-links ul li,
#language-tools  ul li {
    display: inline;
}


/* left-sidebar */
#left-sidebar {
    float: left;
    width: 245px;
}

/* right-sidebar */
#right-sidebar {
    float:right;
    display: block;
    width: 241px;
}

#right-sidebar div {
    margin: 0.4em;
}

/* Content */
#content {
    float: left;
    width: 480px;
    padding: 0 10px;
}

body div#content-zone {
    width: auto;
}