/* ----- global styles ----- */


body {
    font-size: 12pt;
    font-family: arial;
    background: #f8f4e8;
}

a {
    text-decoration: none;
    color: #f1ddbc;
}

a:hover {
    color: #cea672;
    text-decoration: underline;
}

h1 {
    font-size: 1.8em;
    color:#cda873;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ----- Useful class ----- */
.visualClear {
    display: block;
    clear: both;
}

#container {
    margin: 0 auto 0 auto;
    width: 983px;
}

#contentwrapper {
    background: white url(/media/themes/merengue/img/content_top.jpg) no-repeat left top;
}

.borderLeft {
    background: transparent url(/media/themes/merengue/img/border_left.jpg) repeat-y left top;
    margin-left: -1px;
}

.borderRight {
    padding: 0 5px;
    background: transparent url(/media/themes/merengue/img/border_right.jpg) repeat-y right top;
}

#language-tools {
    float: right;
    text-align: right;
    width: 100px;
    margin-top: 5px;
    margin-right: 10px;
}
#language-tools  ul li a {
    display: block;
    width: 30px;
    height: 20px;
    float: left;
}

#language-tools  ul li a#es {
    background: transparent url(/media/themes/merengue/img/flag-es.gif) no-repeat left top;
}

#language-tools  ul li a#en {
    background: transparent url(/media/themes/merengue/img/flag-en.gif) no-repeat left top;
}

#language-tools  ul li a:hover, 
#language-tools  ul li.currentLangItem a  {
    background-position: left bottom !important;
    padding-top: 7px;
}

#header-links {
    padding-top: 10px;
    padding-left: 10px;
}

#header-links ul li,
#language-tools  ul li {
    display: inline;
}


/* left-sidebar */
#left-sidebar {
    float: left;
    width: 244px;
}

/* right-sidebar */
#right-sidebar {
    float:right;
    display: block;
    width: 240px;
}

#right-sidebar div {
    margin: 0.4em;
}


/* site actions */
#site-actions ul li {
    display: inline;
}


/* Content */
#content {
    float: left;
    width: 470px;
    padding: 0 10px;
}

body div#content-zone {
    width: auto;
}


/* footer */
#footer {
    background: white url(/media/themes/merengue/img/content_bottom.jpg) no-repeat left bottom;
    display: block;
    width: 100%;
    height: 25px;
    font-size: 9pt;
    padding-top: 10px;
}

#footer-left {
    float: left;
    display: block;
    width: 245px;
}

#footer-middle {
    float: left;
    display: block;
    width: 480px;
    border-top: 1px solid #f2e3b8;
}

#footer-middle a {
    width: 31%;
    float: left;
    display: block;
    padding-top: 5px;
}

a#general-conditions {
    text-align: center
}

a#powered-by {
    background: transparent url(/media/themes/merengue/img/merengue_icon.jpg) no-repeat right center;
    padding-right: 20px;
    text-align: right;
}

#footer-right {
    float: left;
    display: block;
    width: 241px;
}