{% extends "admin/change_list.html" %}

{% load batch_list %}

{% block extrahead %}
    {{ block.super }}
    {{ batchadmin_media }}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/fade.in.googlemap.js"> </script>
{% endblock %}

{% block result_list %}
<span style="display: none" id="google-maps-api-key">{{ GOOGLE_MAPS_API_KEY }}</span>
<form id="batch-action-form" method="post" action="">
    {% if batchadmin_on_top or not cl.paginator.count %}{% actions %}{% endif %}
    {{ block.super }}
    {% if batchadmin_on_bottom and cl.paginator.count %}{% actions %}{% endif %}
</form>
{% endblock %}
