{% extends "admin/change_list.html" %}


{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery-1.2.6.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/jquery-ui-1.5.3.custom.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/sortable-change-list.js"></script>
{% endblock %}

{% block content %}
{{ block.super }}

{% if not request.GET.q %}
<form id="save-order-form" method="post" action="" style="display:none">
    <input type="hidden" name="neworder" value=""/>
    <button value="1" name="save_order" title="Save new order" type="submit">Save new order</button>
</form>
{% endif %}
{% endblock %}

