{% extends "admin/section/document/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="/admin">{% trans "Home" %}</a> &rsaquo;
    <a href="/admin/{{ basecontent_opts.app_label }}/">{% trans basecontent_opts.app_label.title %}</a> &rsaquo;
    <a href="/admin/{{ basecontent_opts.app_label }}/{{ basecontent_opts.module_name }}/"> {{ basecontent_opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    <a href="/admin/{{ basecontent_opts.app_label }}/{{ basecontent_opts.module_name }}/{{ basecontent.id}}"> {{ basecontent.name|capfirst }}</a> &rsaquo;
    <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
    <a href="../">{{ original|truncatewords:"18" }}</a> &rsaquo;
    {% trans "Sync from plone" %}
  </div>
{% endblock %}

{% block content %}
{% block object-tools %}
<ul class="object-tools">
    {% include "admin/section/document/object_tools.html" %}
    {% if not is_popup %}{% if change %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>{% endif %}
  {% endif %}
</ul>
{% endblock %}

<form method="post" action="" enctype="multipart/form-data">
  <div id="sync_from_plone">
    <fieldset class="module aligned">
    <h2>{% trans "Sync document from plone" %}</h2>
        {{ form.as_django_admin }}
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="{% trans 'Sync from plone' %}" class="default" />
    </div>
  </div>
</form>


{% endblock content %}

