{% extends "base.html" %}

{% load i18n content_tags action_tags block_tags media_tags map_tags section_tags inplace_edit %}

{% block metatags %}
  {{ block.super }}
  {% if section %}
    <meta name="section" content="{{ section }}" />
  {% endif %}
{% endblock %}

{% block extrahead %}
  {% if content %}{% google_map_media content=content %}{% endif %}
{% endblock %}

{% block cssstyles %}
    {{ block.super }}
    <style type="text/css">
        {% include "section/inc.customstyle.html" %}
    </style>
{% endblock %}

{% block extrabreadcrumbs %}
  {% block beforecontentbreadcrumbs %}
    {% block sectionbreadcrumbs %}
        {% section_breadcrumbs_tag section content %}
    {% endblock %}
  {% endblock %}

  {% block contentbreadcrumbs %}
  {% endblock %}
  {% block aftercontentbreadcrumbs %}
  {% endblock %}
{% endblock %}

{% block leftsidebar %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% block contenttitle %}
    <div id="content-title" class="{{ content.class_name }}">
      <h1 title="{{ content.name }}">{% block contenttitletext %}{% cutrender %}{{ content }}{% endcutrender %}{% endblock %}</h1>
    </div>
    {% render_all_blocks "aftercontenttitle" %}
  {% endblock %}

  {% block contentactions %}
    <ul id="content-actions">
    {% get_actions "content" for content as content_actions %}
    {% for action in content_actions %}
      {% action_url action content as action_link %}
      {% if action_link %}
      <li id="action-{{ action.name }}">
        <a href="{{ action_link }}"><span>{% trans action.verbose_name %}</span></a>
      </li>
      {% endif %}
    {% endfor %}
    {% content_admin_action content %}
    </ul>
    <div class="visualClear"></div>
  {% endblock %}

  {% block contentzone %}
  <div id="content-zone">
    {% block beforecontentblocks %}
      {% render_all_blocks "beforecontent" %}
      {% block extrabeforecontentblocks %}
      {% endblock %}
    {% endblock %}

    {% block beforecontentbody %}

      {% block contentmedia %}
        {% media_slide content %}
      {% endblock %}

      {% block contentdescription %}
        {% if content.description %}
          <div class="contentDescription">{% inplace_edit "content.description|safe" class_inplace="inplace_description" %}</div>
        {% endif %}
      {% endblock %}

      {% block contentfiles %}
        {% media_files content %}
      {% endblock %}

    {% endblock beforecontentbody %}

    {% block contentbody %}
      {# to fill in for inherited templates #}
    {% endblock %}

    {% block aftercontentbody %}
    {% endblock %}

    {% block contentmap %}
       {% if content %}{% google_map content=content %}{% endif %}
    {% endblock %}

    {% block aftercontentmap %}
    {% endblock %}

    {% block aftercontentblocks %}
      {% render_all_blocks "aftercontent" %}
      {% block extraaftercontentblocks %}
      {% endblock %}
    {% endblock %}

    {% block contentfooter %}
      {% if is_homepage %}
         {% render_all_blocks "homepage" %}
      {% endif %}
    {% endblock %}
  </div>
  {% endblock %}
{% endblock %}
