{% extends "base.html" %}

{% load i18n content_tags action_tags block_tags %}

{% block extrabreadcrumbs %}
  {% block beforecontentbreadcrumbs %}
  {% endblock %}
  {% block contentbreadcrumbs %}
    <span class="breadcrumbSeparator">→</span>
    <a href="." title="{{ content }}">{% cutrender %}{{ content }}{% endcutrender %}</a>
  {% endblock %}
  {% block aftercontentbreadcrumbs %}
  {% endblock %}
{% endblock %}

{% block leftsidebar %}
  {% block contentleftsidebar %}
    {% render_blocks "leftsidebar" for content %}
    {% block extracontentleftsidebar %}
    {% endblock %}
  {% endblock %}
  {{ block.super }}
{% endblock %}

{% block rightsidebar %}
  {% block contentrightsidebar %}
    {% render_blocks "rightsidebar" for content %}
    {% block extracontentrightsidebar %}
    {% endblock %}
  {% endblock %}
  {{ block.super }}
{% endblock %}

{% block content %}

  {% block contenttitle %}
    <div id="content-title" class="{{ content.class_name }}">
      <h1 title="{{ content.name }}">{% cutrender %}{{ content }}{% endcutrender %}</h1>
    </div>
  {% endblock %}

  {% block contentactions %}
    <ul id="content-actions">
    {% get_actions "content" for content as content_actions %}
    {% for action in content_actions %}
      <li id="action-{{ action.name }}">
        <a href="{% action_url action content %}">{% trans action.verbose_name %}</a>
      </li>
    {% endfor %}
    {% content_admin_action content %}
    </ul>
  {% endblock %}

  {% block contentzone %}
    {% block contentmedia %}
      {% media_slide content %}
    {% endblock %}

    {% block contentdescription %}
      {% if content.description %}
        <div class="contentDescription">{{ content.description|safe }}</div>
      {% endif %}
    {% endblock %}

    {% block contentbody %}
      {# to fill in for inherited templates #}
    {% endblock %}

    {% block contentbodyblocks %}
      {% render_blocks "content" for content %}
      {% block extracontentbodyblocks %}
      {% endblock %}
    {% endblock %}
  {% endblock %}
{% endblock %}