{% extends template_base %}

{% load pagination_tags inlinetrans content_tags %}

{% block content %}
  {% block listtitlewrapper %}
    <div id="content-title">
      <h1>{% block listtitle %}{% inline_trans "Content listing" %}{% endblock %}</h1>
    </div>
  {% endblock %}

  {% block toppagination %}
    {% paginate %}
  {% endblock %}

  {% block listing %}
    <ul class="{% block listingclass %}contentList{% endblock %}">
    {% for content in content_list %}
      {% block itemdetail %}
       <li>
        <a href="{% block contenturl %}{{ content.get_absolute_url }}{% endblock %}" title="{{ content }}" class="contentLink">
         {% block itemtitle %}{% cutrender 100 %}{{ content }}{% endcutrender %}{% endblock %}
        </a>
        {% block contentinfo %}
        {% endblock %}
       </li>
      {% endblock %}
    {% endfor %}
    </ul>
  {% endblock %}

  {% block bottompagination %}
    {% paginate %}
  {% endblock %}

{% endblock %}