{% load i18n inlinetrans block_tags %}


{% block leftfooter %}
  <div id="footer-left">
    <a href="http://www.merengueproject.org">
      {% trans "Merengue powered" %}
    </a>
  </div>
{% endblock %}

{% block middlefooter %}
  <div id="footer-middle">
    {% render_all_blocks "footer" %}
  </div>
{% endblock %}

{% block rightfooter %}
  <div id="footer-right">
    <p>
      <a href="#" id="powered-by">{% inline_trans "Merengue powered" %}</a>
      <br/>
      <a href="#" id="general-conditions">{% inline_trans "General conditions" %}</a>
    </p>
  </div>
{% endblock %}
