{% load i18n inlinetrans breadcrumbs messagebox block_tags section_tags compress media_tags uitools_tags %}
{% block doctype %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">{% endblock %}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% if LANGUAGE_CODE %}
    <meta http-equiv="content-language" content="{{ LANGUAGE_CODE }}">
  {% endif %}
  {% block metatags %}
    {% include "inc.metatags.html" %}
  {% endblock %}
  {% block shortcut %}
  <link rel="shortcut icon" href="{{ THEME_MEDIA_URL }}img/favicon.ico" type="image/gif" />
  {% endblock %}
  <title>{% block sitetitlewrapper %}{% block pagetitle %}{% include "base/inc.pagetitle.html" %}{% endblock %} - {% block sitetitle %}Merengue powered site{% endblock %}{% endblock %}</title>

  {% block metainfo %}
    {% include "inc.meta.html" %}
  {% endblock %}

  {% compress css %}
    {% block cssstyles %}
      {% include "inc.cssstyles.html" %}
      {% block extrastyles %}{% endblock %}
    {% endblock %}
  {% endcompress %}

  {% block cssprint %}
    <link href="{{ MEDIA_URL }}merengue/css/print.css" rel="stylesheet" type="text/css" media="print" /> 
  {% endblock %}

  {# placeholder to allow plugins and other templates to add css assets #}
  {% render_bundled_media "css" %}

  {% block jsscripts %}
    {% include "inc.jsfiles.html" %}
  {% endblock %}

  {% render_blocks_media %}

  {% block extrascripts %}{% endblock %}

  {% block extrahead %}{% endblock %}

  {% block customstyle %}{% endblock %}

  {% if request.testing %}
    <script type="text/javascript">
      if (typeof TinyMCE_Engine != 'undefined') {
        TinyMCE_Engine.prototype.init=function(settings) { this.settings=settings; return;};
      }
    </script>
  {% endif %}
</head>

<body dir="ltr" {% block extrabodytag %}{% endblock %}>
{% block toolbar %}
  {% render_toolbar %}
{% endblock %}
{% block page %}
<div id="page-wrapper">

<div id="container" class="theme-{{ theme }} {% block bodyextraclasses %}{% endblock %}">
{% block notifications %}
<div id="notifications">
    <div id="basic-template">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <p class="#{classes}">#{text}</p>
    </div>
</div>
{% endblock %}
{% if not request.HIDE_DECORATIONS %}
  {% block headerwrapper %}
  <div id="header">
    {% block headerlogowrapper %}
    <div id="headerlogo">
      {% block headerlogo %}
        {% include "inc.headerlogo.html" %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block headerblockswrapper %}
    <div id="header-blocks">
      {% block headerblocks %}
        {% include "inc.headerblocks.html" %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block languagetoolswrapper %}
    <div id="language-tools">
      {% block languagetools %}
        {% include "inc.languagetools.html" %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block useractionswrapper %}
    <div id="user-actions">
      {% block useractions %}
        {% include "inc.useractions.html" %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block portalactionswrapper %}
    <div id="site-actions">
      {% block portalactions %}
        {% include "inc.siteactions.html" %}
      {% endblock %}
    </div>
    {% endblock %}

    {% block sitebrandingwrapper %}
      <div id="site-branding">
      {% block sitebranding %}
        <h1>Merengue</h1>
      {% endblock %}
      </div>
    {% endblock %}

    {% block extraheader %}
      {# things like page titles, or whatever thing you could think #}
    {% endblock %}
  </div>
  {% endblock headerwrapper %}

  {% block breadcrumbswrapper %}
    <div id="breadcrumbs">
      {% block breadcrumbs %}
        {% include "inc.breadcrumbs.html" %}
        {% block extrabreadcrumbs %}
            {% block sectionbreadcrumbs %}
                {% if section %}
                    {% section_breadcrumbs_tag section %}
                {% endif %}
            {% endblock %}
        {% endblock %}
      {% endblock %}
    </div>
  {% endblock %}

{% endif %}

{% block contenttop %} {% endblock %}

  <div id="contentwrapper">
  {% block contentwrapper %}

  {% block leftsidebarwrapper %}
  <div id="left-sidebar">
    {% block leftsidebar %}
      {% include "inc.leftsidebar.html" %}
    {% endblock %}
  </div>
  {% endblock %}

  <div id="content" class="{% block contentclass %}withsidebar{% endblock %}">
    {% block messagebox %}
    <div id="messagebox">
      {% messagebox %}
    </div>
    {% endblock %}
    <div id="content-inner">
    {% block content %}
    {% endblock %}
    </div>
  </div>

  {% block rightsidebarwrapper %}
  <div id="right-sidebar">
    {% block rightsidebar %}
      {% include "inc.rightsidebar.html" %}
    {% endblock %}
  </div>
  {% endblock %}

  <div class="visualClear"></div>

  {% if not request.HIDE_DECORATIONS %}
    <div class="visualClear"></div>

    {% block footerwrapper %}
      <div id="footer">
      {% block footer %}
        {% include "inc.footer.html" %}
      {% endblock %}
      </div>
    {% endblock %}
  {% endif %}
  {% endblock contentwrapper %}
</div>

{% block extrabody %}
{% endblock %}
</div>
{% endblock %}

{# placeholder to allow plugins and other templates to add javascript assets #}
{% render_bundled_media "js" %}
</body>
</html>
