{% load i18n inlinetrans breadcrumbs messagebox svn %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% if LANGUAGE_CODE %}
    <meta http-equiv="content-language" content="{{ LANGUAGE_CODE }}">
  {% endif %}
  {% block metatags %}
    {% include "inc.metatags.html" %}
  {% endblock %}
  <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico" type="image/gif" />
  <title>{% block pagetitle %}{% endblock %} - {% block sitetitle %}Merengue powered site{% endblock %}</title>

  {% block cssstyles %}
    {% include "inc.cssstyles.html" %}
    {% block extrastyles %}{% endblock %}
  {% endblock %}

  {% block jsscripts %}
    {% include "inc.jsfiles.html" %}
  {% endblock %}

  {% inlinetrans_media %}

  {% block extrascripts %}{% endblock %}

  {% block extrahead %}{% endblock %}

  {% block customstyle %}{% endblock %}

  {% if request.testing %}
    <script type="text/javascript">
      if (typeof TinyMCE_Engine != 'undefined') {
        TinyMCE_Engine.prototype.init=function(settings) { this.settings=settings; return;};
      }
    </script>
  {% endif %}
</head>

<!--[if lt IE 7 ]>
<body dir="ltr" class="ie ie6"><![endif]--> <!--[if IE 7 ]>
<body dir="ltr" class="ie ie7"><![endif]--> <!--[if IE 8 ]>
 <body dir="ltr" class="ie ie8"><![endif]--> <!--[if !IE]>
--> <body dir="ltr" {% block extrabodytag %}{% endblock %}><!--<![endif]-->

<div id="container" class="{% block bodyextraclasses %}{% endblock %}">
  <div id="current-svn-revision">
    {% current_svn_rev %}
  </div>

{% if not request.HIDE_DECORATIONS %}
  {% block headerwrapper %}
  <div id="header">
    <div id="headerlogo">
      {% block headerlogo %}
        {% include "inc.headerlogo.html" %}
      {% endblock %}
    </div>

    <div id="header-links">
      {% block headerlinks %}
        {% include "inc.headerlinks.html" %}
      {% endblock %}
    </div>

    <div id="language-tools">
      {% block languagetools %}
        {% include "inc.languagetools.html" %}
      {% endblock %}
    </div>

    <div id="user-actions">
      {% block useractions %}
        {% include "inc.useractions.html" %}
      {% endblock %}
    </div>

    <div id="site-actions">
      {% block portalactions %}
        {% include "inc.siteactions.html" %}
      {% endblock %}
    </div>
  </div>
  {% endblock headerwrapper %}

  {% block breadcrumbs %}
    <div id="breadcrumbs">
      {% include "inc.breadcrumbs.html" %}
      {% block extrabreadcrumbs %}
      {% endblock %}
    </div>
  {% endblock %}

{% endif %}

  <div id="contentwrapper">
  {% block contentwrapper %}

  {% if not request.HIDE_MENU %}
    <div id="left-sidebar">
      {% block leftsidebar %}
        {% include "inc.leftsidebar.html" %}
      {% endblock %}
    </div>
  {% endif %}

  <div id="content" class="{% block contentclass %}withsidebar{% endblock %}">
    <div id="messagebox">
      {% messagebox %}
    </div>
    {% block content %}
    {% endblock %}
  </div>

  {% if not request.HIDE_MENU %}
    <div id="right-sidebar">
      {% block rightsidebar %}
        {% include "inc.rightsidebar.html" %}
      {% endblock %}
    </div>
  {% endif %}

  </div>

  {% if not request.HIDE_DECORATIONS %}
    <div class="visualClear"></div>

    <div id="footer">
    {% block footer %}
      {% include "inc.footer.html" %}
    {% endblock %}
    </div>
  {% endif %}
  {% endblock contentwrapper %}
</div>

{% block extrabody %}
{% endblock %}

{% if debug %}
<div id="debug">
  <h2>Queries</h2>
  <p>
    {{ sql_queries|length }} Quer{{ sql_queries|pluralize:"y,ies" }}
    {% ifnotequal sql_queries|length 0 %}
    (<span style="cursor: pointer;" onclick="var s=document.getElementById('debugQueryTable').style;s.display=s.display=='none'?'':'none';this.innerHTML=this
.innerHTML=='Show'?'Hide':'Show';">Show</span>)
    {% endifnotequal %}
  </p>
  <table id="debugQueryTable" style="display: none;">
    <col width="1"></col>
    <col></col>
    <col width="1"></col>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SQL</th>
      <th scope="col">Time</th>
    </tr>
    </thead>
    <tbody>
    {% for query in sql_queries %}<tr class="{% cycle odd,even %}">
      <td>{{ forloop.counter }}</td>
      <td>{{ query.sql|escape }}</td>
      <td>{{ query.time }}</td>
    </tr>{% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

</body>
</html>
