@import url('../../../../merengue/css/admin.css');

/* ----- general styles ----- */

p {
	color: #737373;
}

a:link, a:visited {
	color: #54B848;
	text-decoration: underline;
}

a:hover {
	color: #79db6f;
}

/* ----- header styles ----- */
#header {
    background: #2F2A12;
    color: #54B848;
    min-height:62px;
    border-bottom: none;
}

#branding h1 { 
    color: #54B848;
}

/*---- other styles ----*/
.module-merengue h1,
#content-related .module h2,
.merengueadmin .module h2,
.module caption, 
.inline-group h2 {
    background: #54B848;
}

#changelist-filter li.selected a {
    color: #54B848 !important;
}

#changelist-filter h2,
.module h2, 
.module caption, 
.inline-group h2 {
	background: #54B848;
}

.row1 {
    background: #EDFDE6;
}

.button.default, input.default[type="submit"], .submit-row input.default {
    border: 1px solid #3f8c37;
    background: #54B848;
    color: white;
	text-shadow: 1px 1px 0 #3f8c37;
}

.button.default:active, input.default[type="submit"]:active {
    border: 1px solid #3f8c37;
    background: #54B848;
    color: white;
	text-shadow: 1px 1px 0 #3f8c37;
}