@import url('../../../../merengue/css/admin.css');

/* ----- general styles ----- */

p {
	color: #737373;
}

a:link, a:visited {
	color: #54B848;
}

a:hover {
    color: #4fd141;
    text-decoration: underline;
}

/* ----- header styles ----- */
#header {
    background: #2F2A12;
    color: #54B848;
    min-height:62px;
    border-bottom: none;
}
div#header img#merengue_logo {
	margin: 0.7em;
}

.login #container {
    width: 31em;
}

#branding h1 { 
    color: #54B848;
	margin: 0.8em 0 0 7em;
	font-size: 1.7em;
}

.login .form-row label {
    width: 9em;
}

.login form input[type="submit"] {
    cursor: pointer;
}

/*---- other styles ----*/
#content {
	width: 75%;
}

.module-merengue h1,
#content-related .module h2,
.merengueadmin .module h2,
.module caption, 
.inline-group h2 {
	color: white;
	text-shadow: 1px 1px 0 #306b2a;
    background: #54B848 url(../img/default-bg-reverse.gif) repeat-x top left;
}

#changelist-filter li.selected a {
    color: #54B848 !important;
}

#changelist-filter h2,
.module h2, 
.module caption, 
.inline-group h2 {
	text-shadow: 1px 1px 0 #306b2a;
	background: #54B848 url(../img/default-bg-reverse.gif) repeat-x top left;
}

.row1 {
    background: #EDFDE6;
}

.button.default, input.default[type="submit"], .submit-row input.default {
    border: 1px solid #3f8c37;
    background: #54B848 url(../img/default-bg-reverse.gif) repeat-x top left;
    color: white;
	text-shadow: 1px 1px 0 #306b2a;
}

.button.default:active, input.default[type="submit"]:active {
    border: 1px solid #3f8c37;
    background: #54B848 url(../img/default-bg.gif) repeat-x top left;
    color: white;
	text-shadow: 1px 1px 0 #306b2a;
}

#changelist-filter h2,
.module h2,
.module caption,
.inline-group h2 {
	text-shadow: 1px 1px 0 #306b2a;
    background: #54B848 url(../img/default-bg.gif) repeat-x top left;
}

#content #content-main ul.object-tools li a {
    color: #54B848;
}

.object-subtools ul li.selected {
   background-color: #54B848;
}

#content #content-main ul.object-tools li a {
    color: #54B848;
}
#content #content-main ul.object-tools li a:hover {
    color: #4fd141;
    text-decoration: underline;
}

.calendarbox .calendarnav-next-month,
.calendarbox .calendarnav-previous-month,
.calendarbox .calendarnav-previous,
.calendarbox .calendarnav-next {
   background: #54B848 url(../img/default-bg.gif) repeat-x left bottom;
   color: #FFF;
}

.calendarbox .calendarnav-next-month:hover,
.calendarbox .calendarnav-previous-month:hover,
.calendarbox .calendarnav-previous:hover,
.calendarbox .calendarnav-next:hover {
	background-color: #3f8c37;
}
.calendar td a:hover, 
.timelist a:hover,
.calendar td a:active, 
.timelist a:active {
	background: #E8FDE1;
	color: #3f8c37;
}

a.fadeingooglemap {
    color: #54B848;
}

ul#global-languageselector li {
	opacity: 0.6;
}

ul#global-languageselector li.currentLangItem {
  opacity: 1;
  border: none;
  padding: 0;
}

.paginator a:hover {
    background: #54B848;
    border-color: #3f8c37;
    color: #FFF;
    text-shadow: 1px 1px 0 #3f8c37;
}

.module ul, .module ol {
    margin-left: 1em;
    list-style: none;
}

#administrator-menu ul li {
    background: transparent url(../img/menu_bullet.png) no-repeat center left;
    padding-left: 12px;
}

#content-main .selector .selector-available h2 {
    color: #777;
    text-shadow: 1px 1px 0 white;
}

#content-main a.selector-chooseall {
    background: transparent url(../img/selector-addall.gif) no-repeat left center;
}

#content-main a.selector-add {
    background: transparent url(../img/selector-add.gif) no-repeat center top;
}
