{% load content_tags %}

<li>
  <div class="itemCollectionTitle">
  {% if item.get_absolute_url %}
  <a href="{{ item.get_absolute_url }}" title="{{ item }}" class="contentLink">
     {% cutrender 100 %}{{ item }}{% endcutrender %}
  </a>
  {% else %}
     {% cutrender 100 %}{{ item }}{% endcutrender %}
  {% endif %}
  </div>
  {% for field in fields %}
  <div class="itemCollectionField">
    <span class="itemCollectionFielName">{{ field.name }}</span>
    <span class="itemCollectionFielValue">{% if field.safe %}{{ field.value|safe }}{% else %}{{ field.value|striptags }}{% endif %}</span>
  </div>
  {% endfor %}
</li>
