{% extends "content_view.html" %}
{% load inlinetrans pagination_tags collection_tags %}

{% block contentbody %}
  {% collectionitems content as items %}
  {% block collectiontop %}
  {% endblock %}
  {% if items %}
    {% autopaginate items paginate_by %}
    {% block paginatetop %}
        {% paginate %}
    {% endblock %}
    {% if content.group_by %}
      {% collectionregroup items in content as grouped %}
      {% for group in grouped %}
      {% if group.grouper %}
            <h2 class="grouper">{{ group.grouper|default:"" }}</h2>
      {% else %}
            <h2 class="grouper noGrouper">{% itrans "Without grouper"%}</h2>
      {% endif %}
      <ul class="contentList collection-{{ collection.slug }} collectionGrouped collection-{{ collection.slug }}-groupedby-{{ content.groupby }}">
        {% for item in group.list %}
          {% collectionitem content item %}
        {% endfor %}
      </ul>
      {% endfor %}
    {% else %}
      <ul class="contentList collection-{{ collection.slug }}">
        {% for item in items %}
          {% block itemdetail %}
            {% collectionitem content item %}
          {% endblock %}
        {% endfor %}
      </ul>
    {% endif %}
    {% block paginatebottom %}
        {% paginate %}
    {% endblock %}
  {% else %}
    {% block noresults %}
        <div class="noResults">{% itrans "There are no contents to show" %}</div>
    {% endblock noresults %}
  {% endif %}
{% endblock contentbody %}
