{% load content_tags %}

<li class="itemCollection itemCollection-{{ item.content_type_name }}">
  <div class="itemCollectionTitle">
  {% if item.get_absolute_url %}
  <a href="{{ item.get_absolute_url }}" title="{{ item }}" class="contentLink">
     {% cutrender 100 %}{{ item }}{% endcutrender %}
  </a>
  {% else %}
     {% cutrender 100 %}{{ item }}{% endcutrender %}
  {% endif %}
  </div>
  {% if collection.show_main_image and item.main_image %}
  <div class="itemCollectionImage">
    <img src="{{ item.main_image.thumbnail.url }}" alt="{{ item }}" />
  </div>
  {% endif %}
  {% for field in fields %}
  <div class="itemCollectionField itemCollectionField-{{ field.field_name }}">
    {% if field.show_label %}<span class="itemCollectionFielName">{{ field.name }}</span>{% endif %}
    <span class="itemCollectionFielValue">{% if field.safe %}{{ field.value|safe }}{% else %}{{ field.value|striptags }}{% endif %}</span>
  </div>
  {% endfor %}
</li>
