/*** setup ***/
html { background:#092e20;}
body { 
	font-size:13px;
	line-height: 20px;
	font-family:Arial,Helvetica,sans-serif;
	background:url(merengue_bg.jpg) repeat #e6d8c0; 
	}
#custom-doc { 
	width:76.54em;
	*width:74.69em;
	min-width:995px; 
	max-width:100em; 
	margin:auto; 
	text-align:left; 
	padding-top:16px; 
	margin-top:0;
	} 

#hd { 
	padding: 4px 0 12px 0; 
	font-family:'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 100; 
	}
#hd h1 {
	padding: 1em 0 1.5em 0;
}
#bd #yui-main {
	background: transparent url(doc_bg.png) no-repeat top right;
	padding-top: 45px;
	width: 662px;
}
#bd #yui-main .yui-b {
	margin-left: 0px;
	background-color: white;
}
#ft { color:#487858; font-size:90%; padding-bottom: 2em; }

/*** links ***/
a {
	text-decoration: none;
	font-weight: normal;
	color: #917250;
	}

a img {
    border: none;
    float: right;
	margin-top:-18px;
}
/* a:link, a:visited { color:#ffc757; } */
#bd a:link, #bd a:visited { 
	color:#915403; 
	text-decoration:none; 
	}
#bd #sidebar a:link, #bd #sidebar { 
	color:#806140;
	text-decoration:none; 
	}
a:hover { 
	color:#c49a6c; 
	}
a:visited {
	color:#938b82;
	}
#bd a:hover { 
	background-color:#FCF9E8; 
	color:#234f32; 
	text-decoration:none; 
	}
#bd #sidebar a:hover { 
	color:#c4741d; 
	border-bottom: 1px dotted;
	background:none; 
	}
h2 a, h3 a, h4 a { text-decoration:none !important; }
a.reference em { font-style: normal; }

/*** sidebar ***/
#sidebar div.sphinxsidebarwrapper { 
	margin-right: 10px;
	}
#sidebar ul.sphinxsidebarwrapper {
	font-size: 12px; 
	line-height: 18px;
}

/* My Comment */
#sidebar h3, #sidebar h4 { 
	color: #917250; 
	font-weight: 100;
	margin-bottom: 0.5em;
	}
#sidebar a { color: white; }
#sidebar ul ul { margin-top:0; margin-bottom:0; }
#sidebar li {
	margin-bottom: 0.2em; 
	}

/*** nav ***/
div.nav { 
	margin: 0; 
	text-align: right; 
	color: #938B82;
	font-size: 11px;
	}
div.nav a:hover{
	background-color:#FCF9E8;
}
#hd div.nav { 
	margin: -32px 338px 0 0;
	}
#ft div.nav { 
	margin-bottom: -18px; 
	margin-right: 338px;
	}
#hd h1 a { 
	color: #917250; 
	font-family:'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
	font-size: 140%;
	text-shadow: 1px 1px 0 #f4eede;
	}
#hd h1 a:hover {
	border-bottom: 1px dotted;
}
#global-nav { 
	position:absolute; 
	top:5px; 
	font-size: 11px;
	margin-left: -5px; 
	padding:7px 0; 
	color:#263E2B; 
	}
#global-nav a:link, #global-nav a:visited 
	{
	color:#917250;
	}
#global-nav a {padding:0 4px;}
#global-nav a.about {padding-left:0;}
#global-nav:hover {color:#fff;}
#global-nav:hover a:link, #global-nav:hover a:visited  { 
	color:#C4741D; 
	}

/*** content ***/
#yui-main div.yui-b { position: relative; }
#yui-main div.yui-b  { 
	margin: 0 0 0 20px; 
	background: transparent; 
	color: black; 
	width: 635px;
	padding: 0 1em 1em 1em;
	margin: 0 0 24px 20px; 
	}


/*** basic styles ***/
dd { 
    margin-left:15px; 
	}
h1,h2,h3,h4 { 
margin-top:0.5em; 
font-family:'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif; 
font-weight:100; 
}
h1 { 
	font-size:220%; 
	margin-top:0.6em 0 0.3em 0; 
	line-height:1.2em; 
	}
h2 { 
	font-size:180%; 
	margin:1em 0 .6em; 
	line-height:1.2em; 
	color:#7A736C; 
	border-bottom: 1px dotted;
	}
h3 { 
	font-size:150%;
	padding-bottom:.1em;
	padding-top:.5em; 
	color:#917250; 
	}
h4 { font-size:125%; font-weight:bold; margin-top:1.5em; margin-bottom:3px; }
div.figure { text-align: center; }
div.figure p.caption { font-size:1em; margin-top:0; margin-bottom:1.5em; color: #555;}
hr { color:#ccc; background-color:#ccc; height:1px; border:0; }
p { 
	margin: 0.6em 0 0 0;
	}
#yui-main div.yui-b img { max-width: 50em; margin-left: auto; margin-right: auto; margin-top: 10px; display: block; }
caption { font-size:1em; font-weight:bold; margin-top:0.5em; margin-bottom:0.5em; margin-left: 2px; text-align: center; }
blockquote { padding: 0 1em; margin: 1em 0; font:125%/1.2em "Trebuchet MS", sans-serif; color:#234f32; border-left:2px solid #94da3a; } 
strong { font-weight: bold; }
em { 
	font-style: italic; 
	letter-spacing: 0;
	}
ins { font-weight: bold; text-decoration: none; }

/*** lists ***/
ul { 
	padding-left:30px;
	}
ol { padding-left:30px; }
ol.arabic li { list-style-type: decimal; }
ul li { 
	list-style-type:square; 
	margin-top:.2em; 
	}
ol li { margin-bottom: .4em; }
ul ul { padding-left:1.2em; }
ul ul ul { padding-left:1em; }
ul.linklist, ul.toc { padding-left:0; }
ul.toc ul { margin-left:.6em; }
ul.toc ul li { list-style-type:square; }
ul.toc ul ul li { list-style-type:disc; }
ul.linklist li, ul.toc li { list-style-type:none; }
dt { font-weight:bold; margin-top:.5em; font-size:1.1em; }
dd { margin-bottom:.8em; }
ol.toc { margin-bottom: 2em; }
ol.toc li { font-size:125%; padding: .5em; line-height:1.2em; clear: right; }
ol.toc li.b { background-color: #FCF9E8; }
ol.toc li a:hover { background-color: transparent !important; text-decoration: underline !important; }
ol.toc span.release-date { color:#487858; float: right; font-size: 85%; padding-right: .5em; }
ol.toc span.comment-count { font-size: 75%; color: #999; }

/*** tables ***/
table { color:#000; margin-bottom: 1em; width: 100%; }
table.docutils td p { margin-top:0; margin-bottom:.5em; }
table.docutils td, table.docutils th { border-bottom:1px solid #dfdfdf; padding:4px 2px;}
table.docutils thead th { border-bottom:2px solid #dfdfdf; text-align:left; font-weight: bold; white-space: nowrap; }
table.docutils thead th p { margin: 0; padding: 0; }
table.docutils { border-collapse:collapse; }

/*** code blocks ***/
.literal { white-space:nowrap; }
.literal { 
	color:#234f32; 
	letter-spacing: 0;
	}
#sidebar .literal { color:white; background:transparent; font-size:11px; }
h4 .literal { color: #234f32; font-size: 13px; }
pre { 
	font-size:small; 
	background:#EBE8DF; 
	border:1px solid #B4B0A4; 
	border-width:1px 0; 
	margin: 1em 0; 
	padding: .3em 0.4em; 
	overflow: hidden; 
	line-height: 1.3em;
	width: 98%;
	}
dt .literal, table .literal { background:none; }

#bd a.reference tt.literal { 
	border-bottom: 1px #234f32 dotted; 
	}
/*** searcher results ***/
.context{
	border-top: 1px dotted #915403;
	background-color: #F7F6F2;
	padding-bottom: 1em;
}
 
/*** notes & admonitions ***/
.note, .admonition { 
	padding:.8em 1em .8em; 
	margin: 1.5em 0; 
	}
.admonition-title { 
	font-weight:bold; 
	font-size: 15px;
	margin-top:0 !important; 
	margin-bottom:0 !important;
	}
.admonition .last { margin-bottom:0 !important; }
.note, .admonition { 
	padding-left:69px; 
	background:url(docicons-note.png) .8em .8em no-repeat #FCF8DE;
	border: 2px solid white;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.2);
	box-shadow: 0 1px 6px rgba(0,0,0,.2);
	
	}
div.admonition-philosophy { padding-left:65px; background:url(docicons-philosophy.png) .8em .8em no-repeat;}
div.admonition-behind-the-scenes { padding-left:65px; background:url(docicons-behindscenes.png) .8em .8em no-repeat;}

/*** versoinadded/changes ***/
div.versionadded, div.versionchanged {  }
div.versionadded span.title, div.versionchanged span.title { font-weight: bold; }

/*** p-links ***/
a.headerlink { color: #c60f0f; font-size: 0.8em; padding: 0 4px 0 4px; text-decoration: none; visibility: hidden; }
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink { visibility: visible; }

/*** index ***/
table.indextable td { text-align: left; vertical-align: top;}
table.indextable dl, table.indextable dd { margin-top: 0; margin-bottom: 0; }
table.indextable tr.pcap { height: 10px; }
table.indextable tr.cap { margin-top: 10px; background-color: #f2f2f2;}

/*** page-specific overrides ***/
div#contents ul { margin-bottom: 0;}
div#contents ul li { margin-bottom: 0;}
div#contents ul ul li { margin-top: 0.3em;}

/*** IE hacks ***/
* pre { width: 98%; }
