{% load i18n content_tags related_admin_tags %}
    {% if original %}
      {% if original.get_absolute_url %}<li><a href="{% url merengue.base.views.public_link opts.app_label opts.module_name object_id %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endif %}

    {% smart_relations_object_tool %}

    {% if original.basecontent_ptr or is_destination %}
      {% if original.location and original.location_id %}
        <li><a href="admin/places/location/{{ original.location.id }}/">{% trans "Location" %}</a></li>
      {% else %}
        <li><a href="admin/places/location/add/">{% trans "Location" %}</a></li>
      {% endif %}

      {% if original.contact_info %}
        <li><a href="admin/base/contactinfo/{{ original.contact_info.id }}/">{% trans "Contact Info" %}</a></li>
      {% else %}
        <li><a href="admin/base/contactinfo/add/">{% trans "Contact Info" %}</a></li>
      {% endif %}
  {% endif %}
