{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}

{% block extrahead %}
    {{ block.super }}
    <link href="{% admin_media_prefix %}css/base.css" type="text/css" rel="stylesheet">
    <link href="{% admin_media_prefix %}css/forms.css" type="text/css" rel="stylesheet">

{% endblock %}


{% block title %}
    {% trans "Save/restore configuration" %} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../">{% trans "Home" %}</a> &rsaquo;
     {% trans "Save / Restore config" %}
</div>
{% endif %}{% endblock %}

{% block content %}
    {{ block.super }}
    <h1>{% trans "Save/Restore configuration" %}</h1>
    <div id="content-main">
        <form enctype="multipart/form-data" method="post" action=".">
            <fieldset class="module">
              <h2>{% trans 'Upload saved configuration' %}</h2>
              <div class="form-row"> {% trans 'Upload and restore a .zip file containing a saved Merengue configuration' %} </div>
              <div class="form-row">
                
                {{ form.as_div }}
                <input type="submit" name="_submit" class="default" value="{% trans 'Submit config' %}" />
              </div>
            </fieldset>
        </form>

        <div class="module aligned"></div>

        <form method="get" action="save">
            <fieldset class="module">
                <h2>{% trans 'Save actual configuration' %}</h2>
                <div class="form-row"> {% trans 'Save actual Merengue configuration into a .zip file that can be restored' %} </div>
                <div class="form-row">
                <input type="submit" name="_save" class="default" value="{% trans 'Save actual config' %}" />
                </div>
            </fieldset>
        </form>
    </div>

{% endblock %}


