/* ----- Global styles ----- */

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

div#header {
   height: 100px;
   position: relative;
   background: #3b4151;
}

div#header a {
   color: white;
}

div#headerlogo {
   height: 50px;
   width: 200px;
   left: 20px;
   top: 0px;
   position: absolute;
   color: white;
   font-weight: bold;
}

#header div#portalmenu {
	display: inline-block;
}

div#site-actions {
   position: absolute;
   left: 0px;
   bottom: -1px;
}

div#site-actions ul {
   margin: 0px;
   margin-left: 20px;
   padding: 0px;
}

div#site-actions ul li {
   display: inline;
   margin: 0px;
}

div#site-actions ul li a {
   margin-right: 5px;
   padding: 0px 15px;
   text-align: center;
   border: 1px solid #cccccc;
   border-bottom-width: 0px;
}

div#site-actions ul li a:hover {
   background-color: #8b91a1;
}

div#site-actions ul li.active a {
   background-color: #eeeeee;
   color: black;
}

div#header-links {
   position: absolute;
   top: 1em;
   right: 130px;
   text-align: right;
}

div#header-links ul {
   margin-top: 0;
   margin-left: 0px;
   list-style-type: none;
}

div#header-links ul li {
   display: inline;
   margin-right: 1em;
}

#header-blocks div#googlesearch {
	width: 21%;
	margin: 5px 20px;
	float: left;
	padding-left: 10px;
	padding-bottom: 10px;
    background-color: #ABB1C1;
}

#header-blocks div#googlesearch h1 {
	margin: 0;
}

#header-blocks div#latestnews {
	margin: 5px 20px;
	float: left;
	padding-left: 10px;
	background-color: #ABB1C1;
	width: 21%;
}

#header-blocks ul#latestnews {
	float: left;
	position: absolute;
	width: 120px;
	padding-left: 0;
}

#header-blocks div#latestnews ul li {
	float:left;
	margin-right: 2em;
}

#header-blocks div#latestnews ul {
	margin: 0;
	padding-left: 15px;
}

#header-blocks div#latestnews h1 {
	margin: 0;
}

#header-blocks div#standingout {
	width: 21%;
	margin: 5px 20px;
	float: left;
	padding-left: 10px;
    background-color: #ABB1C1;
}

div#portal-primary-links {
	float: left;
	margin-left: 12%;
}

#portal-primary-links li {
	list-style: square;
	color: white;
}

div#user-actions {
   position: absolute;
   top: 2em;
   right: 20px;
}

div#user-actions ul li {
   display: inline;
}

div#user-actions ul li {
   margin-right: 10px;
}

div#language-tools {
   position: absolute;
   top: 1em;
   right: 30px;
}

div#language-tools ul {
   margin: 0px;
   display: inline;
}

div#language-tools ul li {
   display: inline;
}

#site-branding h1 {
	display: none;
}

div#breadcrumbs {
   border: 1px solid black;
   margin: 10px;
   padding: 0px 10px;
   background-color: #abb1c1;
}

div#breadcrumbs a {
   color: #333333;
}

div#breadcrumbs .breadcrumbSeparator {
   margin-right: 5px;
}

div#container {
   background-color: #eeeeee;
}

div#left-sidebar {
   float:left;
   width: 13%;
}


div#contentwrapper {
   position: relative;
   height: 100%;
}

div#content {
   position: relative;
   float: left;
   background: white;
   border: 1px solid #333333;
   margin-left: 10px;
   width: 65%;
   padding: 10px 20px;
}

#content div#googlesearch {
	width: 21%;
	float: left;
    border-top: none;
	margin: 10px 0;
	border: 1px solid #BBBBFF;
}

#content div#googlesearch h1 {
	width: auto;
	margin: 0;
}

#content div#googlesearch div.blockBody {
	margin: 5px;
}

body div#content-zone { 
    width: auto;
}

ul#content-actions {
   position: absolute;
   top: 10px;
   right: 20px;
   border: 1px solid black;
   background: white;
   padding: 0px 5px;
}

div#right-sidebar {
   float:left;
   padding: 0px 10px;
   width: 21.5em;
}

div#right-sidebar div.block {
   margin-bottom: 10px;
}

div#left-sidebar div.block h1,
div#right-sidebar div.block h1 {
   font-size: 1.5em;
   color: #334477;
   margin: 0px;
   border-bottom: 1px solid #99aadd;
   border-left: 1px solid #99aadd;
   padding-left: 10px;
}

div#right-sidebar div.block div.blockBody {
   background: #ccddff;
   border-left: 1px solid #99aadd;
   padding: 10px 0px;
}

div#right-sidebar div.block div.blockBody ul {
   margin: 0px;
   padding-left: 30px;
}

div#eventsCalendar {
	font-size: 100%;
	padding-left: 10px;
}

div#left-sidebar .ui-datepicker,
div#right-sidebar .ui-datepicker {
    width: auto !important;
}

div#footer {
   text-align: center; 
   color: #666666;
   clear: both;
   padding: 20px 0px;
}

div#content h1 {
   clear: both;
   background-color: #bbbbff;
   margin: 0px -20px 1em;
   padding: 5px 20px;
   border: 1px solid #333377;
   border-left-width: 0px;
   border-right-width: 0px;
}

ul#content-actions {
   float: right;
}

ul#content-actions li {
   display: inline;
   padding: 10px;
}

textarea {
   border: 1px solid black;
   width: 100%;
}


/* voting */
#voting {
    float: right;
    margin: 0 0 0 1em;
    height: 45px;
    border: 1px solid;
    padding: 0.5em 0.5em 0;
}

#voting h1 {
    display: none;
    visibility: hidden;
}

#voting form {
    padding-right: 100px;
}

#voting .star-rating a span {
    left: 0;
    top: 20px;
}

/* end voting */