/* ----- Global styles ----- */

a {
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

div#header {
   height: 100px;
   position: relative;
   background: #3b4151;
}

div#header a {
   color: white;
}

div#headerlogo {
   height: 50px;
   width: 200px;
   left: 20px;
   top: 0px;
   position: absolute;
   color: white;
   font-weight: bold;
}

div#site-actions {
   position: absolute;
   left: 0px;
   bottom: -1px;
}

div#site-actions ul {
   margin: 0px;
   margin-left: 20px;
   padding: 0px;
}

div#site-actions ul li {
   display: inline;
   margin: 0px;
}

div#site-actions ul li a {
   margin-right: 5px;
   padding: 0px 15px;
   text-align: center;
   border: 1px solid #cccccc;
   border-bottom-width: 0px;
}

div#site-actions ul li a:hover {
   background-color: #8b91a1;
}

div#site-actions ul li.active a {
   background-color: #eeeeee;
   color: black;
}

div#header-links {
   position: absolute;
   top: 1em;
   right: 130px;
   text-align: right;
}

div#header-links ul {
   margin-top: 0;
   margin-left: 0px;
   list-style-type: none;
}

div#header-links ul li {
   display: inline;
   margin-right: 1em;
}

div#user-actions {
   position: absolute;
   top: 1em;
   right: 20px;
}

div#user-actions ul li {
   display: inline;
}

div#user-actions ul li {
   margin-right: 10px;
}

div#language-tools {
   position: absolute;
   top: 1em;
   right: 30px;
}

div#language-tools ul {
   margin: 0px;
   display: inline;
}

div#language-tools ul li {
   display: inline;
}

div#breadcrumbs {
   border: 1px solid black;
   margin: 10px;
   padding: 0px 10px;
   background-color: #abb1c1;
}

div#breadcrumbs a {
   color: #333333;
}

div#breadcrumbs .breadcrumbSeparator {
   margin-right: 5px;
}

div#container {
   background-color: #eeeeee;
}

div#left-sidebar {
   display: none;
}

div#contentwrapper {
   position: relative;
   height: 100%;
}

div#content {
   position: relative;
   float: left;
   background: white;
   border: 1px solid #333333;
   margin-left: 10px;
   width: 65%;
   padding: 10px 20px;
}

body div#content-zone { 
    width: auto;
}

ul#content-actions {
   position: absolute;
   top: 10px;
   right: 20px;
   border: 1px solid black;
   background: white;
   padding: 0px 5px;
}

div#right-sidebar {
   margin-left: 70%;
   padding: 0px 10px;
}

div#right-sidebar div.block {
   margin-bottom: 10px;
}

div#right-sidebar div.block h1 {
   font-size: 1.5em;
   color: #334477;
   margin: 0px;
   border-bottom: 1px solid #99aadd;
   border-left: 1px solid #99aadd;
   padding-left: 10px;
}

div#right-sidebar div.block div.blockBody {
   background: #ccddff;
   border-left: 1px solid #99aadd;
   padding: 10px 0px;
}

div#right-sidebar div.block div.blockBody ul {
   margin: 0px;
   padding-left: 30px;
}

div#footer {
   text-align: center; 
   color: #666666;
   clear: both;
   padding: 20px 0px;
}

div#content h1 {
   clear: both;
   background-color: #bbbbff;
   margin: 0px -20px 1em;
   padding: 5px 20px;
   border: 1px solid #333377;
   border-left-width: 0px;
   border-right-width: 0px;
}

ul#content-actions {
   float: right;
}

ul#content-actions li {
   display: inline;
}

textarea {
   border: 1px solid black;
   width: 100%;
}
