<span class="config" style="display:none">
    <span class="field_name" style="display:none">{{ field_name }}</span>
    <span class="obj_id" style="display:none">{{ obj.id }}</span>
    <span class="content_type_id" style="display:none">{{ content_type.id }}</span>
    <span class="filters_to_show" style="display:none">{{ filters_to_show }}</span>
    <span class="filters_to_edit" style="display:none">{{ filters_to_edit }}</span>
    <span class="class_inplace" style="display:none">{{ class_inplace }}</span>
    {% if adaptor %}<span class="adaptor" style="display:none">{{ adaptor }}</span>{% endif %}
</span>