
/*#screenShotLinks {
  display: block;
  margin-top: 0;
}

#screenShotLinks li {
  display: inline;
  padding: 0 0.2em;
}*/

#slideshow{
    padding-left:0;
    margin-bottom: 1em;
    margin-right: 1em;
    background: white;
    float: left;
}

.simpleImgGallery2 {
  bottom:0px;
  height:35px;
  border-style: solid;
  border-width: 1px;
  margin-left: 1px;
}

.simpleImgGallery2 img {
/*  margin-right: 0.2em;*/
}
.simpleImgGallery2 div {
  float: right;
  margin-right: 1em;
  padding-top: 0.6em;
}

.simpleImgGallery2 .galleryButton {
  border-bottom: none;
  border-left: none;
  cursor: pointer;
  padding: 1.5em 0.1em 0 0.1em;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#shadowbox_counter b,
.screenShotTable .imagesNumber {
    font-weight: bold;
    color: #a0a0a0;
    vertical-align: top;
}

.screenShotTable .activeButton img{
    filter: alpha(opacity=100) !important;
}

.screenShotTable .galleryButton img {
    margin-top: 0.5em;
    padding-left: 5px;
    filter: alpha(opacity=40);
}

.screenShotVideos,
.screenShotImgs {
    text-align: center;
}

.simpleImgGallery2 .activeButton {
  opacity:1;
}

#slideshow  {
  float: left;
  margin-right: 1em;
}

#slideshow .screenShotTable {
  width: 235px !important;
  margin: 0 10px 0 -0.1em;
}

span.imgMax,
span.imgNow {
    margin: 0pt;
    padding: 0pt;
    display: inline;
}


img.galleryImages {
  margin: 1em auto 0 auto;
}

