{% extends "admin/change_list.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{{ MEDIA_URL }}merengue/js/sortable-change-list.js"></script>
{% endblock %}

{% block content %}
<span class="draggable-icon"
      style="display: none; float: left; margin-right: 1em; width: 14px; height: 20px; cursor: pointer;
             background: url({{ MEDIA_URL }}merengue/img/draggable.png) no-repeat bottom center;"
      title="{% trans "Click and drag to reorder" %}" />
</span>
{{ block.super }}

{% if not request.GET.q %}
<form id="save-order-form" method="post" action="" style="display:none">
    <input type="hidden" name="neworder" value=""/>
    <button value="1" name="save_order" title="Save new order" type="submit">Save new order</button>
</form>
{% endif %}
{% endblock %}

