/* ----- global styles ----- */
html {
    background: white;
}

body {
    font-size: 11pt;
    font-family: "Lucida Grande","Lucida Sans Unicode","bitstream vera sans","trebuchet ms",verdana,arial,sans-serif;
    color: #737373;
}

a {
    text-decoration: none;
}

a:hover {
    color: #4ad13b;
    text-decoration: underline;
}

h1 {
    font-size: 1.8em;
    color:#54B848;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

b,
strong {
    color: #737373;
}

span.translatable {
    background-image: none!important;
    padding: 0 !important;
    margin: 0 !important;
}

/* ----- Useful class ----- */
.visualClear {
    display: block;
    clear: both;
}


/* ----- content ----- */
#container {
    background: white url(/media/themes/yaco/img/leftsidebar_green.gif) repeat-y left top;
    position: relative;
}

div#content-zone {
    width: auto !important;
}


#content-zone .contentDescription {
    float: left;
}


/* ----- header ----- */
#header {
    background: #2F2A12 url(/media/themes/yaco/img/header_back.gif) repeat-y left top;
    min-height: 170px;
    position: relative;
    overflow: auto;
}

#headerlogo {
    display: block;
    position: absolute;
    left: 70%;
    top: 60px;
    padding-left: 20px;
    color: white;
}

#headerlogo a.translatable {
    color: white;
}

#header-blocks ul {
    margin-top: 0;
}

#header-blocks #portal-primary-links {
    border: none;
    padding-top:21px;
}

#header div#header-blocks {
    margin-left: 2.5em;
}

#site-actions ul li,
#language-tools ul li,
#user-actions ul li {
    display: inline;
    margin-left: 1em;
}

#language-tools ul li {
    margin-left: 0.2em;
}

#header-blocks ul li {
    padding: 0.1em 0.5em;
}

#header-blocks ul li.first
.haveDescendants  {
    width: 100px;
}

/* portalmenu */

#portalmenu {
    padding-top: 2em;
    width: 30%;
    float: left;
}

div#portalmenu ul.menu_ul ul.menuDepth2 {
    margin-left: 2em;  
}

div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth2 {
    margin-top: -1.5em;
    font-size: 12px;
    padding-left: 12em;
}

div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth2 li {
    position: relative;
}

div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth3 {
    position: absolute;
    top: 1px;
    left: 65px;
}

div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth2 a,
div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth3 a {
    color: #888;
}

div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth2 a:hover,
div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth3 a:hover {
    color: #DDD;
    text-decoration: none;
}

div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth2 li:hover ul {
    display: block;
    visibility: visible;
}

div#portalmenu ul.menu_ul.menuDepth1 ul.menuDepth3 {
    visibility: hidden;
    display: none;
}

div#portalmenu ul li#menu-1 {
    padding-bottom: 10px;
}


/* end portalmenu */

#header-blocks div#portal-primary-links ul {
    margin-left: 1em;
    display: inline;
}

#header-blocks div#portal-primary-links ul li {
    float:left;
}

div#portal-primary-links ul li a {
    color: #54B848;
    text-decoration: none;
}

div#portal-primary-links ul li a:hover {
    color: #888;
}

#header div#googlesearch {
    width: 21%;
    float: left;
    margin-left: 2em;
}

#header div#latestnews {
    width: 21%;
    float: left;
    margin-left: 2em;
}

#header div#latestnews h1 {
    margin-bottom: 0;
}

#user-actions a,
#header-blocks a {
    color: #54B848;
}

div#language-tools {
    margin-right: 3em;
    float:right;
}

#language-tools ul li img {
    opacity: 0.6;
}

#language-tools ul li.currentLangItem img,
#language-tools ul li a:hover img {
    opacity: 1;
}

div#user-actions,
div#language-tools {
    position: absolute;
    bottom: 10px;
}

div#user-actions {
    right: 520px;
    font-size: 12px;
}

div#language-tools {
    right: 32px;
}


div#user-actions ul li {
    border-right: 1px solid #666;
    padding: 0.1em 0.3em;
}

div#user-actions ul li a:hover {
    color: #ccc;
    text-decoration: none;v
}

#site-actions {
    position: absolute;
    bottom: 5px;
    display: block;
    width: 50%;
    margin-left: 1.5em;
}

#site-actions ul li{
    margin-right: 0.8em;

}

#site-actions a {
    color: #A3A3A3;
    border: 1px dotted #808080;
    padding: 1px 3px;
    background-color: #2F2A12;
}

.blockBody .block {
    width: auto;
    padding: 0;
    border: none;
}

#header #standingout div.blockBody {
    color: white;
}

/* ----- content wrapper ----- */
div#contentwrapper {
    position: relative;
    height: 100%;
    margin-left: 2em;
    padding: 0.5em 0 0 0.5em;
}

div#contentwrapper a {
    color:#54B848;
    text-decoration: underline;
}

div#contentwrapper a:hover {
    color: #55E046;
}

div#content {
    position: relative;
    float: left;
    background: transparent;
    margin-left: 10px;
    width: 60%;
    padding: 0 20px 10px 2em;
}

#content-title h1 {
    margin-top: 0.2em;
    font-size: 2.2em;
    float: left;
}

div#content ul {
    list-style-type: none;
    margin: 0.6em 0 0.8em 1em;
}

div#content ul#content-actions {
    float: right;
    margin: 0;
}

ul#content-actions li {
    display: inline;
    float: right;
    list-style: none;
    font-size: 0.8em;
    font-weight: bold;
    font-size: 11px;
    padding: 2px 4px;
    margin: 0.5em;
    border: 1px dotted #54B848;
}

ul#content-actions li:hover {
    background-color: #E8FDE1;
}

div#content ul#content-actions li a {
    display:block;
    padding-right:25px;
    text-decoration:none;
}

div#content ul#content-actions li#action-facebooklink a {
    background:transparent url(/media/themes/yaco/img/facebook.gif) no-repeat scroll right top;
}

div#content ul#content-actions li#action-facebooklink a:hover {
    background-position: right bottom;
}

div#content ul#content-actions li#action-exportodt a {
    background: transparent url(/media/themes/yaco/img/odt.png) no-repeat right top;
}

li.linkAdmin a {
    background:transparent url(/media/themes/yaco/img/linkadmin_icon.png) no-repeat scroll right top;
}

#content-zone .contentDescription {
    color: #666;
    padding-top: 2.5em;
}

.contentList li {
    padding: 0.2em 0;
}

/* ----- breadcrumbs ----- */
#breadcrumbs {
    margin-left:32px;
    margin-top:20px;
    padding-left:30px;
    font-size: 12px;
}


div#breadcrumbs a {
    color:#54B848;
}

div#breadcrumbs a:hover {
    text-decoration: none;
}

.breadcrumbSeparator {
    padding: 0 5px 0 2px;
}

/* -----  sidebar ----- */

#right-sidebar h1 {
    color: #AAA;
    margin-bottom: 3px;
    font-size: 1.5em;
}

#right-sidebar h1 a {
    color: inherit;
    text-decoration: inherit;
}

#right-sidebar .blockBody {
    padding: 1.5em;
    width: 14em;
    border-right: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    background: #E6FCE3;
}

#right-sidebar {
    margin-left: 66%;
    padding: 0px 10px;
    width: 25%;
}

ui-datepicker-inline {
    height: 250px !important;
    background: transparent !important;
}

#standingout li {
    margin-top: 0.5em;
}

.blockBody li{
    padding-top: 0.5em;
}

/*---- footer ----*/
#footer {
    border-top: 1px solid #54B848;
    display: block;
    color: #AAAAAA;
    font-size: 0.8em;
    width: 60%;
    padding-left: 3em;
    height:0;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer a {
    color: #AAAAAA;
}

a#powered-by {
    background: transparent url(/media/themes/merengue/img/merengue_icon.jpg) no-repeat right center;
    padding-right: 20px;
    text-align: right;
}

#footer {
    margin-left: 3em;
    display: block;
    font-size: 0.8em;
    float: left;
}

#footer-left {
    float: left;
    display: inline;
    width: 350px;
}

#footer-middle {
    float: left;
    display: block;
    width: 450px;
}

/* ----- form errors ----- */
ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
}

ul.errorlist li {
    color: white;
    background-color: red;
    border: 1px solid red;
    padding: 4px 5px 4px 25px;
}

/* ------ Core Plugin ----- */

ul.menu_ul {
    padding-left: 1em;
}

/* ----- feedback plugin ----- */


.theme-yaco #feedback #firstcomment h3,
.theme-yaco #feedback #firstcomment .commentBody,
.theme-yaco #feedback #firstcomment .actions,
.theme-yaco #feedback .commentform,
.theme-yaco #feedback #firstcomment .commentinfo {
    background: #e6fce3 none repeat scroll 0 0;
}

.theme-yaco #feedback h2,
.theme-yaco #feedback h1 {
    color: #54B848;
}

.theme-yaco #feedback h3,
.theme-yaco #feedback p {
    color: #737373;
}

.theme-yaco #feedback #firstcomment div#firstactions {
    background: none;
}

.theme-yaco #feedback #firstcomment .commentBody {
    font-weight: bold;
}

.theme-yaco #feedback .actions a {
    color: black;
}


.theme-yaco #feedback #firstcomment .commentLink {
    font-size: 0.6em;
    right: 30px;
    color: gray;
}
/* category and date fields */
div.date,
div#contentCategories {
    color: #54B848;
}

div.date label,
div#contentCategories label {
    color: #717171;
}


/* ----- attached files for contents ----- */
div.contentFiles {
    clear: right;
    float: right;
    border: 1px dotted #54B848;
    margin: 0.5em;
    padding: 0.5em;
    width: 180px;
}

div.contentFiles h2 {
    background: transparent url(../img/attached_icon.png) no-repeat left center;
    padding-left: 25px;
    margin-bottom: 4px;
    font-size: 1em;
    margin-top: 0;
}
div.contentFiles ul {
    margin-left: 0.5em;
}

div.contentFiles ul li {
    background: transparent url(../img/menu_bullet.png) no-repeat left 7px;
    padding-left: 12px;
    font-size: 12px;
}
/* ----- calendar  ----- */
.ui-datepicker .ui-datepicker-header {
    height:25px;
}

#eventscalendar {
    background-color: white;
}
#eventscalendar .ui-datepicker {
    height: 182px;
}

/* ----- events view  ----- */
.eventDates {
    font-size: 90%;
    margin-bottom: 1em;
    color:#666;
    padding-top:0.4em;
    margin: 0 0 1em 3.5em;
    padding:0.2em;
    border-bottom: 1px dotted #ddd;
}

.eventDates label {
    color: #54B848;
} 

.eventIcon {
    float:left;
    margin-right: 0.5em;
}

/*---- voting ----*/
#voting h1 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
    margin-top:0;
}

#right-sidebar.blockContainer div#voting {
    float: none;
}

.blockContainer div#voting  {
    float:right;
    margin: 0.2em 0.5em 0 0.5em;
    padding: 0.7em 1.3em;
    color: #54B848;
    border: 1px dotted #54B848;
}

.star-rating a:hover span {
    color: #b38f60 !important;
    margin-top: 3px;
    margin-left: 3px;
    text-decoration: none;
}

.star-rating {
    font-size: 13px;
    padding:0.2em;
}
#content .star-rating ol {
    left: 42px !important;
    top:-2px !important;
}

#content .star-rating li.current-rating {
    background: transparent url("../img/stars.png") repeat scroll left bottom;
}
#content .star-rating ol {
    background: transparent url("../img/stars.png") repeat-x scroll left top;
}

#content .star-rating li a:hover {
    background: transparent url("../img/stars.png") repeat-x scroll left center;;
}

#content .star-rating a:hover span {
    color: #54B848;
}

#content .star-rating a span {
    left: 0;
    top:25px;
    color: #54B848 !important;
}

/* ----- searcher  ----- */
#content-zone div#googlesearch {
    background: #f0f0f0;
    width: 32%;
    padding: 0 5px 5px;
    border-bottom: 1px dotted #CCCCCC;
    border-right: 1px dotted #CCCCCC;
}

#content-zone div#googlesearch h1 {
    margin-bottom: 0;
}

/* ----- pagination  ----- */
.pagination {
    width:100%;
    display: block;
    float: left;
    margin: 1.5em 0;
    font-size: 85%;
}

div.pagination  span.disabled {
    color: #CCC;
}

.page {
    padding: 0 0.2em;
    text-decoration: none !important;
}
.current {
    color:#54B848;
    background: #E6FCE3;
    padding: 0 3px;
    margin: 0 0.2em;
    border: 1px dotted #54B848;
}
/*
.pagination .current,
.pagination a {
    float:left;
}
*/
/* ----- filebrowser ----- */
#content div.object-buttons ul {
    margin-left: 0;
}

#content div.object-buttons ul li{
    display: inline-block;
    margin-right: 0.5em;
}

#content div.object-buttons ul li a {
    text-decoration: none;
    padding-left: 25px;
    border: 1px dotted;
    padding-right: 5px;
}

#content div.object-buttons ul li.createFolder a {
    background: transparent url("../img/folder-new.png") no-repeat left bottom;
}

#content div.object-buttons ul li.createFile a {
    background: transparent url("../img/folder-up.png") no-repeat left bottom;
}

#content div.object-buttons ul li.createDocument a {
    background: transparent url("../img/new-doc.png") no-repeat left bottom;
}

#content div.object-buttons ul li.cancelEdit a {
    background: transparent url("../img/edit-undo.png") no-repeat left bottom;
}

#content div.object-buttons ul li.docEdit a {
    background: transparent url("../img/document-text-editor.png") no-repeat left bottom;
}

#content div.object-buttons ul li.createFolder a span,
#content div.object-buttons ul li.createFile a span,
#content div.object-buttons ul li.createDocument a span,
#content div.object-buttons ul li.cancelEdit a span {
    background: none;
    padding-left: 0;
}

#content .action-buttons p.noContent {
    background: transparent url("../img/info_icon.png") no-repeat left center;
    padding-left: 20px;
}

#content-main h2.element-action {
    font-size: 1em;
}

/* ----- multimedia viewer  ----- */
.simpleImgGallery2 {
    border-style: dotted !important;
    border-color: #54B848;
    background-color: #ebfce8;
}

/* ----- Tagcloud  ----- */
#right-sidebar #tagcloud div.blockInner ul li {
    font-size: 1.2em !important;
}

/* cms login */
#login  {
    -moz-border-radius: 0;
    padding: 0;
    background: #2F2A12 url(../img/logo_green.png) no-repeat 10px 10px;
}

#login form {
    overflow: auto;
    margin-top: 62px !important;
    background: white;
}

#login form input[type="submit"] {
    cursor: pointer;
}

#login label {
    color: #333;
}

#login a.resetPassword {
    color: #54B848;
    display: block;
    background: white;
    padding: 0 0 1em 1em;
}
/* end cms login */
