/* ----- global styles ----- */
html {
	background: white;
}

body {
    font-size: 11pt;
    font-family: arial;
}

a {
    text-decoration: none;
}

a:hover {
    color: #339911;
    text-decoration: underline;
}

h1 {
    font-size: 1.8em;
    color:#54B848;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

b,
strong {
    color: #737373;
}

/* ----- Useful class ----- */
.visualClear {
    display: block;
    clear: both;
}


/* ----- content ----- */
#container {
    background: white url(/media/themes/yaco/img/leftsidebar_green.gif) repeat-y left top;
    position: relative;
}

body div#content-zone {
    width: auto;
}

/* ----- header ----- */
#header {
    background: #2F2A12 url(/media/themes/yaco/img/header_back.gif) repeat-y left top;
    height: 170px;
}

#headerlogo {
    display: block;
    position: absolute;
    left: 70%;
    top: 60px;
    padding-left: 20px;
    color: white;
}

#headerlogo a.translatable {
    color: white;
}

#header-blocks ul {
    margin-top: 0;
    padding-top: 1em;
}

#header-blocks #portal-primary-links {
    border: none;
    width: auto;
}

#header ul,
#header div#header-blocks {
    margin-left: 3em;
}

#header-blocks ul li,
#site-actions ul li,
#language-tools ul li {
    display: inline;
	margin-left 3em;
}

#header-blocks ul li {
    border-right: 2px solid #666666;
    font-weight: bold;
    padding: 0 0.5em;
}

#header div#googlesearch {
	width: 21%;
	float: left;
	margin-left: 2em;
}

#header div#latestnews {
	width: 21%;
	float: left;
	margin-left: 2em;
}

#header div#latestnews h1 {
	margin-bottom: 0;
}

#user-actions a,
#header-blocks a {
    color: #54B848;
}

div#language-tools {
    margin-right: 3em;
	float:right;
}

#language-tools ul li img {
    padding: 3px 2px;
}

#language-tools ul li.currentLangItem img {
    padding: 2px;
    border: 1px solid #54B848;
}

#user-actions {
	float: right;
    display: block;
    width: 26%;
}

#user-action a {
    color: white;
}

#site-actions {
    position: absolute;
    top: 70px;
    display: block;
    width: 70%;
	margin-left: 1.5em;
}

#site-actions ul li{
    margin-right: 0.8em;

}

#site-actions a {
    color: #CCCCCC;
	border: 1px dotted #AAA;
	padding: 2px 4px;
}

.blockBody .block {
    width: auto;
    padding: 0;
    border: none;
}

#portalmenu {
	display: inline;
	margin-left: 2em;
	float: right;
}

#header #standingout div.blockBody {
	color: white;
}

/* ----- content wrapper ----- */
div#contentwrapper {
    position: relative;
    height: 100%;
    margin-left: 2em;
    padding: 0.5em 0 0 0.5em;
}

div#contentwrapper a {
    color:#54B848;
    text-decoration: underline;
}

div#contentwrapper a:hover {
    color: #44EE22;
}

div#content {
    position: relative;
    float: left;
    background: white;
    margin-left: 10px;
    width: 60%;
    padding: 0 20px 10px 2em;
}

#content-title h1 {
    margin-top: 0.2em;
    font-size: 2.2em;
}

div#content ul {
    list-style-type: none;
    margin: 0.6em 0 0.8em 1em;
}

div#content ul#content-actions {
    border: 1px solid lightgray;
    float: right;
    margin: 0.5em;
    padding: 0.5em;
}

ul#content-actions li {
    display: block;
    list-style: none;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px 0 5px;
}

div#content ul#content-actions li a {
    display:block;
    padding-right:25px;
    text-decoration:none;
}

div#content ul#content-actions li#action-facebooklink a {
    background:transparent url(/media/themes/yaco/img/facebook.gif) no-repeat scroll right top;
}

div#content ul#content-actions li#action-facebooklink a:hover {
    background-position: right bottom;
}

li.linkAdmin a {
    background:transparent url(/media/themes/yaco/img/linkadmin_icon.png) no-repeat scroll right top;
}

.contentDescription {
    color: #999999;
}

.contentList li {
	padding: 0.2em 0;
}

/* ----- breadcrumbs ----- */
#breadcrumbs {
    margin-left:32px;
    margin-top:20px;
    padding-left:30px;
}


div#breadcrumbs a {
    color:#54B848;
}

div#breadcrumbs a:hover {
    text-decoration: none;
}

.breadcrumbSeparator {
    padding: 0 5px 0 2px;
}

/* -----  sidebar ----- */

#right-sidebar h1 {
	color: #AAA;
	margin-bottom: 3px;
	font-size: 1.5em;
}

#right-sidebar .blockBody {
    padding: 1.5em;
    width: 14em;
	border-right: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	background: #E6FCE3;
}

#right-sidebar {
    margin-left: 66%;
    padding: 0px 10px;
	width: 25%;
}
.ui-widget-content {
	height: 250px !important;
	background: transparent !important;
}

#standingout li {
	margin-top: 0.5em;
}

.blockBody li{
	padding-top: 0.5em;
}

/*---- footer ----*/
#footer {
	border-top: 1px solid #54B848;
    display: block;
    color: #AAAAAA;
    font-size: 0.8em;
	width: 60%;
	padding-left: 3em;
	height:0;
	position: absolute;
	bottom: 0;
	left: 0;
}

#footer a {
    color: #AAAAAA;
}

a#powered-by {
    background: transparent url(/media/themes/merengue/img/merengue_icon.jpg) no-repeat right center;
    padding-right: 20px;
    text-align: right;
}

#footer {
    margin-left: 3em;
    display: block;
    font-size: 0.8em;
	float: left;
}

#footer-left {
    float: left;
    display: inline;
    width: 350px;
}

#footer-middle {
    float: left;
    display: block;
    width: 450px;
}

/* ----- form errors ----- */
ul.errorlist {
    margin: 0 !important;
    padding: 0 !important;
    color: white;
}

ul.errorlist li {
    background-color: red;
    border: 1px solid red;
    padding: 4px 5px 4px 25px;
}

/* ------ Core Plugin ----- */

ul.menu_ul {
    padding-left: 1em;
}

/* ----- feedback plugin ----- */


.theme-yaco #feedback #firstcomment h3,
.theme-yaco #feedback #firstcomment .commentBody,
.theme-yaco #feedback #firstcomment .actions,
.theme-yaco #feedback .commentform,
.theme-yaco #feedback #firstcomment .commentinfo {
    background: #e6fce3 none repeat scroll 0 0;
}

.theme-yaco #feedback h2,
.theme-yaco #feedback h1 {
    color: #54B848;
}

.theme-yaco #feedback h3,
.theme-yaco #feedback p {
    color: #737373;
}

.theme-yaco #feedback #firstcomment div#firstactions {
    background: none;
}

.theme-yaco #feedback #firstcomment .commentBody {
    font-weight: bold;
}

.theme-yaco #feedback .actions a {
    color: black;
}


.theme-yaco #feedback #firstcomment .commentLink {
    font-size: 0.6em;
    right: 30px;
    color: gray;
}

/* ----- attached files for contents ----- */
div.contentFiles {
    clear: right;
    float: right;
    border: 1px solid lightgray;
    margin: 0.5em;
    padding: 0.5em;
    width: 180px;
}

div.contentFiles h2 {
    font-size: 1em;
    text-align: right;
    margin-top: 0;
}

div.contentFiles ul {
    text-align: right;
}

/* ----- calendar  ----- */
.ui-datepicker .ui-datepicker-header {
    height:25px;
}

#eventsCalendar {
	background-color: white;
}

/* ----- events view  ----- */
.eventDates {
	font-size: 90%;
	margin-bottom: 1em;
	color:#666;
	padding-top:0.4em;
	margin: 0 0 1em 3.5em;
	padding:0.2em;
	border-bottom: 1px dotted #ddd;
}

.eventDates label {
	color: #54B848;
} 

.eventIcon {
	float:left;
	margin-right: 0.5em;
}

/*---- voting ----*/
#voting h1 {
	font-size: 1.5em;
	margin-bottom: 0.2em;
	margin-top:0;
}

.blockContainer div#voting  {
	float:right;
	margin: 0.2em 0 0 0.5em;
	padding: 0.7em;
	border: 1px dotted #54B848;
}

.star-rating a:hover span {
	color: #b38f60 !important;
	margin-top: 3px;
	margin-left: 3px;
	text-decoration: none;
}

.star-rating {
	font-size: 13px;
	padding:0.2em;
}
.star-rating ol {
	left: 42px !important;
	top:-2px !important;
}

/* ----- searcher  ----- */
#content-zone div#googlesearch {
	background: #f0f0f0;
	width: 32%;
	padding: 0 5px 5px;
	border-bottom: 1px dotted #CCCCCC;
	border-right: 1px dotted #CCCCCC;
}

#content-zone div#googlesearch h1 {
	margin-bottom: 0;
}


/* ----- pagination  ----- */
.prev {
	display:block;
	width:10px;
	height:14px;
	background:transparent url(/media/themes/yaco/img/paginator_previous.gif) no-repeat scroll left 4px;
}
.pagination img{
	display: none;
}
.pagination {
	width:100%;
	display: block;
	float: left;
    margin: 1.5em 0;
	font-size: 85%;
}
.page {
	padding: 0 0.2em;
	text-decoration: none !important;
}
.current {
	color:#54B848;
	background: #E6FCE3;
	padding: 0 3px;
	margin: 0 0.2em;
	border: 1px dotted #54B848;
}
.pagination .current,
.pagination a {
	float:left;
}
.next {
	display:block;
	width:10px;
	height:14px;
	background:transparent url(/media/themes/yaco/img/paginator_next.gif) no-repeat scroll left 4px;
}

/* ----- multimedia viewer  ----- */
.simpleImgGallery2 {
	border-style: dotted !important;
	border-color: #54B848;
	background-color: #ebfce8;
}

