/* ----- general styles ----- */
#body{
    font: 12px/19px Helvetica,sans-serif;
}

p {
    color:#717171;
}

a:link, a:visited {
    color: #bf9460;
}

a:hover {
    color: #806446;
}

.clear {
    clear: both;
}

/* ----- header styles ----- */
#header {
    background: #E6D8C0;
    color: #917250;
    min-height:62px;
}

div#header img#merengue_logo {
    float: left;
}

#branding h1 { 
    margin: 1.2em 0 0 11em;
    color: #BF843B;
}

#container div.breadcrumbs {
    border-top-width: 0px;
    border-bottom: none;
    padding: 10px 10px;
    clear: both;
    background: none;
}

/*---- other styles ----*/

.module-merengue h1,
#content-related .module h2,
.merengueadmin .module h2,
.module caption, 
.inline-group h2 {
    background: #E6D8C0 url(../img/admin/default-bg.gif) repeat-x top left;
}

.module-merengue {
    padding: 0.5em;
    background: #ffffff;
}

.dashboard .module-merengue {
    background: none;
    padding-top: 0;
}

.module-merengue h1 {
    background: white !important;
    font-size: 1.3em;
    margin: 0;
    padding: 2px 5px 3px;
}

.module-merengue h2 {
    color: #666666;
}

.module-merengue dl {
    margin-left: 2em;
}

.module-merengue dt {
    font-size: 1.2em;
    margin-top: 1em;
    background: transparent url(../img/admin_bullet.gif) no-repeat center left;
    padding-left: 14px;
}

.module-merengue dd {
    font-size: 1em;
    margin-top: 0.2em;
    font-style: italic;
    color: #999;
}

.module ul, .module ol {
    margin-left: 1em;
}

#administrator-menu ul li {
    background: transparent url(../img/admin/demo_bullet.png) no-repeat center left;
    padding-left: 12px;
}

.module-merengue h1 a {
    color: white;
    font-size: 12px;
}

#content-related {
    z-index: 2;
}

#content-related .module {
    padding-top: 0;
}

#changelist .actions label {
    line-height: 20px;
    margin-right: 0.3em;
}

*+html #changelist .actions button.button { /* IE7 hack */
    height: 19px;
}

#changelist-filter li.selected a {
    color: #BF9460 !important;
}

#changelist-filter h2,
.module h2, 
.module caption, 
.inline-group h2 {
    background: #E6D8C0 url(../img/admin/default-bg.gif) repeat-x top left;
}
.object-tools a:hover {
	text-decoration: none;
}

.row1 {
    background: #f7f5f0;
}

/* ------- Object tools buttons -------*/
.object-tools {
    margin: 0 0 0.5em 1em;
}

.object-tools li {
    margin-bottom: 0.5em;
    background: #999;
    padding: 2px;
}

.object-tools a.addlink,
.object-tools a.addlink {
    background: #999 url("../img/admin/tooltag-add.gif") no-repeat scroll right -1px;
    padding-right: 24px;
}

.object-tools a.addlink:hover,
.object-tools a.addlink:hover {
    background: #D1D1D1 url("../img/admin/tooltag-add_over.gif") no-repeat scroll right -1px;
}

.object-tools a.viewsitelink,
.object-tools a.golink {
    background: #999 url("../img/admin/tooltag-arrowright.gif") no-repeat scroll right -1px;
}

.object-tools a.viewsitelink:hover,
.object-tools a.golink:hover {
    background: #D1D1D1 url("../img/admin/tooltag-arrowright_over.gif") no-repeat scroll right top;
}

.object-tools a.historylink {
    background: #999 url("../img/admin/tool-right.gif") no-repeat scroll right top;
}

.object-tools a.historylink:hover {
    background: #D1D1D 1 url("../img/admin/tool-right_over.gif") no-repeat scroll right top;
}

.object-tools a.default,
.object-tools a.reportlink,
.object-tools a.historylink,
.object-tools a.permissionslink {
    background-image: none;
}

.object-tools a:hover,
.object-tools li:hover,
.object-tools li:hover a {
    background: none;
    background-color: #D1D1D1;
}

ul.din_smart_relations_object_tool li {
    display: block;
    float: none;
    white-space: nowrap;
}

ul.object-tools li.din_selected a {
    background-image: none !important;
}

ul.object-tools li.parent:hover a.din_smart_trigger,
ul.object-tools li.din_selected a.din_smart_trigger {
    background: #D1D1D1 no-repeat top right !important;
    float: left;
    width: 20px;
    padding: 0px;
    height: 16px;
    margin-left: 2px;
}


ul.object-tools li.parent:hover span {
    background-color: #5b80b2;
}

ul.object-tools li.parent span {
    width: 50px;
    float: left;
    height: 14px;
    background-color: #999999;
    padding: 0.1em;
    color: white;
}

ul#report-links.object-tools {
    width: 120px;
}

ul#report-links.object-tools li{
    width: 100%;
    padding-left: 0;
    margin: 0;
    background-image: url(../img/admin/tools_more.png);
    background-position: 102px 2px;
    background-repeat: no-repeat;
}

ul#report-links.object-tools.open li{
    background-image: url(../img/admin/tools_less.png);
}

ul#report-links.object-tools ul{
    display: none;
    z-index: 9999;
    position: absolute;
    width: 120px;
    bottom: 26px;
    right: 0;
    margin: 0;
    padding: 5px 0 0 0;
}

ul#report-links.object-tools ul li{
    width: 100%;
    margin: 4px 0;
    background-image: none;
}

ul#report-links.object-tools ul li a{
    float: none;
}

ul#report-links.object-tools li a.quickreportlink{
    width: 82px;
}

li#expand-report-options{
    margin-left: -20px !important;
}

/*----- end object tools ---*/

.button.default,
input.default[type="submit"],
.submit-row input.default {
    border: 1px solid #C49A6C;
    background: #E6D8C0 url(../img/admin/default-bg.gif) repeat-x top left;
    color: #917250;
}

.submit-row input {
    float: right;
}

/* ----- related object tools ----- */
#content-main ul.object-tools {
    float: left;
    margin-top: 8px;
    margin-right: 2em;
    z-index: 10;
}

#content-main ul.object-tools li {
    background: none;
    margin: 0.8em 1em 1em 0;
}

#content-main ul.object-tools li a {
    background: none;
    color: #BF9460;
}

#content #content-main ul.object-tools li a:hover {
    color: #806446;
    background: none;
}

#content #content-main ul.object-tools li a.addlink {
    padding-right: 15px;
    background-image: url(../img/admin/icon_addlink.gif);
    background-repeat: no-repeat;
    background-position: 100% 0.2em;
}

#content #content-main ul.object-tools li a.quickreportlink {
    background: transparent url(../img/admin/icon_quickreportlink.gif) no-repeat 100% 0.2em;
    padding-right: 15px;
}

#content #content-main ul.object-tools li a.advancedreportlink {
    background: url(../img/admin/icon_advancedreportlink.gif) no-repeat;
    padding-right: 15px;
    background-position: 100% 0.2em;
}

#content #content-main ul.object-tools li a.viewsitelink {
    background: url(../img/admin/icon_viewsitelink.gif) no-repeat;
    padding-right: 15px;
    background-position: 100% 0.2em;
}

#content #content-main ul.object-tools li a.historylink {
    background: url(../img/admin/icon_historylink.gif) no-repeat;
    padding-right: 15px;
    background-position: 100% 0.2em;
} 

#content #content-main .object-tools-wrapper {
    border-top: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#content #content-main .object-tools-bottom {
    clear: both;
}

.button.default:active, input.default[type="submit"]:active {
    border: 1px solid #C49A6C;
    background: #E6D8C0 url(../img/admin/default-bg-reverse.gif) repeat-x top left;
    color: #917250;
}

#changelist .actions label {
    line-height: 20px;
    margin-right: 0.3em;
}

#changelist-filter h2,
.module h2,
.module caption,
.inline-group h2 {
    background: #E6D8C0 url(../img/admin/default-bg.gif) repeat-x top left;
}

.object-tools {
    margin-bottom: 0.5em;
    margin-top: 0em;
}

body.login  {
    background: #F4F0E5;
}

.login #container {
    width: 350px;
    padding: 0 20px;
    background:  #E6D8C0 url(../img/login_logo.jpg) no-repeat scroll center top;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.login #container #header {
    visibility: hidden;
    min-height: 90px;
}

.login .form-row label {
    color: #A17F59;
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 150px;
}

.login .form-row input#id_username,
.login .form-row input#id_password {
    width: 150px;
}

#user-tools {
    padding: 2em 10px 1em 10px;
}

.object-subtools {
   clear: both;
   margin-top: 7px;
   margin-bottom: 1em;
   float: right;
   width: 100%;
}

.object-subtools ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
   float: right;
   background-color: #999999;
}

.object-subtools ul li {
   float: left;
   list-style-type: none;
   display: block;
   padding: 2px 5px;
   border-left: 1px solid white;
}

.object-subtools-bigger ul li a {
   padding: 0px 60px;
}

.object-subtools ul li a {
   color: white;
}

.object-tools li.selected span {
    float: left;
}

.object-tools li.selected span.selected-with-subtools {
    padding-bottom: 9px;
    background: white;
}

.object-subtools ul li.selected {
   background-color: #5b80b2;
}

div.mini-googlemap {
   height: 150px;
   width: 200px;
}

.gmnoprint span {
   visibility: hidden;
}

.calendarbox .calendarnav-next-month,
.calendarbox .calendarnav-previous-month {
   position: absolute;
   top: 0px;
   font-weight: bold;
   font-size: 12px;
   padding-top: 1px;
   padding-bottom: 2px;
}

.calendarbox .calendarnav-previous-month {
   left: 17px;
}

.calendarbox .calendarnav-next-month {
   right: 17px;
}

.calendarbox .calendarnav-next-month,
.calendarbox .calendarnav-previous-month,
.calendarbox .calendarnav-previous,
.calendarbox .calendarnav-next {
   background: #c9dbed url(../img/admin/default-bg.gif) repeat-x left bottom;
   color: white;
   padding-left: 0px;
   padding-right: 0px;
   text-align: center;
   height: 15px;
   width: 16px;
}

.calendarbox .calendarnav-next-month:hover,
.calendarbox .calendarnav-previous-month:hover,
.calendarbox .calendarnav-previous:hover,
.calendarbox .calendarnav-next:hover {
   background: none;
   background-color: #003366;
}

.related .calendarbox.module {
    padding-top: 0;
}

.module {
    clear: right;
}

.related .module {
    border-top: none;
    padding-top: 1em;
} 

.object-subtools {
    padding-top:0;
}

a.fadeingooglemap {
    color: #5b80b2;
}

a.fadeingooglemap:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hide {
    display: none;
}

#img_ajax_loader{
    height:16px;
}

a.ajax_geolocation{
    color:white;
    text-decoration: underline;

}

#id_input_ajax{
    font-size:9px;
    height:1.2em;
    width:40em;
}

.view_on_map {
    margin-left: 1em;
}

#global-languageselector{
    display: inline;
    padding-left: 0px;
}

ul#global-languageselector li {
    opacity: 0.3;
}

ul#global-languageselector li.currentLangItem {
  opacity: 1;
  border: none;
  padding: 0;
}

#global-languageselector li form,
#global-languageselector li form input,
#global-languageselector li {
   display: inline;
   padding: 0px;
   margin: 0px;
   background: none;
}

#global-languageselector li {
   position: relative;
   padding-left: 1px;
}

form.languageform {
   display: inline;
}

form.languageform input {
   border: none;
}

span.span15 {
   padding-left: 15px;
}

span.span50 {
   padding-left: 50px;
}

img.plusMenu:hover,
img.minusMenu:hover {
   cursor: pointer;
}

tr.selected-row {
    background: #ffff99;
}

ul.insertOptions {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul.insertOptions li {
    margin: 0px;
    padding: 0px;
    display: inline;
    margin-right: 2em;
}

div.search_form_filter_options_container {
   margin-left: 10em;
}

div.search_form_filter_container {
   margin-right: 1em;
   margin-bottom: 1em;
   float: left;
}

div.search_form_filter_container select {
   height: 200px;
}

div.search_form_filter_container label {
   float: none;
   display: block;
   margin-bottom: 0.5em;
   width: auto;
}

form .aligned p.errornote{
    margin-left: 0em;
}

ul.messagelist li a {
    color: #806446;
    text-decoration: underline;
    font-weight: bold;
}

div ul li.warning strong {
    color: #cc0000;
}

input.withInternalLinkUrl {
    float: left;
}

a.internalLinkUrl {
    display: block;
    float: left;
    margin: 0px 1em;
    background: url(../js/tiny_mce_internal_links/images/internal_link.gif) no-repeat top left;
    width: 20px;
    height: 20px;
}

div.config_params_debug_container,
div.config_params_container {
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}

div.config_params_debug_container {
    border-left: 1px solid gray;
    padding-left: 2em;
}

div.config_params_debug_container label,
div.config_params_container label {
    display: block;
    float: none;
    margin-bottom: 0.5em;
    width: auto;
}

div.smart_relations_object_tool_container {
    float: left;
    position: relative;
}

ul.smart_relations_object_tool {
    display: inline;
    margin: 0px; 
    padding: 0px;
}

ul.din_smart_relations_object_tool {
    display: block;
    float: left;
    position: absolute;
    z-index: 9999;
    top: 20px;
}



ul.dependencies {
    padding-left: 15px;
}

ul.dependencies li.fulfilled {
    list-style: none;
    background: transparent url(/admin_media/img/admin/icon-yes.gif) no-repeat left center !important;
    color: #44AD41;
    padding-left: 15px;
}

ul.dependencies li.unfulfilled {
    list-style: none;
    background: transparent url(/admin_media/img/admin/icon-no.gif) no-repeat left center !important;
    color: #FF0000;
    padding-left: 15px;
}

.row-holder {
    background-color: #f0ffff;
    border: 1px dashed #999999;
}

div.css-validator-checkboxes {
    display: inline;
}

div.css-validator-checkboxes div{
    display: inline;
}

textarea#id_css_chunk {
    display: inline !important;
}

#changeform th {
	font-size: 13px;
	line-height: 19px;
}

.noteUser {
	font-style: italic;
	margin-bottom:0.5em;
	color: #aaa;
}

.paginator a:hover {
	background: #E6D8C0;
	border-color: #BF9460;
	color: #BF9460;
}

.selector-add  {
    background:url("../img/admin/selector-add.gif") no-repeat scroll center top transparent;
    margin-bottom:2px;
}

a.selector-chooseall {
    background:url("../img/admin/selector-addall.gif") no-repeat scroll left center transparent;
    width:7em;
}

/* ----- plugin admin ----- */
#plugin-changelist tr.broken {
    background-color: #dddddd;
}

#plugin-changelist tr.broken {
    font-style: italic;
}

#plugin-changelist tr.broken th {
    background: transparent url(../img/admin/broken_plugin.gif) no-repeat left center !important;
    padding-left: 18px;
}

#plugin-changelist tr.broken a {
    color: #54556f;
    font-style: italic;
}

#changeform table {
    width: 100%;
}

.form-row,
div.module.form-row {
    border: 0px;
    border-bottom: 1px dotted #EEEEEE;
}

.login .form-row,
.login div.module.form-row {
    border: none;
}
/* ---- section changelist ---- */
.section-contents {
    margin: 0px -5px;
    background: white;
    margin-bottom: -5px;
}

.section-contents .ajax-loading {
    position: absolute;
    padding-left: 20px;
}

.module .toolList {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

.toolList li {
    list-style-type: none;
    padding-left: 50px;
    line-height: 25px;
}

.contents-toggle {
    width: 20px;
    float: left;
    display: block;
    height: 10px;
}

.toolContentContainer {
    padding: 0px;
    margin: 0px;
    margin-left: -50px;
}

.module .toolContentList {
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
}

.module .toolContentList li {
    padding-left: 70px;
    list-style-type: square;
    list-style-position: inside;
    color: #99aabb;
}

.nocontents {
    margin-left: 2em;
    color: #99aabb;
}


.configDebug {
    clear: both;
}

/* ----- change form tabs ------- */
.change-tabs {
    clear: both;
    float: left;
}

#change-tabs-ul {
    list-style-type: none;
    float: left;
    margin: 0px;
    padding: 0px;
}

#change-tabs-ul li {
    position: relative;
    list-style-type: none;
    float: left;
    margin-right: -1px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-bottom-width: 0px;
    padding: 0px;
    margin-bottom: -1px;
    z-index: 100;
}

#change-tabs-ul li a {
    display: block;
    padding: 5px 2em;
    background-color: #eeeeee;
}

#change-tabs-ul li.active {
    margin-top: 0px;
    border-bottom: 1px solid white;
}

#change-tabs-ul li.active a {
    padding-top: 10px;
    background-color: white;
}

#content-main {
    position: relative;
    width: auto;
    width: 100%;
}

#content-main form > div fieldset:first-child {
    padding-top: 1em;
}

#content-main form fieldset {
    clear: left;
    padding-top: 0px;
}

#change-tabs-ul li.extra-link a,
#change-tabs-ul li.content-link a {
    background-image: url(../img/admin/dropdown.gif);
    background-repeat: no-repeat;
    background-position: 90% 0.6em;
    padding-right: 32px;
}

#change-tabs-ul li.extra-link.active a,
#change-tabs-ul li.content-link.active a {
    background-position: 90% 1em;
}

ul.extra_options,
ul.contents_parent {
    position: absolute;
    display: none;
    margin: 0px;
    padding: 0px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    margin-top: 1px;
}

#change-tabs-ul ul.extra_options li,
#change-tabs-ul ul.contents_parent li {
    z-index: 200;
    float: none;
    display: block;
    border-width: 0px;
    border-bottom: 1px solid #cccccc;
    padding: 0px;
    margin: 0px;
}

#change-tabs-ul ul.extra_options li a,
#change-tabs-ul ul.contents_parent li a {
    background: white;
}

ul.contents_parent {
    left: -1px;
}

ul.extra_options {
    right: -1px;
}

/* ----- main tabs ------- */
.maintabs {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    float: left;
    clear: both;
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

.maintabs ul {
    margin: 0px;
    padding: 0px;
    list-style-type: 0px;
    float: left;
    margin-bottom: -1px;
}

.maintabs ul li {
    float: left;
    display: block;
    border-right: 1px solid #cccccc;
    background-color: #cccccc;
}

.maintabs ul li.active {
    font-weight: bold;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
}

.maintabs ul li a {
    display: block;
    padding: 1em 32px 1em 44px;
    background-color: #e0e0e0;
    background-repeat: no-repeat;
    background-position: center left;
    border-bottom: 1px solid #e0e0e0;
}

.maintabs ul li.active a {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: -1px;
    font-weight: bolder;
}

/*.maintabs ul li a:hover {
    background-color: #fff;
    border-bottom: 2px solid #fff;
    margin-bottom: -1px;
}*/


.maintabs ul li.contentmanagement a {
    background-image: url(../img/admin/content-management.png);
}

.maintabs ul li {
    font-size: 1.1em;
}

.maintabs ul li.sitebuilding a {
    background-image: url(../img/admin/site-configuration.png);
}

.maintabs ul li.usermanagement a {
    background-image: url(../img/admin/manage-users.png);
}

.maintabs ul li.plugins a {
    background-image: url(../img/admin/plugins.png);
}

/* ----- trans fields ------- */
.trans-field-container {
    width: 100%;
    float: left;
    border-bottom: 1px solid #eeeeee;
    background-color: white;
}

.trans-field-container div.form-row {
    display: none;
}

.trans-field-container .labels {
    float: left;
    padding-right: 12px;
    width: 8em; 
    border-right: 1px solid #dddddd;
    padding-bottom: 2em;
}

.trans-field-container .labels label {
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
    margin: 0px;
    padding: 5px 1em 5px 12px;
    width: 7em; 
    float: left;
    background-color: #f1f1f1;
    color: #cccccc;
}

.trans-field-container .fields {
    border-left: 1px solid #dddddd;
    padding-left: 10px;
    margin-left: 9em;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 100%;
}

.trans-field-container .labels label:hover {
    background-color: #dddddd;
    color: #666666;
}

.trans-field-container .labels .active label {
    position: relative;
    background-color: white;
    color: #666666;
    border-right: 1px solid white;
    z-index: 10;
}

.trans-field-container .labels .active.errors label {
    border-right: 1px solid #ffffcc;
}

.trans-field-container .labels .errors label,
.trans-field-container .labels .errors label.required {
    background-color: #ffffcc;
    color: red !important;
}

.trans-field-container .errors {
    background-color: #ffffcc;
}

.trans-field-container p.help.translatable{
    margin-left: 0 !important;
    padding-left: 0 !important;
}
/*------- administrator-menu ------*/
#administrator-menu ul li {
    list-style: none;
}

li.changelink,
li.addlink,
li.deletelink {
    list-style: none;
}
