body {
    background: white url(../img/admin/index-sidebar.png) repeat-y top right;
}

#content {
    margin: 0px;
    position: relative;
    clear: both;
    min-height: 100%;
    height: auto;
}

.module {
    background-color: #FFF;
}

.dashboard #content {
    width: 100%;
}

#footer {
    display: none;
    padding: 0px;
}

#content-merengue {
    margin-right: 250px;
}

#content-main .module {
    background-color: #FFF;
}

#content-related {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px;
    margin-left: 15px;
    margin-top: 5px;
    width: 200px;
    padding: 0px 25px;
    /*border: 1px solid #000;*/
}

#administrator-menu h4 {
    margin-left: 10px;
}

.module-merengue-big {
    width: 100%;
    border: 0px;
}

.clear {
    clear:both;
}

#administrator-menu ul.level2 {
    margin: 0;
}

#administrator-menu ul.level2 li {
    list-style: none;
}

#administrator-menu ul.level1 li {
    font-size: 1.2em;
}

#administrator-menu ul.level2 li {
    font-size: 0.9em;
}

div#content.colMSMerengueIndex {
    margin-right: auto !important;
}
