div.httperror {
    height: 384px;
    position: relative;
	font-family: 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 100;
	line-height: 1.2em
	color: #938b82;
	text-shadow: 1px 1px 0 #F4EEDE;
}

div.httperror-500 {
    background: url('/media/merengue/img/httperrors/500.png') no-repeat top left;
} 

div#content.content-500 {
    float: none;
    margin: 0 auto;
}

div.httperror-403 {
    background: url('/media/merengue/img/httperrors/403.png') no-repeat top left;
}

div.httperror-404 {
    background: url('/media/merengue/img/httperrors/404.png') no-repeat top left;
}

div.httperror div#ups {
    font-size: 60px;
    display: inline;
    float: left;
}

div.httperror-title {
	font-size: 20px;
	line-height: 1.2em;
    width: 390px;
	position: absolute;
	top: 2em;
	right: 0.7em;
}

div.httperror-header {
    padding: 3.5em 0 0 3em;
	width: 100%;
}

div.httperror-description {
    bottom: 100px;
    position: absolute;
    width: 300px;
    left: 30px;
}