div.httperror {
    height: 392px;
	width: 570px;
    position: relative;
	font-family: 'HelveticaNeue-UltraLight','Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif;
	font-weight: 100;
	line-height: 1.2em
	color: #938b82;
	text-shadow: 1px 1px 0 #F4EEDE;
}

div.httperror-500 {
    background: url('/media/merengue/img/httperrors/500.png') no-repeat top left;
} 

div#content.content-500 {
    float: none;
    margin: 0 auto;
}

div#content.content-500 div.httperror-description {
	bottom: 180px;
	left: 3em;
}

div.httperror-403 {
    background: url('/media/merengue/img/httperrors/403.png') no-repeat top left;
}

div.httperror-404 {
    background: url('/media/merengue/img/httperrors/404.png') no-repeat top left;
}

div#ups {
    font-size: 60px;
	height:50px;
    display: inline;
    float: left;
	padding-top: 0.2em;
}
	
div.httperror-title {
	font-size: 20px;
	line-height: 1.2em;
    width: 372px;
	position: absolute;
	top: 2.5em;
	left: 8.5em;
}

div.httperror-header {
    padding: 3.5em 0 0 3em;
	width: 100%;
}
.httperror-description p{
	line-height: 1.2em;
}

div.httperror-description {
    bottom: 90px;
    position: absolute;
    width: 270px;
    left: 2.2em;
	font-size: 15px;
	letter-spacing: 0.5px;
}

div.httperror-admin div#ups {
	padding-top:0;
}
