* {
    background-color: white !important;
    background-image: none !important;
}

img {
    border: none;
}

#footer,
#djDebug,
#header div,
#left-sidebar,
#right-sidebar {
    display: none;
}

#header div#headerlogo {
    display: block;
    clear: both;
    float: none;
}




