* {
    background-color: white !important;
    background-image: none !important;
}

img {
    border: none;
}

#footer,
#djDebug,
#toolbar,
#header div,
#portalmenu,
#breadcrumbs,
#user-actions,
#site-actions,
#content-actions,
div#left-sidebar,
div#right-sidebar,
.insert-first-section,
#portal-primary-links,
.document-section-actions-menu {
    display: none;
}

#header div#headerlogo {
    display: block;
    clear: both;
    float: none;
}

body div#content-zone {
    width: 900px;
}



