.blockContainerBorder {
    /* border-radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box-shadow */
    -webkit-box-shadow: #808080 0px 0px 10px;
    -moz-box-shadow: #808080 0px 0px 10px;
    box-shadow: #808080 0px 0px 10px;
}

.blockContainer .block {

}

.blockContainer .block .blockTools {
    float: left;
    position: absolute;
    display: none;
}

.blockContainer .block .blockTools a {
    background: transparent url("../img/arrow_refresh.png") no-repeat 0px 5px;
    width: 20px;
    height: 20px;
    display: block;
}

.blockContainer .blockDrag {
    color: #999;
    font-style: italic;
    padding: 2px;
    font-size: 1em;
}
