
/*#screenShotLinks {
  display: block;
  margin-top: 0;
}

#screenShotLinks li {
  display: inline;
  padding: 0 0.2em;
}*/

#slideshow{
    padding-left:0;
    margin-bottom: 1em;
    margin-right: 1em;
    background: white;
    float: left;
}

.simpleImgGallery2 {
  height:32px;
  padding-bottom: 3px;
  border-style: solid;
  border-width: 1px;
  margin-left: 1px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 232px;
  z-index: 10;
}

.simpleImgGallery2:hover {
  height: auto;
}

.simpleImgGallery2 img {
/*  margin-right: 0.2em;*/
}
.simpleImgGallery2 div.imageController {
  display: none;
  float: right;
  margin: 4px 1em;
  height: 24px;
  line-height: 24px;
}


.simpleImgGallery2 .galleryButton {
  border-bottom: none;
  border-left: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
  margin: 4px;
  width: 30px;
  height: 24px;
  display: block;
  float: left;
  text-align: center;
}

.prevImg {
	display: block;
	float: left;
	margin-top: 4px;
	padding-right: 2px;
}
.nextImg {
	display: block;
	float: left;
	margin-top: 4px;
}

.screenShotTable .imagesNumber {
    float: left;
}

#shadowbox_counter b,
.screenShotTable .imagesNumber {
    font-weight: bold;
    color: #a0a0a0;
}

.screenShotTable .activeButton {
    filter: alpha(opacity=100) !important;
}


.screenShotAudios,
.screenShotVideos,
.screenShotImgs {
    text-align: center;
}

.simpleImgGallery2 .activeButton {
  opacity:1;
}

#slidewhow  {
  float: left;
  margin-right: 1em;
}

#slideshow .screenShotTable {
  width: 235px !important;
  margin: 0 10px 0 -0.1em;
  position: relative;
  padding-top: 35px;
}

.withoutMenu #slideshow .screenShotTable {
  padding-top: 0px;
}

.withoutMenu #slideshow .simpleImgGallery2 {
  height: 0px;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

.withoutMenu #slideshow .MultimediaSlideVisualZone {
  padding-top: 0px;
}

span.imgMax,
span.imgNow {
    margin: 0pt;
    padding: 0pt;
    display: inline;
}


img.galleryImages {
    margin: 1em auto 0 auto;
}

span.playbutton {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: transparent url(/media/merengue/img/multimedia/video_play.png) no-repeat center center;
}

.ie6 span.playbutton {
    background: transparent url(/media/merengue/img/multimedia/video_play.gif) no-repeat center center;
}

.MultimediaItemThumbnail {
    position: relative;
}

.MultimediaSlideVisualZone {
    text-align: center;
    padding-top: 15px;
}

.MultimediaSlideVisualZone img {
    vertical-align: middle;
}
