/* -----  Externals CSS imported ----- */

@import url('editorstyles.css'); /* wysiwyg styles */


/* ----- Global styles ----- */

body {
   background-color: white;
   font-family: Verdana, Arial, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   font-size: 69%;
   line-height: normal;
   font-size-adjust: none;
   font-stretch: normal;
   -x-system-font: none;
   padding: 0px;
   margin: 0px;
   color: black;
}

p {
   margin-top: 0pt;
   margin-right: 0pt;
   margin-bottom: 0.75em;
   margin-left: 0pt;
   line-height: 1.5em;
   text-align: justify;
}

pre {
   font-family: Monaco,"Courier New",Courier,monospace;
   padding: 1em;
   border: 1px solid rgb(140, 172, 187);
   background-color: rgb(238, 238, 238);
}

ul {
    line-height: 18px;
}

p ul li {
   line-height: 1.5em;
}

body div#content-zone {
   background: transparent url(/media/img/content_back.jpg) repeat-y scroll 175px top;
   width: 980px;
}

a img {
   border: none;
}

/* ----- Develop version info ----- */
#current-svn-revision {
    position: absolute;
    top: 5px;
    right: 20px;
    color: red;
}

/* ------ Core Plugin ----- */

div#coremenu ul.menu1 li a.menu1{
    font-size: 12pt;
}

div#coremenu ul.menu1 li a.menu2{
    font-size: 10pt;
}

div#coremenu ul.menu_ul {
    list-style: none;
    text-transform: capitalize;
}

div#coremenu ul.menu_ul li.item a.item{
    font-weight: normal;
}

div#coremenu ul.menu_ul li.item.selected a.selected{
    font-weight: bold;
    text-decoration: underline;
}

div#coremenu ul.menu_ul li.item.selectedAncestors a.selectedAncestors{
    font-weight: bold;
}

div#coremenu ul.menu_ul li.item.itemhidden {
    display: none;
}

div.collab-comment-trigger,
div.collab-translation-trigger {
    display: inline;
    margin-right: 2em;
}

div.document-section {
    margin: 1em 0px;
}

/* ----- image styles ----- */
.floatImage {
    float: left;
    padding: 0.5em;
}

/* ----- Useful classes ----- */
.visualClear {
    display: block;
    clear: both;
}

.visualPadding {
    padding: 1em;
}

div.errormessage, div#messagebox ul#info-list {
    background: #FFCC1B  no-repeat scroll 5px 50%;
    border: 1px solid #FFA500;
    list-style-type: none;
    margin: 0 0 8px;
    padding: 0.5em 1em 0.5em 3em;
    color: black;
}

span.errormsg {
    background: transparent url(/media/merengue/img/icon_error.gif) no-repeat scroll 0 0;
    color: red;
    padding-left: 20px;
}

span.infomsg {
    background: transparent url(/media/merengue/img/info_icon.gif) no-repeat scroll 0 0;
    color: green;
    padding-left: 20px;
}

/* Inplace edit form */

span.inplace_view_editable_field {
    display: block;
}