/* -----  Externals CSS imported ----- */

@import url('editorstyles.css'); /* wysiwyg styles */


/* ----- Global styles ----- */

body {
   background-color: #F4F0E5;
   font-family: Verdana, Arial, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   font-size: 69%;
   line-height: normal;
   font-size-adjust: none;
   font-stretch: normal;
   -x-system-font: none;
   padding: 0px;
   margin: 0px;
   color: black;
}

p {
   margin-top: 0pt;
   margin-right: 0pt;
   margin-bottom: 0.75em;
   margin-left: 0pt;
   line-height: 1.5em;
   text-align: justify;
}

pre {
   font-family: Monaco,"Courier New",Courier,monospace;
   padding: 1em;
   border: 1px solid rgb(140, 172, 187);
   background-color: rgb(238, 238, 238);
}

ul {
    line-height: 18px;
}

p ul li {
   line-height: 1.5em;
}

body div#content-zone {
   background: transparent url(/media/img/content_back.jpg) repeat-y scroll 175px top;
   width: 980px;
}

a img {
   border: none;
}

.hide {
    display: none;
}

/* ------ Core Plugin ----- */

div#coremenu ul.menu1 li a.menu1{
    font-size: 12pt;
}

div#coremenu ul.menu1 li a.menu2{
    font-size: 10pt;
}

div#coremenu ul.menu_ul {
    list-style: none;
    text-transform: capitalize;
}

div#coremenu ul.menu_ul li.item a.item{
    font-weight: normal;
}

div#coremenu ul.menu_ul li.item.selected a.selected{
    font-weight: bold;
    text-decoration: underline;
}

div#coremenu ul.menu_ul li.item.selectedAncestors a.selectedAncestors{
    font-weight: bold;
}

div#coremenu ul.menu_ul li.item.itemhidden {
    display: none;
}

div.collab-translation-trigger {
    display: inline;
    margin-right: 2em;
}

div.document-section {
    margin: 1em 0px;
}

/* ----- image styles ----- */
.floatImage {
    float: left;
    padding: 0.5em;
}

/* ----- Useful classes ----- */
.visualClear {
    display: block;
    clear: both;
}

.visualPadding {
    padding: 1em;
}

div.errormessage, div#messagebox ul#info-list {
    background: #FFCC1B  no-repeat scroll 5px 50%;
    border: 1px solid #FFA500;
    list-style-type: none;
    margin: 0 0 8px;
    padding: 0.5em 1em 0.5em 3em;
    color: black;
}

span.errormsg {
    background: transparent url(/media/merengue/img/icon_error.gif) no-repeat scroll 0 0;
    color: red;
    padding-left: 20px;
    display: block;
    line-height: 16px;
}

span.infomsg {
    background: none;
    color: #717171;
    padding-left: 0;
}

/* ----- Inplace edit form ----- */

span.inplace_view_editable_field {
    display: block;
}

/* ----- document section ----- */
.merengue-document #mce_0_tbl {
    clear:both;
}

/* ----- section translation ----- */
#id_translation_tbl {
    width: 500px;
}

.collaborative-translation-workplace-translation-language .collab-translation-edit-form-message {
    color: black;
    padding: 0.5em;
    border: 1px solid #EFCB00;
    margin-bottom: 0.5em;
    background: #FDF7D3;
}

/* ----- Login ----- */

#login {
     width: 350px;
     margin: 100px auto;
     border: 1px solid #cccccc;
     background: #E6D8C0 url(/media/merengue/img/login_logo.jpg) no-repeat center top;
     padding: 20px;
     /* border-radius */
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
}
#login label {
	  color: #A17F59;
      text-align:right;
      float: left;
      width: 150px;
      margin-right: 5px;
      margin-top: ;      
}

#login p{
       margin-bottom: 10px;
}
#login form{
       margin-top: 150px;
}

input#id_username,
input#id_password {
    width: 155px;
}

.actionRow{
     text-align: center;
}

/* ----- blocks ----- */

.blockHiddenTitle {
    display: none;
}

/* ----- feedback plugin ----- */

#feedback .required label {
  display: inline; 
  padding-right: 8px;
  background: transparent url(/media/merengue/img/required.gif) no-repeat right center;
}

/* ----- shadowbox ----- */

#shadowbox_container #shadowbox_body {
    color: #717171;
}

/* inplaceedit */

form.inplace_description {
    float:left;
}

.edit_over_merengue {
  cursor: pointer; 
  background: #FFFFBB;
}

/* end inplaceedit */
