{% extends "rosetta/base.html" %}
{% load rosetta_originaltags i18n %}
{% block header %}
    {{block.super}}
    <div id="rosetta-tools" style="float: right; font-size: 11px; padding-right: 10px;">
        <p>
            <span>
            <a href="{% url regenerate_translations %}">{% trans "Regenerate translation"%} </a> /
            <a href="{% url rosetta-restart-server %}">{% trans "Restart web server" %}</a> /
            <a href="{% url rosetta-pick-file %}">{% trans "Pick another file" %}</a> / 
            <a href="{% url rosetta-download-file %}">{% trans "Download this catalog" %}</a> /
            <a href="{% url rosetta-update-file %}">{% trans "Update a file" %}</a>
            </span>
        </p>
    </div>
{% endblock %}

{% block breadcumbs %}
    <a href="{% url rosetta-pick-file %}">{% trans "Home" %}</a> &rsaquo; 
    {% blocktrans with rosetta_i18n_pofile.percent_translated|floatformat:2 as percent_translated  %} Update file {% endblocktrans %}
{% endblock %}

{% block main %}
    <form action="." method="POST" enctype="multipart/form-data">
            {{ form.as_django_admin }}
        <div class="submit-row">
            <input type="submit" name="_save" class="default" value="{% trans "Update File" %}"/>
        </div>
    </form>
{% endblock %}
