{% extends "base/layout.html" %}
{% load i18n inlinetrans breadcrumbs messagebox section_tags %}

{% block shortcut %}
 <link rel="shortcut icon" href="{{ THEME_MEDIA_URL }}img/favicon.ico" type="image/gif" />
{% endblock %}

{% block extrastyles %}
  <link href="{{ THEME_MEDIA_URL }}css/layout.css" rel="stylesheet" media="all" type="text/css" />
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="{{ THEME_MEDIA_URL }}css/iefixes.css" />
    <![endif]-->
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
  (function($) {
    $(document).ready(function () {
        $(function() {
        if (jQuery.browser.msie && jQuery.browser.version <= 7) {
            $("#portalmenu").addClass('IE7');
        }
        });
          $('#portalmenu ul li').hover(
          //Mouseover, fadeIn the hidden hover class
          function() {
              $(this).addClass('hover');
              elwidth = $(this).width();
              mleft = (elwidth-136)/2;
              $(this).children('div').children('table').css("margin-left", mleft +"px");
          },
          //Mouseout, fadeOut the hover class
          function() {
              $(this).removeClass('hover');
              $(this).children('div').children('table').css("margin-left", 0 +"px");
          });

    });
  })(jQuery);
</script>
{% endblock %}
{% block headerwrapper %}
  <div id="header">
    <div id="headerlogo">
      {% block headerlogo %}
        {% include "inc.headerlogo.html" %}
      {% endblock %}
    </div>
  </div>
{% endblock headerwrapper %}

{% block breadcrumbswrapper %}{% endblock %}

{% block  contentwrapper %}

    <div id="language-tools">

    {% with THEME_MEDIA_URL as MEDIA_URL %}
      {% block languagetools %}
        {% include "inc.languagetools.html" %}
      {% endblock %}
    {% endwith %}
    </div>

    <div id="header-blocks">
      {% block headerblocks %}
        {% include "inc.headerblocks.html" %}
      {% endblock %}
    </div>
  <div class="visualClear"></div>
  <div class="borderLeft"><div class="borderRight">
    <div id="user-actions">
      {% block useractions %}
        {% include "inc.useractions.html" %}
      {% endblock %}
    </div>

    <div id="site-actions">
      {% block portalactions %}
        {% include "inc.siteactions.html" %}
      {% endblock %}
    </div>
    <div class="visualClear"></div>
  {% if not request.HIDE_MENU %}
    <div id="right-sidebar">
      {% block rightsidebar %}
        {% include "inc.rightsidebar.html" %}
      {% endblock %}
    </div>
  {% endif %}
  {% if not request.HIDE_MENU %}
    <div id="left-sidebar">&nbsp;
      {% block leftsidebar %}
        {% include "inc.leftsidebar.html" %}
      {% endblock %}
    </div>
  {% endif %}

  <div id="content" class="{% block contentclass %}withsidebar{% endblock %}">
    <div id="breadcrumbs">
      {% block breadcrumbs %}
        {% include "inc.breadcrumbs.html" %}
        {% block extrabreadcrumbs %}
            {% block sectionbreadcrumbs %}
                {% if section %}
                    {% section_breadcrumbs_tag section %}
                {% endif %}
            {% endblock %}
        {% endblock %}
      {% endblock %}
    </div>
    <div id="messagebox">
      {% messagebox %}
    </div>
    {% block content %}
    {% endblock %}
  </div>
      <div class="visualClear"></div>
  </div></div>
  {% if not request.HIDE_DECORATIONS %}
    <div class="visualClear"></div>

    {% block footerwrapper %}
      <div id="footer">
      {% block footer %}
        {% include "inc.footer.html" %}
      {% endblock %}
      </div>
    {% endblock %}
  {% endif %}
{% endblock contentwrapper %}
