{% extends "base.html" %}
{% load i18n inlinetrans %}

{% block extrabodytag %}class="cmsLogin"{% endblock %}

{% block page %}

<script type="text/javascript">
 jQuery(document).ready(function() {
    jQuery('#id_username').focus()
 });
</script> 

<div id="login">
  <form method="post" action="{% url merengue_login %}">{% csrf_token %}
  {{ form.as_p }}
  <p class="actionRow">
  <input type="hidden" name="next" value="{{ next }}" />
  <input type="submit" value="{% trans "Login" %}" />
  </p>
  </form>
  <a class="resetPassword" href="{% url password_reset %}">{% inline_trans  "Reset password" %}</a>
</div>
{% endblock %}
