{% extends "base.html" %}
{% load i18n %}

{% block pagetitle %}
    {% trans "Reset password" %}
{% endblock %}

{% block extrabreadcrumbs %}
    {{ block.super }}
    <span class="breadcrumbSeparator">→</span>
    <a href="." title="{% trans "Reset Password" %}">{% trans "Reset Password" %}</a>
{% endblock %}

{% block content %}
    <div id="content-title">
      <h1 title="{% trans "Reset password" %}">{% trans "Reset password" %}</h1>
    </div>

    <form id="password-reset" action="." method="POST">
        {{ form }}
        <input type="submit" value="{% trans "Reset Password" %}" title="{% trans "Reset Password" %}"/>
    </form>
{% endblock %}