{% extends "base/layout.html" %}

{% block extrastyles %}
  <link href="{{ THEME_MEDIA_URL }}css/layout.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block headerwrapper %}
  <div id="header">

    {% block headerblockswrapper %}
    <div id="header-blocks">
      {% block headerblocks %}
        {% include "inc.headerblocks.html" %}
      {% endblock %}
    </div>
    {% endblock %}

    <div id="language-tools">
      {% block languagetools %}
        {% include "inc.languagetools.html" %}
      {% endblock %}
    </div>

    <div id="user-actions">
      {% block useractions %}
        {% include "inc.useractions.html" %}
      {% endblock %}
    </div>

    <div id="site-actions">
      {% block portalactions %}
        {% include "inc.siteactions.html" %}
      {% endblock %}
    </div>

    <div id="headerlogo">
      {% block headerlogo %}
        {% include "inc.headerlogo.html" %}
      {% endblock %}
    </div>
  </div>
{% endblock headerwrapper %}

{% block leftsidebar %}
{% endblock %}