{% extends "base/base.html" %}
{% load i18n cache inlinetrans content_tags section_tags thumbnail %}

{% block extrahead %}
  {% if search_form %}
    {{ search_form.render_media|safe }}
    <script src="{{ MEDIA_URL }}js/jquery.autolocations.js"></script>
    <script type="text/javascript">
    (function ($) {

        $(document).ready(function () {
            $("#search_form").autolocations();
        });

    })(jQuery);
    </script>

  {% endif %}
{% endblock %}

{% block extrastyles %}
   <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}jscalendar/skins/aqua/theme.css" />
{% endblock %}

{% block customstyle %}
  {% if section.has_custom_style %}
     <link href="/secciones/{{ section.slug }}/css/" rel="stylesheet" type="text/css" />
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if section %}
    <span class="breadcrumbSeparator">→</span>
    {% if not section.main_document and not document %}
        <a class="last" href="{{ section.get_absolute_url }}">{{ section.name }}</a>
    {% else %}
        {% ifequal document section.main_document %}
            {{ section.name }}
        {% else %}
            {% if section %}<a class="last" href="{{ section.get_absolute_url }}">{{ section.name }}</a>{% endif %}
            {% if document %}<span class="breadcrumbSeparator">→</span>
            {{ document.name }}{% endif %}
        {% endifequal %}
    {% endif %}
  {% endif %}
{% endblock %}
{% block pagetitle %}{% firstof document.name section.name %}{% endblock %}

{% block bodycolorclass %}{{ section.app_name }}{% endblock %}

{% block menuselected %}{{ document.slug }}{% endblock %}

{% block sidebar %}
  {% if section %}
    <h2 class="menutitle">{% inline_trans "Menu" %}</h2>
    <ul class="menu">
        {% block main_menu_static %}
            {% block main_page %} 
                <li id="index" class="noBorder"><a href="{{ section.get_absolute_url }}">{% block main_page_text_node %}{% inline_trans "Main page" %}{% endblock %}</a></li>
            {% endblock %}
            {% block main_menu_dynamic %}
                {% if section %}
                    {% if document %}
                        {% menu_tag section.main_menu "submenu" document %}
                    {% else %}
                        {% menu_tag section.main_menu "submenu" %}
                    {% endif %}
                {% endif %}
            {% endblock %}
            {% if section and section.main_menu_template %}
                {% include section.main_menu_template %}
            {% endif %}
        {% endblock %}
        {% if section.category_set.all or section.categorygroup_set.all %}
            <li id="agenda" class="">
                <a class="" href="{{ section.get_agenda_url }}">{% inline_trans "Agenda"%}</a>
            </li>
        {% endif %}
        {% block secondary_menu_static %}
            {% if section and section.secondary_menu_template %}
                {% include section.secondary_menu_template %}
            {% endif %}
        {% endblock %}
        {% block secondary_menu_dynamic %}
            {% if section %}
                {% if document %}
                    {% menu_tag section.secondary_menu "submenu" document %}
                {% else %}
                    {% menu_tag section.secondary_menu "submenu" %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </ul>
    <h2 class="menutitle">{% inline_trans "Interesting" %}</h2>
    <ul class="menu">
        {% block interest_menu_static %}
            {% if section and section.interest_menu_template %}
                {% include section.interest_menu_template %}
            {% endif %}
        {% endblock %}
        {% block interesting_menu_dynamic %}
            {% if section %}
                {% if document %}
                    {% menu_tag section.interest_menu "submenu" document %}
                {% else %}
                    {% menu_tag section.interest_menu "submenu" %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </ul>
  {% else %}
    <h2 class="menutitle">{% inline_trans "Menu" %}</h2>
    <ul class="menu">
        {% block nosection_main_menu_static %}
            {% block nosection_main_page %}
                <li id="index" class="noBorder"><a href="/">{% inline_trans "Main page" %}</a></li>
            {% endblock %}
        {% endblock %}
    </ul>
  {% endif %}
{% endblock %}

{% block content %}
  {% block contenttitlewrapper %}
  <h1>{% block contenttitle %}{{ document.name }}{% endblock %}</h1>
  {% endblock %}

  {% block contentactionswrapper %}
  <div id="content_action" class="content_action">
  {% block contentactions %}
    {% if document %}
      {% content_admin_link document %}
    {% else %}
      {% if section %}
        {% content_admin_link section %}
      {% endif %}
    {% endif %}
  {% endblock %}
  </div>
  {% endblock %}

  {% block contentdocument %}

    {% block contentphoto %}
      {% with document.photo as photo %}
      {% if photo %}
        {% if document.floatimage %}
        <div class="image-section {% if document.floatimage %}imagefloating{% endif %}">
          <img src="{% thumbnail photo 300x390 %}" alt="{{ document.photo_description }}" />
        </div>
      {% else %}
        <div class="image-section">
          <img src="{{ photo.url }}" alt="{{ document.photo_description }}" />
        </div>
      {% endif %}
      {% endif %}
      {% endwith %}
    {% endblock %}

    {% block contentcarousel %}
        {% if document.carousel %}
            {{ document.carousel.render }}
        {% endif %}
    {% endblock %}

    {% block contentbody %}
      {% if document %}
        <div class="document-body">
        {{ document.body|safe }}
        </div>
      {% endif %}
    {% endblock %}

    {% block contentsearchform %}
      {% if search_form %}
        <h2>{% inline_trans "Searcher" %}</h2>
        <div id="search_form" class="{{ search_form.search_type }}Search">
         <form action="." method="get">
         {% if document %}
           {% cache EXPIRE_TIME search_form document.get_cache_key LANGUAGE_CODE %}
             {{ search_form }}
           {% endcache %}
         {% else %}
           {{ search_form }}
         {% endif %}
         </form>
        </div>
      {% endif %}
    {% endblock %}
    {% block contentvideos %}
        {% with document.videos.published as videos %}
            {% if videos %}
            <table class="videos-container">
              <tbody><tr>
              {% for video in videos %}
                <td class="container_video_player"> <strong>{{ video.name|capfirst }}</strong>
                 <div class="video_player">
                  <object type="application/x-shockwave-flash" data="{{ MEDIA_URL }}flash/flvplayer.swf" width="320" height="262" allowFullScreen="true">
                    <param name="movie" value="{{ MEDIA_URL }}flash/flvplayer.swf" />
                    <param name="allowFullScreen" value="true" />
                    <param name="FlashVars" value="file={% if video.file %}{{ video.file.url }}{% endif %}&volume=50&image={% if video.preview %}{{ video.preview.url }}{% endif %}" />
                  </object>
                </div></td>
              {% endfor %}
              </tr></tbody>
            </table>
            {% endif %}
        {% endwith %}
    {% endblock %}
  {% endblock contentdocument %}
{% endblock %}
