{% load i18n %}
<div class="config_params_container">
  <label for="config_params_{{ param.name }}">{{ param.label|capfirst }}</label>
    {% if param.choices %}
      {% block param_choices %}
        <select {{ widget_attrs }}>
          {% with param.get_value as param_value %}
            {% for choice in param.choices %}
                <option value="{{ choice.0 }}" {% ifequal choice.0 param_value %}selected="selected"{% endifequal %}>{{ choice.1 }}</option>
            {% endfor %}
          {% endwith %}
        </select>
      {% endblock %}
    {% else %}
    {% block param_container %}
      <input {{ widget_attrs }} type="text"
                                value="{{ param.get_value_display|default_if_none:"" }}"/>
    {% endblock %}
    {% endif %}
</div>
