{% load i18n smart_if %}
<div class="config_params_container">
  <label for="config_params_{{ param.name }}">{{ param.label|capfirst }}</label>
  {% if param.choices %}
    <select {{ widget_attrs }} {% if param.get_type = "List" %}multiple="multiple"{% endif %}>
    {% for choice in param.choices %}
     {% if param.get_type = "List" %}
       <option value="{{ choice.0 }}" {% if choice.0 in param.get_value %}selected="selected"{% endif %}>{{ choice.1 }}</option>
     {% else %}
       <option value="{{ choice.0 }}" {% if choice.0 = param.get_value %}selected="selected"{% endif %}>{{ choice.1 }}</option>
     {% endif %}
    {% endfor %}
    </select>
  {% else %}
    {% ifequal param.get_type "Single" %}
      <input {{ widget_attrs }} type="text" value="{{ param.get_value|default_if_none:"" }}"/>
    {% endifequal %}
    {% ifequal param.get_type "Integer" %}
      <input {{ widget_attrs }} type="text" value="{{ param.get_value|default_if_none:"" }}"/>
    {% endifequal %}
    {% ifequal param.get_type "Bool" %}
      <input {{ widget_attrs }} type="checkbox" {% if param.get_value %}checked="checked"{% endif %}/>
    {% endifequal %}
    {% ifequal param.get_type "List" %}
       <textarea {{ widget_attrs }} >{{ param.get_value_display|default_if_none:"" }}</textarea>
    {% endifequal %}
    {% ifequal param.get_type "Text" %}
       <textarea {{ widget_attrs }} >{{ param.get_value_display|default_if_none:"" }}</textarea>
    {% endifequal %}
  {% endif %}
</div>
