/* ----- global styles ----- */


body {
    font-size: 12pt;
    font-family: arial;
}

a {
    text-decoration: none;
}

a:hover {
    color: #339911;
    text-decoration: underline;
}

h1 {
    font-size: 1.8em;
    color:#54B848;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

b,
strong {
    color: #737373;
}

/* ----- Useful class ----- */
.visualClear {
    display: block;
    clear: both;
}


/* ----- content ----- */
#container {
    background: white url(/media/themes/yaco/img/leftsidebar_green.gif) repeat-y left top;
    position: relative;
}

/* ----- header ----- */
#header {
    background: #2F2A12 url(/media/themes/yaco/img/header_back.gif) repeat-y left top;
    height: 170px;
}

#headerlogo {
    display: block;
    position: absolute;
    left: 70%;
    top: 60px;
    padding-left: 20px;
    color: white;
}

#headerlogo a.translatable {
    color: white;
}

#header-links ul {
    margin-top: 0;
    padding-top: 1em;
}

#header ul {
    margin-left: 3em;
}

#header-links ul li,
#site-actions ul li,
#language-tools ul li {
    display: inline;
}

#header-links ul li {
    border-right: 2px solid #666666;
    font-weight: bold;
    padding: 0 0.5em;
}

#user-actions a,
#header-links a {
    color: #54B848;
}

#language-tools {
    margin-top: 1em;
}

#language-tools ul {
    padding: 0 0.5em;
}

#user-actions {
    position: absolute;
    top: 70px;
    right: 100px;
    display: block;
    width: 20%;
}

#user-action a {
    color: white;
}

#site-actions {
    position: absolute;
    top: 70px;
    display: block;
    width: 70%;
}

#site-actions ul li{
    margin-right: 0.8em;

}

#site-actions a {
    color: #CCCCCC;
}


/* ----- content wrapper ----- */
div#contentwrapper {
    position: relative;
    height: 100%;
    margin-left: 2em;
    padding: 0.5em 0 0 0.5em;
}

div#contentwrapper a {
    color:#54B848;
    text-decoration: underline;
}

div#contentwrapper a:hover {
    color: #44EE22;
}

div#content {
    position: relative;
    float: left;
    background: white;
    margin-left: 10px;
    width: 65%;
    padding: 0 20px 10px 20px;
}

#content-title h1 {
    margin-top: 0.2em;
    font-size: 2.2em;
}

div#content ul {
    list-style-type: square;
    margin: 0.4em 0 0.4em 2em;
}

div#content ul#content-actions {
    border: 1px solid lightgray;
    float: right;
    margin: 0.5em;
    padding: 0.5em;
}

ul#content-actions li {
    display: block;
    list-style: none;
    font-size: 0.8em;
    font-weight: bold;
    padding: 3px 0 5px;
}

div#content ul#content-actions li a {
    display:block;
    padding-right:25px;
    text-decoration:none;
}

div#content ul#content-actions li#action-facebooklink a {
    background:transparent url(/media/themes/yaco/img/facebook.gif) no-repeat scroll right top;
}

div#content ul#content-actions li#action-facebooklink a:hover {
    background-position: right bottom;
}

li.linkAdmin a {
    background:transparent url(/media/themes/yaco/img/linkadmin_icon.png) no-repeat scroll right top;
}

.contentDescription {
    color: #999999;
}

/* ----- breadcrumbs ----- */
#breadcrumbs {
    margin-left:32px;
    margin-top:20px;
    padding-left:30px;
}


div#breadcrumbs a {
    color:#54B848;
}

div#breadcrumbs a:hover {
    text-decoration: none;
}

.breadcrumbSeparator {
    padding: 0 5px 0 2px;
}

/* -----  sidebar ----- */
.block {
    border: 1px solid #54B848;
    padding: 1em;
    width: 16em;
}

.block h1 {
    margin-top: 0;
}

/* ----- left sidebar ----- */
#left-sidebar {
    display: none;
}

/* ----- right sidebar ----- */
#right-sidebar {
    margin-left: 70%;
    padding: 0px 10px;
}


/* ----- left sidebar ----- */
#footer {
    padding-left: 3em;
    display: block;
    color: #AAAAAA;
    font-size: 0.8em;
}

#footer a {
    color: #AAAAAA;
}

/* ------ Core Plugin ----- */

ul.menu_ul {
    padding-left: 1em;
}
