{% load i18n %}
  {% if change %}
      <li class="selected"><a href=".">{{ opts.verbose_name|capfirst }} {{ original }}</a></li>
      <li><a href="owned/">{% trans "Owned contents" %}</a></li>
      <li><a href="admin/admin/logentry/">{% trans "historical" %}</a></li>
  {% endif %}
  {% if base_user %}
      <li>
        <a href="/admin/{{ base_user_opts.app_label }}/{{ base_user_opts.module_name }}/{{ base_user.id}}">
          {{ base_user_opts.verbose_name|capfirst }} {{ base_user }}</a></li>
      <li class="selected"><a href=".">{% trans "Owned contents" %}</a></li>
      <li>
        <a href="/admin/{{ base_user_opts.app_label }}/{{ base_user_opts.module_name }}/{{ base_user.id}}/admin/admin/logentry/">
         {% trans "historical" %}</a></li>
      <li>
        <a href="/admin/{{ base_user_opts.app_label }}/{{ base_user_opts.module_name }}/{{ base_user.id}}/history/" class="historylink">
         {% trans "History" %}</a></li>
  {% endif %}
