/* ----- global styles ----- */
html {
	background: -webkit-gradient(linear, left top, left bottom, from(#f4f0e5), to(#f2e0a9));
	background: -moz-linear-gradient(top,  #f4f0e5,  #f2e0a9);
	height:auto;
}

body {
    font-family: arial;
    background: #f4f0e5;
	font: 12pt/15pt Arial, Helvetica, sans-seri;
}

a {
    color:#CEA670;
    text-decoration:none;
}

a:hover{
    color:#997b53;
    text-decoration:none;
}
h1, h2, h3, h4 {
	font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
h1 {
    font-size: 1.8em;
    color:#cda873;
}

h2 {
    font-size: 1.4em;
    color:#cda873;
}

h3 {
    font-size: 1.2em;
    color:#cda873;
}

h4 {
    font-size: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* ----- Useful class ----- */
.visualClear {
    display: block;
    clear: both;
}

#container {
    margin: 0 auto 0 auto;
    width: 983px;
}

#contentwrapper {
    background: white url(/media/themes/merengue/img/content_top.jpg) no-repeat left top;
}

.borderLeft {
    background: transparent url(/media/themes/merengue/img/border_left.jpg) repeat-y left top;
    margin-left: -1px;
}

.borderRight {
    padding: 0 5px;
    background: transparent url(/media/themes/merengue/img/border_right.jpg) repeat-y right top;
}

#headerlogo {
    height: 36px;
    margin-left: 25px;
}

#language-tools {
    float: right;
    text-align: right;
    width: 100px;
    margin-top: 15px;
    margin-right: 10px;
}
#language-tools  ul li a {
    display: block;
    width: 30px;
    height: 24px;
    float: left;
}

#language-tools  ul li a#es {
    background: transparent url(/media/themes/merengue/img/flag-es.gif) no-repeat left top;
}

#language-tools  ul li a#en {
    background: transparent url(/media/themes/merengue/img/flag-en.gif) no-repeat left top;
}

#language-tools  ul li a:hover, 
#language-tools  ul li.currentLangItem a  {
    background-position: left bottom !important;
}

#header-blocks {
    padding-top: 28px;
    padding-left: 10px;
    padding-bottom: 13px;
}

#header-blocks ul {
    margin-bottom: 0.8em;
    display: inline;
}

#header-blocks li {
    background: transparent url(/media/themes/merengue/img/left_menu_button.jpg) no-repeat left top;
    padding: 5px 0 5px 11px;
}

.ie #header-blocks li {
    padding: 0px 0 0 11px;
}

#header-blocks li a {
    padding: 7px 12px 7px 5px;
    font-size: 10pt;
    background: transparent url(/media/themes/merengue/img/right_menu_button.jpg) no-repeat right top;
}

#header-blocks li a:hover {
    text-decoration: none;
}

#header-blocks li.active {
    background: transparent url(/media/themes/merengue/img/left_actived_menu_button.jpg) no-repeat left 2px;
}

.ie #header-blocks li.active {
    background-position: left 1px;
}

#header-blocks li.active a {
    padding: 0 0 9px 0;
    color: #cfa86f;
    background: transparent url(/media/themes/merengue/img/selected_menu.jpg) no-repeat center bottom;
}

#header-blocks li.active span.selectedImage {
    padding: 4px 12px 6px 5px;
    background: transparent url(/media/themes/merengue/img/right_actived_menu_button.jpg) no-repeat right top;
}

#header-blocks ul li,
#language-tools  ul li {
    display: inline;
}

#content-actions li {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 80%;
	background: #f0e6d5;
	border: 1px solid white;
	cursor: pointer;
	padding: 2px;
	text-align: center;
    float:left;
	/* box-shadow */
	-webkit-box-shadow: 0 1px 2px rgba(89, 70, 49, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(89, 70, 49, 0.3);
	box-shadow: 0 1px 2px rgba(89, 70, 49, 0.3);
	/* border-radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#site-actions li {
	margin: 0 5px 0 0;
	display: inline;
	font-size: 80%;
	background: #f0e6d5;
	border: 1px solid white;
	width: 25%;
	cursor: pointer;
	padding: 2px;
	text-align: center;
	/* box-shadow */
	-webkit-box-shadow: 0 1px 2px rgba(89, 70, 49, 0.3);
	-moz-box-shadow: 0 1px 2px rgba(89, 70, 49, 0.3);
	box-shadow: 0 1px 2px rgba(89, 70, 49, 0.3);
	/* border-radius */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* left-sidebar */
#left-sidebar {
    float: left;
    width: 244px;
}

/* right-sidebar */
#right-sidebar {
    float:right;
    display: block;
    width: 240px;
}

#right-sidebar div {
    margin: 0.4em;
}


/* site actions */
#site-actions ul li {
    display: inline;
}


/* breadcrumbs */
#breadcrumbs {
    font-size: 10pt;
}

.breadcrumbSeparator {
    background: transparent url(/media/themes/merengue/img/bread_arrow.jpg) no-repeat left center;
    font-size: 0;
    padding:8px 6px 0 4px;
} 
/* Content */
#content {
    float: left;
    width: 470px;
    padding: 0 10px;
}

body div#content-zone {
    width: auto;
	margin-top: 20px;
}

.contentDescription {
    font-size: 12px;
}


/*news*/
.news-contentbody {
    font-size: 12px;
}

.newsitem#content-title {
    font-size: 19px;
}


/* portal links */
#portal-primary-links {
    display: inline;
}

#portal-secondary-links a {
    padding-left: 10px;
}


/* comment form */
.comment {
    font-size: 12px; 
}

.comment p {
    font-size: 12px;
}

#feedback #firstcomment .actions a {
	background: #F0E6D5;
    border: 1px solid #CEA670;
}
.theme-merengue #feedback #firstcomment h3,
.theme-merengue #feedback #firstcomment .commentBody,
.theme-merengue #feedback #firstcomment .actions,
.theme-merengue #feedback .commentform,
.theme-merengue #feedback #firstcomment .commentinfo {
    background: #FDF7D3;
}

.theme-merengue #feedback .commentform form {
    border: 1px solid #EFCB00;
}

.theme-merengue #feedback .required label {
    display: inline;
    padding-right: 8px;
    background: transparent url(/media/merengue/img/required.gif) no-repeat right center;
}

.theme-merengue #feedback .required input {
    display: block;
}

.theme-merengue #feedback .errorlist {
    color: #CDA873;
}

.theme-merengue #feedback div.actions.public {
    padding: 0 0.3em 0.3em;
}

/* portlets */
#left-sidebar {
    margin-top: 11px;
}

#right-sidebar {
    margin-top: 29px;
	background-color: #fff3dd;
	min-height:300px;
	width:	22%;
	margin: 0 8px;
	border: 1px solid #ede8e8;
	/* border-radius */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
 
#left-sidebar h1,
#right-sidebar h1 {
    font-size: 1.3em;
}

/* calendar */
#eventsCalendar .ui-datepicker {
    width: 15em;
}

#eventsCalendar .ui-datepicker .ui-datepicker-prev,
#eventsCalendar .ui-datepicker .ui-datepicker-next {
    top: 6px;
}

#eventsCalendar .ui-datepicker select.ui-datepicker-month,
#eventsCalendar .ui-datepicker select.ui-datepicker-year {
    width:40%;
}

/* footer */
#footer {
    background: white url(/media/themes/merengue/img/content_bottom.jpg) no-repeat left bottom;
    display: block;
    width: 100%;
    height: 30px;
    font-size: 9pt;
    padding-top: 10px;
}

#footer-left {
    float: left;
    display: block;
    width: 245px;
}

#footer-middle {
    float: left;
    display: block;
    border-top: 1px solid #f2e3b8;
    width: 480px;
}

#footer-middle a {
    float: left;
    display: block;
    padding-top: 5px;
    padding-right: 50px;
    padding-left: 7px;
}

a#general-conditions {
    text-align: center
}

a#powered-by {
    background: transparent url(/media/themes/merengue/img/merengue_icon.jpg) no-repeat right center;
    padding-right: 20px;
    text-align: right;
}

#footer-right {
    float: left;
    display: block;
    width: 241px;
}
