{% extends "content_view.html" %}

{% load inlinetrans content_tags inplace_edit collaborative document_tags %}

 {% block extrahead %}
   {% inplace_media %}
   {% collaborative_comments_media %}
   {% collaborative_translation_media %}
   {% document_section_media %}
 {% endblock %}

{% block contentbody %}
    {% insert_document_section_after content %}

    {% for document_section in content.sections.all %}
    {% include "section/document_section_view.html" %}
    {% endfor %}
{% endblock %}
