{% load inlinetrans content_tags permission_tags inplace_edit collaborative document_tags %}

<div class="document-section" id="document-section-{{ document_section.id }}">
  {% ifcanedit user content %}
    {% if newly %}
      {% inplace_edit document_section "body|safe" %}
    {% else %}
      {% inplace_edit document_section "body|safe" "merengue.section.forms.DocumentSectionForm" %}
    {% endif %}
  {% else %}
    {{ document_section.body|safe }}
  {% endifcanedit %}
  <div class="document-section-actions">
    {% collaborative_comments document_section %}
    {% ifcanedit user content %}
      {% collaborative_translation document_section "body" 1 %}
      {% insert_document_section_after content document_section %}
    {% endifcanedit %}
  </div>
</div>
