{% load media_tags %}
{% addmedia "css" %}
  <link href="{{ MEDIA_URL }}merengue/css/section/document.css" rel="stylesheet" type="text/css" />
{% endaddmedia %}

{% if user.is_authenticated %}
{% addmedia "js" %}
  <script src="{{ MEDIA_URL }}cmsutils/js/widgets/tiny_mce/jquery.tinymce.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}merengue/js/section/DocumentSection.js" type="text/javascript"></script>
{% endaddmedia %}
  <script type="text/javascript">
  //<![CDATA[ */
  (function ($) {
    $(document).ready(function () {
        var new_tinymce_settings = {
            content_css: '{{ tinymce_extra_media.css }}',
            content_js: '{{ tinymce_extra_media.js }}',
            spellchecker_languages: '{{ TINYMCE_LANG_SPELLCHECKER }}',
            language: '{{ TINYMCE_LANG }}'
        };
        $.fn.MerengueDocument.set_tinymce_settings(new_tinymce_settings);
        $(".merengue-document").MerengueDocument();
    });
  })(jQuery);
  //]]>
  </script>
{% endif %}