{% load smart_if section_filters inplace_edit %}

{% if structure.new_level %}
    <ul class="menu_ul menu{{node.level}}  menuDepth{{ node.level|menu_less:min_level }}">
{% endif %}
{% with node.baselink.real_instance as baselink %}
{% with node.get_descendant_count as node_descendants %}
    <li id="{{ node.slug }}" class="item {% if structure.new_level %}first{% endif %} {% if node_descendants %}haveDescendants{% endif %} {% ifequal node menu_item %}selected{% endifequal %}{% if node in ancestors %}selectedAncestors{% endif %}">
        <a href="{{ node.get_absolute_url }}" title="{% if node.help_text %}{{ node.help_text }}{% else %}{{ node.name }}{% endif %}"
           {% if baselink.target_blank %}target="_blank"{% endif %}class="{{ baselink.link_class }} item {% ifequal node menu_item %}selected{% endifequal %}{% if node in ancestors %}selectedAncestors{% endif %}  menu{{node.level}}">{% inplace_edit "node.name" %}</a>
    {% if not node_descendants %}
        </li>
    {% else %}
        {% if max_level %}
            {% if node.level >= max_level %}
                {% ifnotequal node menu_item %}
                    </li>
                {% endifnotequal %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endwith %}
{% endwith %}

{% for level in structure.closed_levels %}
    {% if level > 1 %}
        </ul></li>
    {% else %}
        {% ifequal level 1 %}
            </ul>
        {% endifequal %}
    {% endif %}
{% endfor %}



