{% load smart_if section_filters %}

{% if structure.new_level %}
    <ul class="menu_ul menu{{node.level}}  menuDepth{{ node.level|menu_less:min_level }}">
{% endif %}
{% with node.get_absolute_url as node_url %}
    <li id="{{ node.slug }}" class="item {% if structure.new_level %}first{% endif %} {% ifequal node menu_item %}selected{% endifequal %}{% if node in ancestors %}selectedAncestors{% endif %}">
        <a href="{{ node.get_absolute_url }}" class="item {% ifequal node menu_item %}selected{% endifequal %}{% if node in ancestors %}selectedAncestors{% endif %}  menu{{node.level}}">{{ node.name }}</a>
    {% if not node.get_descendants %}
        </li>
    {% else %}
        {% if max_level and node.level >= max_level %}
            </li>
        {% endif %}
    {% endif %}
{% endwith %}

{% for level in structure.closed_levels %}
    {% if level > 1 %}</ul></li>{% endif %}
{% endfor %}



