{% extends "base.html" %}

{% load inlinetrans i18n content_tags %}

{% block pagetitle %}
    {{ menu }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <span class="breadcrumbSeparator">→</span>
  <a href="{{ menu.get_absolute_url }}" title="{{ menu }}">{% cutrender %}{{ menu }}{% endcutrender %}</a>
{% endblock %}

{% block content %}
  <div id="content-title" class="{{ content.class_name }}">
    <h1 title="{{ content.name }}">{% inline_trans "Empty Menu" %}</h1>
  </div>
  <p class="emptyMenu">{% inline_trans "This menu does not link to any target" %}</p>
  {% if can_edit %}<p class="emptyMenu"><a href="{{ menu.get_admin_absolute_url }}">{% inline_trans "Admin this menu" %}</a></p>{% endif %}
{% endblock %}

