{% extends base_template %}

{% load i18n content_tags %}

{% block pagetitle %}
    {{ menu }}
{% endblock %}

{% block sectionbreadcrumbs %}
{% endblock %}

{% block contentbreadcrumbs %}
    {% for link, label in menu.get_breadcrumbs %}
        <span class="breadcrumbSeparator">→</span>
        <a href="{{ link }}" title="{{ label }}">{% cutrender %}{{ label }}{% endcutrender %}</a>
    {% endfor %}
    <span class="breadcrumbSeparator">→</span>
    <a href="{{ menu.get_absolute_url }}" title="{{ menu }}">{% cutrender %}{{ menu }}{% endcutrender %}</a>
{% endblock %}
