{% extends base_template %}

{% load i18n content_tags viewlet_tags %}

{% block pagetitle %}
    {{ menu }}
{% endblock %}

{% block extrabreadcrumbs %}
    {% for link, label in menu.get_breadcrumbs %}
        <span class="breadcrumbSeparator">→</span>
        <a href="{{ link }}" title="{{ label }}">{% cutrender %}{{ label }}{% endcutrender %}</a>
    {% endfor %}
    <span class="breadcrumbSeparator">→</span> {{ registered_viewlet.get_registry_item.label }}
{% endblock %}

{% block content %}
  {% render_viewlet registered_viewlet %}
{% endblock %}