{% extends "rosetta/base.html" %}
{% load i18n %}
{% block header %}
    {{ block.super }}
    <div id="rosetta-tools" style="float: right; font-size: 11px; padding-right: 10px;">
        <p>
            <span><a href="{% url rosetta-pick-file %}">{% trans "Pick another file" %}</a></span> / 
            <a href="{% url rosetta-download-file %}">{% trans "Download this catalog" %}</a></span>
        </p>
    </div>
{% endblock %}
{% block breadcumbs %}
    <a href="{% url rosetta-pick-file %}">{% trans "Home" %}</a> &rsaquo; {% trans "Restart server" %}
{% endblock %}
{% block main %}
  <div>

    <h1>{% trans "Are you sure you want to restart web server?" %}</h1>

    <form action="" method="post">
    <div class="submit-row" style="text-align: center">
      <input type="submit" value='{% trans "Yes, I am sure" %}'/>
    </div>
    </form>
  </div>
{% endblock %}
